<head>
  <meta charset="utf-8">
</head>
<!-- 
 <div class="row div-login">
   <form class="col s12" [formGroup]="formulario" (ngSubmit)="save()">
     <div class="row">
       <div class="input-field col s12">
         <i class="material-icons prefix">account_circle</i>
         <input id="funcao" type="text" class="validate" formControlName="funcao">
         <label for="funcao" 
	         data-success="Ok!"
         >Função</label>
       </div>  
     </div>
     <div class="row">
	    <p>
	      <input name="leitura" type="radio" 
	      id="rb_leitura" value="leitura" formControlName="leitura"/>
	      <label for="rb_leitura">Leitura</label>
	    </p>
	    <p>
	      <input name="escrita" type="radio" 
	      id="rb_escrita" value="escrita" formControlName="escrita"/>
	      <label for="rb_escrita">Escrita</label>
	    </p>
     </div>
     <div class="row" style="display: none;">
       <div class="input-field col s12">
         <input id="perfil" type="text" class="validate" formControlName="perfil">
         <label for="perfil">Perfil</label>
       </div>  
     </div>
     <div class="row">
       <div class="msgError red-text " *ngIf="verifyError">
         <div class="card-panel red lighten-1">
          <span class="white-text">{{msgError}}</span>
        </div>
       </div>
     </div>
     <div class='row'>
       <button type="submit" class="btn btn-primary" [disabled]="isValid()">Salvar</button>
     </div>
   </form>
 </div>
  -->
