[type="checkbox"]:not(:checked), [type="checkbox"]:checked  {
    position: absolute;
    opacity: 0;
    margin-top: 15px;
    pointer-events: auto;
}

table {
	border: 1px solid #c0c0c0;
    margin-top: 25px;
}

thead > tr {
	margin-bottom: 0px;
	border-bottom: 1px solid;
}

td > a > i {
	margin-top: -5px;
}

tbody{
	margin-top: 10px;
	border-bottom: 1px solid #c0c0c0;	
}

.btn-remove {
	margin-top: -5px;
    margin-bottom: 3px;
	width: 30px;
    height: 30px;
}

.botao-remover {
	padding-left: 30px;
}

.resultado {
	margin-top: -5px;
}

.btn-add1 {
	margin-top: 0px;
}

.content-resultado-exame {
	max-height: 600px;
    overflow: auto;	
    overflow-x: hidden;
}

.conforme {
	margin-top: 25px;
}

fieldset {
	border: 1px solid #4fc3f7 !important;
}