<head>
<meta charset="utf-8">
</head>

<!-- Preload  -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<div class="row form-container">

	<div>
		<h6>Nome do Empregado: <b>{{empregadoConvocacao.empregado.pessoa.nome}}</b></h6>
	</div>
	<form #form="ngForm" class="col s12" (ngSubmit)="save()">
		
		<div class="row">

			<fieldset>
				<legend class="legend">
					Resultados dos Exames <a
						class="btn-floating waves-effect waves-light green btn-add-fieldset"
						(click)="addResultadoExame()"> <i
						class="material-icons center-icon">add</i>
					</a>
				</legend>

				<div class="content-resultado-exame">
					<div class="row" style="margin-left: 50px">
						<div class="input-field col s4 checkbox">
							<input type="checkbox" id="selecionarTodos"
								[(ngModel)]="selecionarTodos" (click)="selectAll()"
								name="selecionarTodos">
							<label for="selecionarTodos">Selecionar/Desselecionar todos</label>
						</div>

						<div class="input-field col s4 checkbox" *ngIf="!verifyAuditado()">
							<input type="checkbox" disabled
								id="empregadoConvocacao.resultadoAuditado"
								[(ngModel)]="empregadoConvocacao.resultadoAuditado"
								name="empregadoConvocacao.resultadoAuditado">
							<label for="empregadoConvocacao.resultadoAuditado">Auditado</label>
						</div>

						<div class="input-field col s4 checkbox" *ngIf="verifyAuditado()">
							<input type="checkbox" id="empregadoConvocacao.resultadoAuditado"
								[(ngModel)]="empregadoConvocacao.resultadoAuditado"
								name="empregadoConvocacao.resultadoAuditado"> 
								<label for="empregadoConvocacao.resultadoAuditado">Auditado</label>
						</div>
					</div>
					<div
						*ngFor="let rEx of empregadoConvocacao.resultadoExames;let iREx = index">

						<fieldset>
							<legend class="legend">
								Resultado Exame <a
									class="btn-floating waves-effect waves-light red btn-add-fieldset"
									(click)="removeResultadoExame(iREx)"> <i
									class="material-icons center-icon">delete</i>
								</a>
							</legend>

							<div class="row">
								<div class="input-field col s6">
									<label for="empregado">Exame</label>
									<div>
										<input class="col s3" 
											type="text" disabled
											name="empregadoConvocacao.resultadoExames[{{iREx}}].exame.codigo"
											[(ngModel)]="empregadoConvocacao.resultadoExames[iREx].exame.codigo">
										<input class="col s8"
											type="text" materialize="autocomplete" autocomplete="off"
											name="exame[{{iREx}}]"
											[(ngModel)]="empregadoConvocacao.resultadoExames[iREx].exame.descricao"
											(blur)="getExame($event, iREx);"
											(focus)="focusExame($event, iREx);"
											(ngModelChange)="selectExameByCodigo($event, iREx); selectExameByDescricao($event, iREx);"
											[materializeParams]="autocompleteExame">
									</div>	
								</div>

								<div class="input-field col s3">
									<label for="data">Data de Realização</label>
									<my-date-picker name="resultadoExame[{{iREx}}].data"
										[options]="myDatePickerOptions"
										[(ngModel)]="dataResultadoExames[iREx]" placeholder="Data">
									</my-date-picker>
								</div>

								<div class="input-field col s3 checkbox conforme">
									<input type="checkbox" id="resultadoExame[{{iREx}}].conforme"
										[(ngModel)]="rEx.conforme" (click)="selectConform(iREx)"
										name="resultadoExame[{{iREx}}].conforme"> <label
										for="resultadoExame[{{iREx}}].conforme"></label> <label>Conforme</label>
								</div>

							</div>

							<div class="row">
								<div class="input-field col s4">
									<fieldset>
										<legend>Ação</legend>
										<select
											name="empregadoConvocacao.resultadoExames[{{iREx}}].acao"
											class="browser-default"
											[(ngModel)]="empregadoConvocacao.resultadoExames[iREx].acao">
											<option disabled selected value="">Selecione uma ação</option>
											<option *ngFor="let acao of acoes" value="{{acao}}">
												{{acao}} 
											</option>
										</select>
									</fieldset>
								</div>

								<div class="input-field col s4">
									<fieldset>
										<legend>Tipo</legend>
										<select
											name="empregadoConvocacao.resultadoExames[{{iREx}}].tipo"
											class="browser-default"
											[(ngModel)]="empregadoConvocacao.resultadoExames[iREx].tipo">
											<option disabled selected value="">Selecione um tipo</option>
											<option *ngFor="let tipo of tipos" value="{{tipo}}">
												{{tipo}} 
											</option>
										</select>
									</fieldset>
								</div>

								<div class="input-field col s4">
									<label for="local">Local</label> <input id="local" type="text"
										name="empregadoConvocacao.resultadoExames[{{iREx}}].local"
										[(ngModel)]="empregadoConvocacao.resultadoExames[iREx].local">
								</div>

							</div>
							<div class="row">
								<div class="col s6">
									<fieldset>
										<legend>Campo do Exame</legend>

										<div class="col s10">
											<select name="empregadoConvocacao.resultadoExames[{{iREx}}].itemResultadoExames"
												class="browser-default" #campo
												(focus)='choiseCampoExame(iREx, false)'>
												<option disabled selected value=0>Selecione um item</option>
												<option *ngFor="let campo of campoExames"
													value="{{campo.id}}">
												{{campo.codigo}} - {{campo.titulo}} 
											</option>
											</select>
										</div>

										<div class="col s2">
											<a
												class="btn-floating waves-effect waves-light green btn-add1"
												(click)="addItemResultadoExame(iREx, campo.value)"> <i
												class="material-icons center-icon">add</i>
											</a>
										</div>
									</fieldset>

								</div>

								<div class="input-field col s4">
									<label for="data">Data de Recebimento</label>
									<my-date-picker name="resultadoExame[{{iREx}}].dataRecebimento"
										[options]="myDatePickerOptions"
										[(ngModel)]="dataRecebimentoExames[iREx]" placeholder="Data Recebimento">
									</my-date-picker>
								</div>
							</div>
							
							<div class="row">

								<table class="striped">
									<thead>
										<tr class="row col s12">
											<th class="col s1">Código</th>
											<th class="col s3">Título</th>
											<th class="col s7">Resultado</th>
											<th class="col s1">Remover</th>
										</tr>
									</thead>
									<div
										*ngFor="let itemResultadoExame of rEx.itemResultadoExames;let i = index">
										<tbody class="col s12">
											<tr class="col s12">
												<td class="col s1 codigo">{{itemResultadoExame.codigo}}</td>
												<td class="col s3 titulo">{{itemResultadoExame.titulo}}</td>
												<td class="col s7 resultado">
													<div [ngSwitch]="itemResultadoExame.codigo">
														<div *ngSwitchCase="010" class="col s5" style="padding: 0">
															<my-date-picker name="itemResultadoExameData[{{iREx}}]"
																[options]="myDatePickerOptions"
																[(ngModel)]="dataItemResultadoExames[iREx]" placeholder="Data">
															</my-date-picker>
														</div>
														<div *ngSwitchDefault>
															<textarea id="empregadoConvocacao.resultadoExames[{{iREx}}].itemResultadoExame[{{i}}].resultado"
																name="empregadoConvocacao.resultadoExames[{{iREx}}].itemResultadoExame[{{i}}].resultado"
																[(ngModel)]="itemResultadoExame.resultado"></textarea>
														</div>
													</div>
												</td>
												<td class="col s1 botao-remover"><a
													class="btn-floating waves-effect waves-light red btn-remove"
													(click)="removeItemResultadoExame(iREx, i)"> <i
														class="material-icons center-icon">delete</i>
												</a></td>
											</tr>
										</tbody>
									</div>

								</table>

							</div>

							<input id="id"
								name="empregadoConvocacao.resultadoExames[{{iREx}}].id"
								type="hidden"
								[(ngModel)]="empregadoConvocacao.resultadoExames[iREx].id">
							<input id="version"
								name="empregadoConvocacao.resultadoExames[{{iREx}}].version"
								type="hidden"
								[(ngModel)]="empregadoConvocacao.resultadoExames[iREx].version">

						</fieldset>
					</div>
				</div>
			</fieldset>

		</div>
		<!-- 
			</div>
 
		</div>
-->
		<div class="mensagem">
			<app-mensagem-form *ngIf="verifyError" [color]="colorError"
				[msg]="msgError"></app-mensagem-form>
		</div>

		<div class='row row-btns'>
			<div class="col s6">
				<a [routerLink]="['/auditoria-resultado-exame']"
					class="btn btn-primary btn-listar">Listar</a>
			</div>
			<div class="col s6">
				<button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
			</div>
		</div>
	</form>
</div>

<div materialize [materializeParams]="toastParams"
	[materializeActions]="globalActions"></div>