<head>
<meta charset="utf-8">
</head>

<!-- Preload -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<p style="color: #26a69a; margin-left: -12%;"><b>Nome do Empregado: {{riscoPotencial.empregado.pessoa.nome}}</b>
<a  class="waves-effect" style=" margin-left: 5%;" (click)="saveAndRedirect()" *ngIf="validarReavaliacao()">
	<i  class=" medium material-icons center-icon">rotate_right</i></a> 
<b *ngIf="validarReavaliacao()">Reavaliar</b>
</p> 			

<div class="form-container">
	<form #form="ngForm" (ngSubmit)="save()">
		<div class="row">
		<div class="esquerda">
				<div class="listClick collection">
					<p *ngIf="triagens.length > 0" style="color: #26a69a; text-align: center;"><b>Indicador</b></p>
				     <div class="row row-collection"  *ngFor="let triagem of triagens; let t = index">
				     	<a (click)="selectTriagem(t)" class="collection-item" [ngClass]="triagem.selecionado" [routerLinkActive]="['active']">
				     	{{triagem.equipeAbordagem.abreviacao}} - {{triagem.indicadorSast.nome}}</a>
				     </div>
				</div>
				<div class="listClick2 collection" *ngIf="triagemAux.id > 0">
						 <p *ngIf="triagemAux.acoes.length > 0" style="color: #26a69a; text-align: center;"><b>Ação</b></p>
					     <div class="row row-collection" *ngFor="let acao of triagemAux.acoes ; let a = index">
					     	<a (click)="selectAcao(a)" class="collection-item" [ngClass]="acao.selecionado" [routerLinkActive]="['active']">
					     	{{textUtil.shortText(acao.acaoIntervencao.descricao)}}</a>		
					     </div>				
				</div>
				<div class="lado" *ngIf="acaoAux.id > 0">
				<div class="col s10" >
					<div class="col s12">
				         <p><b>TIPO: {{acaoAux.tipo}}</b></p>
				         <p><b>STATUS: {{acaoAux.status}}</b></p>
				         <p><b>TIPO DE CONTATO: {{acaoAux.tipoContato}}</b></p>
				         <p><b>AÇÃO: {{acaoAux.acaoIntervencao.descricao}}</b></p>
			        </div>
			     </div>
		      <div class="col s10" >		
				  <div class="input-field col s6" *ngIf="verifyAcompanhamento()">
						<p>
							<a   class="btn-floating waves-effect waves-light green btn-add"
								(click)="addAcompanhamento()"> <i
								class="material-icons center-icon">add</i>
							  </a>
					        <label style="color: #26a69a;">Adicionar Acompanhamento</label>
					    </p>
	   			  </div>
	   			  <div class="input-field col s3" *ngIf="verifyEncerrarAcompanhamento()">
   			  			<a class="waves-effect"
								(click)="encerrarAcao()"> 
								<i class="medium material-icons center-icon">done</i>
						</a>
	   			  		<label style="color: #26a69a;">Encerrar</label>
					</div>
					<div class="input-field col s3" *ngIf="verifyValidarAcompanhamento()">
   			  			<a class="waves-effect"
								(click)="validarAcao()"> 
								<i class="medium material-icons center-icon">done_all</i>
						</a>
	   			  		<label style="color: #26a69a;">Validar</label>
					</div>
			        </div>
			        <div class="col s10 margemTable">	
			        <div class="row">
						<table class="striped">
							<thead>
								<tr class="row col s12">
									<th class="col s10">Descrição</th>
									<th class="col s1">Editar</th>
									<th class="col s1">Remover</th>
								</tr>
							</thead>
							<div *ngFor="let acompanhamento of acaoAux.acompanhamentos; let a = index">
								<tbody class="col s12">
									<tr class="col s12">
										<td class="col s10">{{acompanhamento.descricao}}</td>
										<td class="col s1">
											<a *ngIf="verifyAcompanhamento()" class="waves-effect"
												(click)="editAcompanhamento(a)"> 
												<i class="material-icons center-icon">mode_edit</i>
											</a>
										</td>
										<td class="col s1">
											<a *ngIf="verifyAcompanhamento()" class="waves-effect"
												(click)="removeAcompanhamento(a)"> 
												<i class="material-icons center-icon">delete</i>
											</a>
										</td>		
									</tr>
								</tbody>
							</div>
						</table>
					</div>
			        
			    </div>  
		    </div>  
			</div>
			
		</div>
		<div class='row'>
			<div class="col s12">
				<button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
			</div>
		</div>
	</form>

	<div class="mensagem">
		<app-mensagem-form *ngIf="verifyError" [color]="colorError"
			[msg]="msgError"></app-mensagem-form>
	</div>
</div>

<div id="modal" class="modal" materialize="modal"
	[materializeParams]="modelParams" [materializeActions]="modalAcompanhamento">

	<div class="row row-modal-acompanhamento">
		<div class="row">
			<div class="input-field col s12">
				<fieldset>
					<legend>Descrição</legend>
					<textarea class="materialize-textarea" [(ngModel)]="acompanhamentoAux.descricao" maxlength="2048"
						name="acompanhamentoAux.descricao"></textarea>
				</fieldset>
			</div>
		</div>

	

	<div class="modal-footer">
		<a class="waves-effect waves-green btn-flat" (click)="closeModal()">Fechar</a>
		<a class="modal-action modal-close waves-effect waves-green btn-flat"
			(click)="confirmAddAcompanhamento()">Confirmar</a>
	</div>

</div>

<div materialize [materializeParams]="toastParams"
	[materializeActions]="globalActions"></div>