.form-container {
	margin-bottom: 100px;
}

.cabecalho > h5 {
	color: #26a69a;
}

.btn-avancar { 
	margin-top: 50px;
    float: right;
}

.botao-voltar {
	margin-top: 50px;
    float: left;
}

.btn-back {
	
}

.row-btns {
	
}

.right {
	float: right;
}