<head>
<meta charset="utf-8">
</head>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[reload]="reload"></app-confirm-save>

<div class="row form-container">
	<form class="col s12" (ngSubmit)="checkOut( localizacao.value )">

		<div class="content-dados">

			<fieldset class="fldst">
				<legend>Dados do Empregado</legend>

				<fieldset class="fldst">
					<legend>Localizacao</legend>
					<div class="input-field col s12">
						<select class="browser-default" #localizacao>
							<option disabled selected value=0>Selecione uma localização</option>
							<option *ngFor="let localizacao of localizacoes"
								value="{{localizacao.id}}">{{localizacao.nome}}</option>
						</select>
					</div>
				</fieldset>
<br><br>
				<div class="row">

					<div class="input-field col s12">
						<label for="empregado">Matrícula do Empregado</label>
						<input required
							type="text" materialize="autocomplete" autocomplete="off"
							name="filaEsperaOcupacional.empregado.matricula"
							[(ngModel)]="filaEsperaOcupacional.empregado.matricula"
							(blur)="autoCompleteEmp.getAutocomplete().getObj($event,filaEsperaOcupacional,'setEmpregado','getMatricula')"
							(ngModelChange)="autoCompleteEmp.getAutocomplete().getList(filaEsperaOcupacional.empregado, 'getMatricula');"
							[materializeParams]="autoCompleteEmp.getAutocomplete().getObjAutoComplete()">
					</div>

				</div>

			</fieldset>
		</div>

		<div class="mensagem">
			<app-mensagem-form *ngIf="verifyError" [color]="colorError"
				[msg]="msgError"></app-mensagem-form>
		</div>

		<div class='row row-btns'>
			<div class="col s12 btn-checkout">
				<button type="submit" class="btn btn-primary btn-salvar">Check-Out</button>
			</div>
		</div>
	</form>
</div>

<div materialize [materializeParams]="toastParams"
	[materializeActions]="globalActions"></div>