<head>
<meta charset="utf-8">
</head>

<!-- Preload -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<h5 [ngStyle]="{'color': corTitulo}" class="center-align">{{titulo}}</h5>
<div class="row">

	<form #form="ngForm" class="col s12" (ngSubmit)="save()">

		<div class="row">
			<div class="col s12">
				<ul class="tabs" materialize="tabs">
					<li class="tab col s4"><a RouterLinkActive="active"
						href="#dadosGerais">Dados Gerais</a></li>
					<li class="tab col s4"><a RouterLinkActive="active"
						href="#curriculo">Currículo</a></li>
					<li class="tab col s4"><a RouterLinkActive="active"
						href="#profissionalConselho">Conselho</a></li>
				</ul>
			</div>

			<div id="dadosGerais">

				<div class="row">
					<div class="input-field col s8">
						<label for="empregado">Nome do Empregado</label> <input
							type="text" materialize="autocomplete"
							name="profissionalSaude.empregado.pessoa.nome"
							[(ngModel)]="profissionalSaude.empregado.pessoa.nome"
							(focusout)="getEmpregado($event)"
							(ngModelChange)="selectEmpregadoByChave($event); selectEmpregado($event);"
							[materializeParams]="autocompleteEmpregado"> <input
							id="profissionalSaude.empregado.pessoa.id" type="hidden"
							name="profissionalSaude.empregado.pessoa.id"
							[(ngModel)]="profissionalSaude.empregado.pessoa.id">
					</div>
					
					<div class="input-field col s4">
						<label for="dataAso">Data do ASO</label>
						<my-date-picker name="dataAso"
							[options]="myDatePickerOptions" [(ngModel)]="dataAso"
							placeholder="Data do ASO"> </my-date-picker>
					</div>
				</div>

				<div class="row">
				
					<div class="input-field col s4">
						<label for="matricula">Matricula</label> <input disabled
							id="matricula" maxlength="10" type="text"
							[(ngModel)]="profissionalSaude.empregado.matricula"
							name="matricula">
					</div>
					
					<div class="input-field col s4">
						<label for="ramal" maxlength="12">Ramal</label> <input disabled
							id="ramal" type="text"
							[(ngModel)]="profissionalSaude.empregado.ramal" name="ramal">
					</div>

					<div class="input-field col s4">
						<label for="chave">Chave</label> <input disabled id="chave"
							type="text" [(ngModel)]="profissionalSaude.empregado.chave"
							maxlength="8" name="chave">
					</div>
				</div>

				<div class="row selects">

					<div class="input-field col s6">
						<fieldset>
							<legend>Localização</legend>
							<select name="localizacao" class="browser-default"
								[(ngModel)]="profissionalSaude.localizacao.id">
								<option disabled selected value=0>Selecione uma localização</option>
								<option *ngFor="let localizacao of localizacoes"
									value="{{localizacao.id}}">{{localizacao.nome}}</option>
							</select>
						</fieldset>
					</div>

					<div class="input-field col s6">
						<fieldset>
							<legend>Equipe</legend>
							<select name="equipe" class="browser-default"
								[(ngModel)]="profissionalSaude.equipe.id">
								<option selected value=0>Selecione uma equipe</option>
								<option *ngFor="let equipe of equipes" value="{{equipe.id}}">{{equipe.nome}}</option>
							</select>
						</fieldset>
					</div>
					
				</div>

				<input id="id" name="profissionalSaude.empregado.pessoa.id{{i}}" type="hidden"
					[(ngModel)]="profissionalSaude.empregado.pessoa.id"> <input
					id="version" name="profissionalSaude.empregado.pessoa.version{{i}}" type="hidden"
					[(ngModel)]="profissionalSaude.empregado.pessoa.version">

			</div>

			<div id="curriculo">

				<div class="form-group">
					<div class="row">
						<div class="input-field col s12">
							<label for="historico" maxlength="4096">Histórico</label>
							<textarea id="historico" class="materialize-textarea"
								[(ngModel)]="profissionalSaude.curriculo.historico"
								name="curriculo.historico"
								date-error="É necessário informar um histórico."></textarea>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s12">
							<label for="formacao" maxlength="512">Formação</label>
							<textarea id="formacao" class="materialize-textarea"
								[(ngModel)]="profissionalSaude.curriculo.formacao"
								name="curriculo.formacao"></textarea>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s12">
							<label for="atuacao" maxlength="512">Atuação</label>
							<textarea id="atuacao" class="materialize-textarea"
								[(ngModel)]="profissionalSaude.curriculo.atuacao"
								name="curriculo.atuacao"></textarea>
						</div>
					</div>

					<fieldset>
						<legend class="legend">
							Cursos <a
								class="btn-floating waves-effect waves-light green btn-add-permissoes"
								(click)="addCurriculoCurso()"> <i
								class="material-icons center-icon">add</i>
							</a>
						</legend>
						<div class="form-group">
							<div
								*ngFor="let curriculoCurso of profissionalSaude.curriculo.curriculoCursos;let i = index">

								<div class="row">
									<div class="input-field col s6">
										<fieldset>
											<legend>Curso</legend>
											<select class="browser-default"
												name="profissionalSaude.curriculo.curriculoCursos[{{i}}].curso.id"
												[(ngModel)]="profissionalSaude.curriculo.curriculoCursos[i].curso.id">
												<option selected disabled value=0>Selecione uma curso</option>
												<option *ngFor="let curso of cursos" value="{{curso.id}}">{{curso.nome}}
											</option>
											</select>
										</fieldset>
									</div>

									<div class="input-field col s4">
										<label for="dataCurriculoCurso">Data</label>
										<my-date-picker name="data" [options]="myDatePickerOptions"
											name="profissionalSaude.curriculo.curriculoCursos[{{i}}].data"
											[(ngModel)]="dataCurriculoCursos[i]" placeholder="Data">
										</my-date-picker>
									</div>

									<div class="col s2">
										<a
											class="btn-floating waves-effect waves-light red btn-remove-permission"
											(click)="removeCurriculoCurso(i)"> <i
											class="material-icons center-icon">delete</i>
										</a>
									</div>

								</div>

							</div>

						</div>

					</fieldset>


					<input id="id" name="curriculo.id{{i}}" type="hidden"
						[(ngModel)]="profissionalSaude.curriculo.id"> <input
						id="version" name="curriculo.version{{i}}" type="hidden"
						[(ngModel)]="profissionalSaude.curriculo.version">

				</div>

			</div>

			<div id="profissionalConselho">

				<div class="form-group">
					<div class="row">
						<div class="input-field col s12">
							<label for="conselho" maxlength="200">Conselho</label> <input
								id="conselho" type="text"
								name="profissionalSaude.profissionalConselho.conselho"
								name="profissionalConselho.conselho"
								[(ngModel)]="profissionalSaude.profissionalConselho.conselho">
						</div>
					</div>

					<div class="row">
						<div class="input-field col s4">
							<label for="numero" maxlength="26">Numero</label> <input
								id="numero" type="text"
								name="profissionalSaude.profissionalConselho.numero"
								[(ngModel)]="profissionalSaude.profissionalConselho.numero">
						</div>

						<div class="input-field col s4">
							<label for="uf" maxlength="2">UF</label> <input id="uf"
								type="text" name="profissionalSaude.profissionalConselho.uf"
								[(ngModel)]="profissionalSaude.profissionalConselho.uf">
						</div>

						<div class="input-field col s4">
							<label for="vencimento" maxlength="2">Vencimento</label>
							<my-date-picker name="vencimentoProfissionalConselho"
								[options]="myDatePickerOptions"
								[(ngModel)]="vencimentoProfissionalConselho"
								placeholder="Vencimento"></my-date-picker>
						</div>
					</div>

					<input id="id" name="profissionalConselho.id" type="hidden"
						[(ngModel)]="profissionalSaude.profissionalConselho.id"> <input
						id="version" name="version" type="hidden"
						[(ngModel)]="profissionalSaude.profissionalConselho.version">
				</div>

			</div>

		</div>

		<input id="id" name="id" type="hidden"> <input id="version"
			name="version" type="hidden">

		<div class="mensagem">
			<app-mensagem-form *ngIf="verifyError" [color]="colorError"
				[msg]="msgError"></app-mensagem-form>
		</div>

		<div class='row row-btns'>
			<div class="col s6">
				<button type="submit" class="btn btn-primary">Salvar</button>
			</div>
			<div class="col s6">
				<a [routerLink]="['/profissional-saude']"
					class="btn btn-primary btn-listar-perfis">Listar</a>
			</div>
		</div>
		
		<div materialize [materializeParams]="toastParams"
			[materializeActions]="globalActions"></div>

	</form>
</div>