.content-buttons-fila {
	text-align: center;
}

.btn-fila {
	margin-left: 30px;	
}

.input-field-empregado {
	margin: 0 auto;
}

.row-empregado {
	margin: 0 auto;
}

.input-empregado {
	height: 30px !important;
}

.btn-atendimento {
	margin-left: 70px;
}

table {
	border: 1px solid #c0c0c0;
    margin-top: 25px;
}

thead > tr {
	margin-bottom: 0px;
	border-bottom: 1px solid;
}

.btn-floating i {
	font-size: 1.3rem;
}

td > a > i {
	margin-top: -5px;
}

tbody{
	margin-top: 10px;
	border-bottom: 1px solid #c0c0c0;	
}

.btn-add-fieldset {
	margin-left: 15px;
}

.center-icon {
	margin-top: 0px;
}

.select-localizacao {
	width: 50% !important;
	margin: 0 auto !important;
}

.row-localizacao {
	margin-top: 30px;
	margin-bottom: 30px;
}

.profissional-nome {
	padding-left: 0px;
}

.profissional-status {
	
}

.empregado-nome {
	
}

.infos-profissional {
	color: #26a69a;
    display: inline-flex;
}

.nome-profissional {
	margin-bottom: 0px;
}

.status-profissional {
	margin-left: 10px;
    border-left: 1px solid;
    padding-left: 10px;
}