<head>
<meta charset="utf-8">
</head>

<!-- Preload  -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<div class="row infos-profissional">
	<p class="nome-profissional">
		<b>Profissional: {{profissional?.empregado.pessoa.nome}}</b>
	</p>
	<p class="status-profissional">
		<b>Status: {{atendimento?.filaAtendimentoOcupacional.status}}</b>
	</p>
</div>

<div class="row form-container">

	<div class="col s12">
		<ul materialize="tabs" [materializeActions]="tabsActions" class="tabs" style="overflow-x: auto;">
			<li class="tab"><a href="#filaAtendimento">Fila</a></li>
			<li class="tab"><a href="#atendimento">Atendimento</a></li>
			<li class="tab"><a href="#aso">Aso</a></li>
			<li class="tab" [class.disabled]="profissional.equipe.abreviacao != 'NUT'"><a href="#nutricao">Nutrição</a></li>
			<li class="tab" [class.disabled]="profissional.equipe.abreviacao != 'EDF' || 
				atendimento.filaAtendimentoOcupacional.status != 'EM ATENDIMENTO'"><a href="#educacaoFisica">Educação Física</a></li>
			<li class="tab"><a href="#fichaColeta">Ficha de Coleta</a></li>			
			<li class="tab"><a href="#triagem">Triagem</a></li>
			<li class="tab"><a href="#planejamento">Planejamento</a></li>
			<li class="tab" [ngClass]="disabledTab"><a href="#acolhimento">Acolhimento</a></li>
		</ul>
	</div>

	<div id="filaAtendimento">

		<div class="row col s12 row-localizacao">
			<fieldset class="select-localizacao">
				<legend>
					Localizacao <a
						class="btn-floating waves-effect waves-light green btn-add-fieldset"
						(click)="getLocalizacoes()"> <i
						class="material-icons center-icon">cached</i>
					</a>
				</legend>
				<select name="localizacao" class="browser-default"
					[disabled]="verifyLocalizacao()" [(ngModel)]="localizacao.id"
					(ngModelChange)="openModalConfirmLocalizacao()">
					<option disabled selected value=0>Selecione uma localização</option>
					<option *ngFor="let localizacao of localizacoes"
						value="{{localizacao.id}}">{{localizacao.nome}}</option>
				</select>
			</fieldset>
		</div>

		<div class="row content-buttons-fila col s12">

			<div class="row">
				<button (click)="entrar()" style="margin-left: -5px"
					class="btn btn-primary btn-fila">Entrar</button>
				<button (click)="pausar()" class="btn btn-primary btn-fila">Pausar</button>
				<button (click)="almoco()" class="btn btn-primary btn-fila">Almoço</button>
			</div>
			<div class="row">
				<button (click)="voltar()" style="margin-left: -5px"
					class="btn btn-primary btn-fila">Voltar</button>
				<button (click)="encerrar()" class="btn btn-primary btn-fila">Encerrar</button>
			</div>

		</div>

		<div class="row">

			<table class="striped">
				<thead>
					<tr class="row col s12">
						<th class="col s5">Profissional</th>
						<th class="col s2">Status</th>
						<th class="col s5">Empregado</th>
					</tr>
				</thead>

				<div *ngFor="let atendimento of atendimentos;let i = index">
					<tbody class="col s12">
						<tr class="col s12">
							<td class="col s5 profissional-nome">
								{{atendimento.filaAtendimentoOcupacional.profissional.empregado.pessoa.nome}}
							</td>
							<td class="col s2 profissional-status">{{atendimento.filaAtendimentoOcupacional.status}}</td>
							<td class="col s5 empregado-nome">
								{{atendimento.filaEsperaOcupacional.empregado.pessoa.nome}}</td>
						</tr>
					</tbody>

				</div>

			</table>

		</div>

	</div>

	<div id="atendimento">

		<div class="row">
			<app-atendimento-informacoes-empregado [atendimento]="atendimento"></app-atendimento-informacoes-empregado>
		</div>

		<div class="content-quiz"></div>

		<div class="content-buttons-atendimento">

			<div class="row">
				<button (click)="registrarAusencia()"
					class="btn btn-primary btn-atendimento">Registrar Ausência</button>
				<button (click)="iniciar()" class="btn btn-primary btn-atendimento">Iniciar</button>
				<button (click)="liberar()" class="btn btn-primary btn-atendimento">Liberar</button>
			</div>
			<div class="row">
				<button (click)="finalizarPausar()"
					class="btn btn-primary btn-atendimento">Finalizar e Pausar</button>
				<button (click)="finalizar()"
					class="btn btn-primary btn-atendimento">Finalizar</button>
				<button (click)="devolverPraFila()"
					class="btn btn-primary btn-atendimento">Devolver pra fila</button>
			</div>

		</div>

	</div>
	
	<div id="nutricao">
		<app-menu-atendimento-nutricao
			(btnNovoQuestionario)="clickBtnNovoQuestionario($event)"
			(btnNovoRecordatorio)="clickBtnNovoRecordatorio($event)" 
			(btnNovoPlanoAlimentar)="clickBtnNovoPlanoAlimentar($event)" 
			(btnCarregar) ="loadNutricao($event)"
			[service]="atendimentoService"
			[atendimento]="atendimento"></app-menu-atendimento-nutricao>
	</div>
	
	<div id="educacaoFisica">
		<div *ngIf="profissional.equipe.abreviacao == 'EDF'">
			<app-atendimento-proaf [service]="atendimentoService"
			 	(nivelAtividadeFisica)="setNivelAtividadeFisica($event)"
				[atendimento]="atendimento"></app-atendimento-proaf>
		</div>
	</div>

	<div id="fichaColeta" disabled>
		<app-ficha-coleta [fichaColeta]="atendimento.filaEsperaOcupacional.fichaColeta" 
			[statusFila]="atendimento?.filaAtendimentoOcupacional.status"
			[service]="atendimentoService" [idEquipeProfissional]="profissional.equipe.id"
			[nivelAtividadeFisica]="nivelAtividadeFisica"
			(dor)="triagemUtil.selectDor(atendimento,$event)"></app-ficha-coleta>
	</div>

	<div id="triagem">
		<app-triagem [triagens]="atendimento.triagens"></app-triagem>
	</div>

	<div id="planejamento">
		<app-planejamento [idEquipe]="idEquipe" [triagens]="atendimento.triagens" [service]="atendimentoService"></app-planejamento>
	</div>

	<div id="acolhimento">
		<div *ngIf="isAcolhimento()">
	 		<app-acolhimento [service]="atendimentoService" [riscoPotencial]="atendimento.filaEsperaOcupacional.riscoPotencial"
	 			[triagensTodosAtendimentos]="atendimento.triagensTodosAtendimentos"></app-acolhimento>
 		</div>
	</div>
	<div id="aso">
		<div>
	 		<app-informacao-aso [service]="atendimentoService" [atendimento]="atendimento"></app-informacao-aso>
 		</div>
	</div>

</div>


<!-- Modal Structure -->
<div id="modal" class="modal" materialize="modal"
	[materializeParams]="[{dismissible: false}]"
	[materializeActions]="modalConfirmLocalizacao">

	<h5 class="title-modal">Confirmação</h5>

	<p class="paragraph-modal">Tem certeza que deseja selecionar esta
		localização?</p>
	<p class="paragraph-modal">Se sim, ele não poderá ser alterado até
		você encerrar o atendimento do dia.</p>

	<div class="modal-footer">
		<a class="waves-effect waves-green btn-flat"
			(click)="confirmarLocalizacao()">Confirmar</a> <a
			class="waves-effect waves-green btn-flat"
			(click)="cancelarLocalizacao()">Cancelar</a>
	</div>

</div>

<div materialize [materializeParams]="toastParams"
	[materializeActions]="globalActions"></div>