select {
	display: inline;
}

.input-field>select {
	display: block;
	position: absolute;
	width: 250px;
	pointer-events: all;
	height: 50px;
	top: 0;
	left: 20px;
	opacity: 10;
}

.form-container {
	margin-bottom: 100px;
}

.content-buttons-fila {
	text-align: center;
}

.content-buttons-atendimento {
    text-align: center;
}

.btn-fila {
	margin-left: 30px;	
}

.input-field-empregado {
	margin: 0 auto;
}

.row-empregado {
	margin: 0 auto;
}

.input-empregado {
	height: 30px !important;
}

.btn-atendimento {
	margin-left: 70px;
}

.btn-remove {
	margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
	width: 30px;
    height: 30px;
}

table {
	border: 1px solid #c0c0c0;
    display: inline-table;
	margin-top: 40px;
	margin-bottom: 50px;
}

tbody {
	display: flex !important;
}

thead > tr {
	margin-bottom: 0px;
	border-bottom: 1px solid;
}

th {
	margin-bottom: 0px;
}

.btn-floating i {
	font-size: 1.3rem;
}

td > a > i {
	margin-top: -5px;
}

tbody{
	margin-top: 10px;
	border-bottom: 1px solid #c0c0c0;	
}

.table-triagem {
	margin-top: -40px;
}

.nome {
	padding-left: 0px;
}

.indice0 {
    padding-left: 0px;
}

.indice1 {
	padding-left: 0px;
}

.indice2 {
	padding-left: 0px;
}

.indice3 {
	padding-left: 0px;
}

.indice4 {
	padding-left: 0px;
}

.container-triagem {
	padding-top: 20px;
	width: 100%;
    margin-bottom: 30px;
	max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.container-triagens {
}

.btn-add-fieldset {
	margin-left: 15px;
}

.center-icon {
	margin-top: 0px;
}

.select-localizacao {
	width: 50% !important;
	margin: 0 auto !important;
}

.row-localizacao {
	margin-top: 30px;
	margin-bottom: 30px;
}

.profissional-nome {
	padding-left: 0px;
}

.profissional-status {
	
}

.empregado-nome {
	
}

.infos-profissional {
	color: #26a69a;
    display: inline-flex;
}

.nome-profissional {
	margin-bottom: 0px;
}

.status-profissional {
	margin-left: 10px;
    border-left: 1px solid;
    padding-left: 10px;
}

.title-modal {
	color: #26a69a;
    text-align: center;
    margin-top: 20px;
}

.paragraph-modal {
	margin-left: 10px;
}

#fichaColeta {
	margin-bottom: 50px;
}

.select-sim-nao {
	margin-bottom: 40px;
}

.conteiner-ficha-coleta {
	max-height: 400px;
    overflow-y: scroll;
    width: 100%;
}