.btn-remove-permission {
	margin-top: 15px;
	margin-left: 155px;
}

.form-profissiograma {
	margin-left: -100px;
	margin-right: -100px;
}

.collection .collection-item:last-child { 
    cursor: pointer;
}

.row-item-collection {
	border-top: solid 1px #a2a2a2;
	line-height: 0;
}

.row-collection {
	margin-bottom: 0px;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    margin-top: 15px;
    pointer-events: auto;
}

.checkbox {
	margin-top: 30px;
}

.select {
	margin-bottom: 20px;
}

.btn-delete {
	margin-top: -5px;
}