<head>
<meta charset="utf-8">
</head>

<!-- Preload  -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave" [goTo]="goTo"></app-confirm-save>

<form class="col s12 form-profissiograma" (ngSubmit)="save()">

	<div class="row">
		<div class="input-field col s10">
			<label data-error="Campo obrigatório." for="nome">Nome</label> <input
				id="nome" type="text" required maxlength="400"
				[(ngModel)]="profissiograma.nome" name="nome">
		</div>
		
		<div class="input-field col s2 checkbox">
			<input type="checkbox" id="critico"
					[(ngModel)]="profissiograma.concluido" name="profissiograma.concluido">
                <label for="concluido">Concluído</label>
		</div>
	</div>

	<div class="row">

		<div class="input-field col s4">
			<div class="collection">

				<fieldset>
					<legend>Grupos Monitoramento</legend>
					<div class="row select">

						<div class="input-field col s4">
							<select class="browser-default" #grupoMonitoramento>
								<option disabled selected value=0>Selecione um grupo monitoramento</option>
								<option *ngFor="let grupoMonitoramento of gruposMonitoramento"
									value="{{grupoMonitoramento.id}}">{{grupoMonitoramento.nome}}</option>
							</select>
						</div>

						<div class="col s2">
							<a
								class="btn-floating waves-effect waves-light green btn-remove-permission"
								(click)="addGrupoMonitoramento(grupoMonitoramento.value)"> <i
								class="material-icons center-icon">add</i>
							</a>
						</div>
					</div>
				</fieldset>

				<div class="row-item-collection"
					*ngFor="let grupoMonitoramento of profissiograma.grupoMonitoramentos; let gM = index">
					<div class="row row-collection">
						<div class="col s10">
							<a [ngClass]="selectedGrupoMonitoramento(gM)" 
								[routerLinkActive]="['active']" class="collection-item"
								(click)="selectGrupoMonitoramento(gM)">
								{{grupoMonitoramento.nome}} </a>
						</div>
						<div class="col s2 btn-delete">
							<a [ngStyle]="{'cursor': 'pointer'}" 
								(click)="removeGrupoMonitoramento(gM)">
								<i class="material-icons">delete</i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="input-field col s4">
			<div class="collection">

				<fieldset>
					<legend>Exames</legend>
					<div class="row select">

						<div class="input-field col s4">
							<select class="browser-default" #exame>
								<option disabled selected value=0>Selecione um exame</option>
								<option *ngFor="let exame of exames" value="{{exame.id}}">{{exame.codigo}} - {{exame.descricao}}</option>
							</select>
						</div>

						<div class="col s2">
							<a class="btn-floating waves-effect waves-light green btn-remove-permission"
								(click)="addExame(exame.value)"> <i
								class="material-icons center-icon">add</i>
							</a>
						</div>
					</div>
				</fieldset>

				<div class="row-item-collection"
					*ngFor="let grupoMonitoramentoExame of gruposMonitoramentoExame; let gME = index">
					<div class="row row-collection">
						<div class="col s10">
							<a [ngClass]="selectedExame(gME)"
								[routerLinkActive]="['active']" class="collection-item"
								(click)="selectExame(gME)">
								{{grupoMonitoramentoExame.exame.codigo}} - {{grupoMonitoramentoExame.exame.descricao}} </a>
						</div>
						<div class="col s2 btn-delete">
							<a [ngStyle]="{'cursor': 'pointer'}" 
								(click)="removeExame(gME)">
								<i class="material-icons">delete</i>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>


		<div class="input-field col s4">
			<div class="collection">

				<fieldset>
					<legend>Critérios</legend>
					<div class="row select">

						<div class="input-field col s4">
							<select class="browser-default" #criterio>
								<option disabled selected value=0>Selecione um critério</option>
								<option *ngFor="let criterio of criterios" value="{{criterio.id}}">{{criterio.nome}}</option>
							</select>
						</div>

						<div class="col s2">
							<a
								class="btn-floating waves-effect waves-light green btn-remove-permission"
								(click)="addCriterio(criterio.value)"> <i
								class="material-icons center-icon">add</i>
							</a>
						</div>
					</div>
				</fieldset>

				<div class="row-item-collection"
					*ngFor="let criterio of arrayCriterio; let c = index">
					<div class="row row-collection">
						<div class="col s10">
							<a [routerLinkActive]="['active']" class="collection-item">
								{{criterio.nome}} </a>
						</div>
						<div class="col s2 btn-delete">
							<a [ngStyle]="{'cursor': 'pointer'}" 
								(click)="removeCriterio(c)">
								<i class="material-icons">delete</i>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

	<input id="id" name="id" type="hidden"> <input id="version"
		name="version" type="hidden">

	<div class="mensagem">
		<app-mensagem-form *ngIf="verifyError" [color]="colorError"
			[msg]="msgError"></app-mensagem-form>
	</div>

	<div class='row row-btns'>
		<div class="col s6">
			<button type="submit" class="btn btn-primary">Salvar</button>
		</div>
		<div class="col s6">
			<a [routerLink]="['/profissiograma']"
				class="btn btn-primary btn-listar-perfis">Listar</a>
		</div>
	</div>
	
	<div materialize [materializeParams]="toastParams" [materializeActions]="globalActions"></div>

</form>