<head>
<meta charset="utf-8">
</head>

<!-- -->
<app-mensagem-form *ngIf="verifyEmptyPaginas" [msg]="msgEmptyPaginas"
	[color]="colorEmptyPaginas"> </app-mensagem-form>

<!-- Preload  -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<div class="list-container">

	<div class="collection">

		<div *ngFor="let a of array">
			<div class="row row-collection">
				<div class="col s9">
					<a [routerLinkActive]="['active']" class="collection-item">{{a.nome}}</a>
				</div>
				<div class="col s1">
					<a [routerLink]="['/base/detalhe', a.id]"><i
						class="material-icons">details</i></a>
				</div>
				<div class="col s1">
					<a [routerLink]="['/base/editar', a.id]"><i
						class="material-icons">mode_edit</i></a>
				</div>
				<div class="col s1">
					<a [ngStyle]="{'cursor': 'pointer'}" (click)="delete(a.id)"><i
						class="material-icons">delete</i></a>
				</div>
			</div>
		</div>
	</div>

	<!-- Paginação -->
	<app-paginacao [filter]="filter" [paginasAtuais]="paginasAtuais"
		[paginas]="paginas" [listComponent]="listComponent"
		[verifyEmptyPaginas]="verifyEmptyPaginas"></app-paginacao>
	<!-- 
<ul class="pagination center-align" *ngIf="!verifyEmptyPaginas">

	<li><a [ngStyle]="{'cursor': 'pointer'}" (click)="goToPage(1)">
			<i class="material-icons arrow-pagination">first_page</i>
	</a></li>
	<li><a [ngStyle]="{'cursor': 'pointer'}"
		(click)="goToPage(filter.getPageNumber()-1)"> <i
			class="material-icons arrow-pagination">chevron_left</i>
	</a></li>

	<li [ngClass]="activePage(paginaAtual)" class="waves-effect"
		*ngFor="let paginaAtual of paginasAtuais; let i = index"><a
		(click)="goToPage(paginaAtual)">{{paginaAtual}} </a></li>

	<li><a [ngStyle]="{'cursor': 'pointer'}"
		(click)="goToPage(filter.getPageNumber()+1)"> <i
			class="material-icons arrow-pagination">chevron_right</i>
	</a></li>
	<li><a [ngStyle]="{'cursor': 'pointer'}"
		(click)="goToPage(paginas.length)"> <i
			class="material-icons arrow-pagination">last_page</i>
	</a></li>

</ul>
 -->
	<div class="row">
		<div class="col s4">
			<a class="waves-effect waves-light btn" (click)="openModal()">Filtro</a>
		</div>
		<div class="col s4  button-import">
			<a class="waves-effect waves-light btn" (click)="openModalImport()">Importar</a>
		</div>
		<div class="col s4">
			<a [routerLink]="['/base/cadastrar']"
				class="waves-effect waves-light btn button-add">Adicionar</a>
		</div>
	</div>

</div>

<!-- Modal Structure -->
<div id="modal" class="modal" materialize="modal"
	[materializeParams]="modelParams" [materializeActions]="modalActions">

	<div class="row">

		<div class="input-field col s12">
			<div class="modal-content">
				<label for="nome">Nome</label> <input type="text" id="nome"
					[(ngModel)]="filter.nome" name="nome">
			</div>
		</div>

	</div>

	<div class="modal-footer">
		<a class="waves-effect waves-green btn-flat" (click)="closeModal()">Fechar</a>
		<a class="modal-action modal-close waves-effect waves-green btn-flat"
			(click)="setFilter()">Filtrar</a>
	</div>

</div>

<app-confirm-delete [service]="service" [idDelete]="tempDelete" 
	[show]="openModalDelete"></app-confirm-delete>

<div class="mensagem">
	<app-mensagem-form *ngIf="verifyError" [color]="colorError"
		[msg]="msgError"></app-mensagem-form>
</div>

<!-- Modal Structure -->
<div id="modal" class="modal" materialize="modal"
	[materializeParams]="modalParams" [materializeActions]="modalImport">

	<form #form="ngForm" class="col s12 form-import" *ngIf="canImport">

		<h5 class="title-modal-import">Importar Arquivo</h5>

		<div class="row file-import">
			<div class="file-field input-field col s12">
				<div class="btn">
					<span>File</span> <input id="arquivo" type="file" #arquivo
						name="arquivo" accept=".xls, .xlsx">
				</div>
				<div class="file-path-wrapper">
					<input class="file-path validate" type="text">
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<a type="submit" class="waves-effect waves-green btn-flat"
				(click)="importFile()">Importar</a> <a
				class="waves-effect waves-green btn-flat"
				(click)="closeModalImport()">Fechar</a>
		</div>

	</form>

</div>