table {
	border: 1px solid #c0c0c0;
    display: inline-table;
	margin-top: 40px;
	margin-bottom: 50px;
}

tbody {
	display: flex !important;
	padding: 0;
	margin-top: 10px;
	border-bottom: 1px solid #c0c0c0;	
}

thead > tr {
	margin-bottom: 0px;
	border-bottom: 1px solid;
}

th {
	margin-bottom: 0px;
}

.btn-floating i {
	font-size: 1.3rem;
}

td > a > i {
	margin-top: -5px;
}

.container-triagens-planejamento tbody {
	margin-top: 0px !important;
}

.container-triagens-planejamento tr {
	margin-bottom: 0px !important;
}

.container-triagens-planejamento .row {
	margin-bottom: 5px;
}

.container-triagens-planejamento input {
	margin-bottom: 5px;
}

.fieldset-planejamento-triagem {
	background: #e6fdff;
	margin: 20px;
}

.table-triagem {
	margin-top: -40px;
}
