<head>
<meta charset="utf-8">
</head>

<!-- Preload -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<p style="color: #26a69a;"><b>Nome do Empregado:  {{nomeEmpregado}}</b></p>

<div class="row form-container">
	<form #form="ngForm" class="col s12" (ngSubmit)="save()">

		<div class="container-triagem">
			<div class="table-triagem">
				<table style="width: 100%">
					<div class="container-triagens-planejamento">
						<div
							*ngFor="let triagem of riscoEmpregado.triagens; let t = index">
							<div *ngIf="verifyIndiceTriagem(triagem)">
								<fieldset [ngClass]="planejamentoBackground(triagem)" class="fieldset-planejamento-triagem">
									<div class="row">
										<tr class="row col s12">
											<td class="col s3 label-indicador">Indicador</td>
											<td class="col s9 indicador">{{triagem.indicadorSast.nome}}</td>
										</tr>
									</div>
									<div class="row">
										<tr class="row col s12">
											<td class="col s3 label-indice-descricao">Índice
												Descrição</td>
											<td class="col s9 indice-descricao">{{getIndiceDescricao(triagem)}}</td>
										</tr>
									</div>
									<div class="row">
										<tr class="row col s12">
											<td class="col s3 label-eixo-clinico">Eixo Clínico</td>
											<td class="col s9 eixo-clinico"><input type="text"
												name="eixo-clinico{{t}}" disabled
												[(ngModel)]="triagem.diagnostico.eixo.titulo"></td>
										</tr>
									</div>
									<div class="row">
									 	<tr class="row col s12">
										 	<td class="col s3 label-diagnostico">Diagnóstico</td>
										 	<td class="col s9 diagnostico">
										 		<input (click)="openModalDiagnostico(triagem)" 
										 			id="triagem{{t}}.diagnostico.descricao" type="text"
													name="triagem{{t}}.diagnostico.descricao"
													[(ngModel)]="triagem.diagnostico.descricao">
									 		</td>
									 	</tr>
									 </div>
									<div class="row">
										<tr class="row col s12">
											<td class="col s3 label-intervencao">Intervenção</td>
											<td class="col s9 intervencao">
												<input (click)="openModalIntervencao(triagem)" 
										 			id="triagem{{t}}.intervencao.descricao" type="text"
													name="triagem{{t}}.intervencao.descricao"
													[(ngModel)]="triagem.intervencao.descricao">
											</td>
										</tr>
									</div>
									<div class="row">
										<tr class="row col s12">
											<td class="col s3 label-equipe-abordagem">Equipe de
												Abordagem</td>
											<td class="col s9 equipe-abordagem">
											<input (click)="openModalEquipe(triagem)" 
										 			id="triagem{{t}}.equipeAbordagem.nome" type="text"
													name="triagem{{t}}.equipeAbordagem.nome"
													[(ngModel)]="triagem.equipeAbordagem.nome">
										</tr>
									</div>
									<div class="row">
										<tr class="row col s12">
											<td class="col s3 label-prazo-inicio">Sugestão de prazo
												de início</td>
											<td class="col s9 prazo-inicio"><select
												name="prazo{{t}}" class="resposta-conteudo"
												class="browser-default" [(ngModel)]="triagem.prazo">
													<option disabled selected value="">Selecione um prazo</option>
													<option *ngFor="let prazo of prazos" value="{{prazo}}">{{prazo}}</option>
											</select></td>
										</tr>
									</div>
									<div class="row">
										<tr class="row col s12">
											<td class="col s3 label-justificativa">Justificativa/Observação</td>
											<td class="col s9 justificativa"><input type="text"
												name="justificativa{{t}}" class="resposta-conteudo"
												[(ngModel)]="triagem.justificativa"></td>
										</tr>
									</div>
								</fieldset>
							</div>
							
						</div>
					</div>
				</table>
			</div>

		</div>

		<div class="mensagem">
			<app-mensagem-form *ngIf="verifyError" [color]="colorError"
				[msg]="msgError"></app-mensagem-form>
		</div>

		<div class='row row-btns'>
			<div class="col s6">
				<a [routerLink]="['/risco-potencial']"
					class="btn btn-primary btn-voltar">Voltar</a>
			</div>
			<div class="col s6">
				<button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
			</div>
		</div>

	</form>
</div>

<!-- Modal Structure -->
<div id="modal" class="modal" materialize="modal"
	[materializeParams]="modalParams"
	[materializeActions]="modalDiagnostico">

	<h5 class="title-modal title-modal-planejamento">Diagnósticos</h5>
	
	<!--  <div class="div-filter-diagnostico col s6 center">
		<label for="filterDiagnostico" class="label-select-planejamento">Filtrar</label><br>
		<input id="filterDiagnostico" type="text" class="input-filter-planejamento"
			[(ngModel)]="filterDiagnostico" name="filterDiagnostico"
			(ngModelChange)="fetchDiagnosticos($event)">
	</div> -->
	
	<fieldset>
		<legend> Eixo </legend>
		<select name="selectEixoDiagnostico" class="browser-default"
			[(ngModel)]="selectEixoId" (ngModelChange)="fetchDiagnosticos()">
			<option disabled selected value="">Selecione um eixo</option>
			<option *ngFor="let eixo of eixos"
				value="{{eixo.id}}">{{eixo.titulo}}</option>
		</select>
	</fieldset>
	<!-- -->
	<table class="table table-striped table-filter-planejamento" *ngIf="activeDiagnostico"
		[mfData]="arrayDiagnostico | filterData : filter : typeFilter : value" #mf1="mfDataTable">
	    <thead>
		    <tr>
		        <th style="width: 0.2%">
		            <mfDefaultSorter by="codigo">Código</mfDefaultSorter>
		            <input type="text" name="filter-diagnostico-codigo" style="width: 90%" 
							placeholder="filtrar código"
							(input)="selectFilter($event, 'filter-diagnostico-codigo')">
		        </th>
		        <th style="width: 1%">
		            <mfDefaultSorter by="descricao">Descrição</mfDefaultSorter>
		            <input type="text" name="filter-diagnostico-descricao" style="width: 90%" 
							placeholder="filtrar descrição"
							(input)="selectFilter($event, 'filter-diagnostico-descricao')">
		        </th>
		    </tr>
	    </thead>
    	<tbody>
		    <tr *ngFor="let item of mf1.data" class="tr-filter-descricao" (click)="selectDiagnostico(item)">
		        <td style="width: 0.2%">{{item.codigo}}</td>
		        <td style="width: 1%" class="filter-diagnostico-descricao">{{item.descricao}}</td>
		    </tr>
	    </tbody>
	</table>
 
	<!-- <div class="collection">
		<div *ngFor="let a of arrayDiagnostico">
			<div class="row row-collection select-planejamento">
				<div class="col s12" (click)="selectDiagnostico(a)">
					<div class="col s12">
						<a [routerLinkActive]="['active']" class="collection-item">
							{{a.descricao}}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>  -->

	<div class="modal-footer">
		 <a class="waves-effect waves-green btn-flat"
			(click)="cancelarModalDiagnostico()">Cancelar</a>
	</div>

</div>

<!-- Modal Structure -->
<div id="modal" class="modal" materialize="modal"
	[materializeParams]="modalParams"
	[materializeActions]="modalIntervencao">

	<h5 class="title-modal title-modal-planejamento">Intervenções</h5>
	
	<!-- <div class="div-filter-intervencao col s6 center">
		<label for="filterIntervencao" class="label-select-planejamento">Filtrar</label><br>
		<input id="filterIntervencao" type="text" class="input-filter-planejamento"
			[(ngModel)]="filterIntervencao" name="filterIntervencao"
			(ngModelChange)="fetchIntervencao($event)">
	</div>

	<div class="collection">
		<div *ngFor="let a of arrayIntervencao">
			<div class="row row-collection select-planejamento">
				<div class="col s12" (click)="selectIntervencao(a)">
					<div class="col s12">
						<a [routerLinkActive]="['active']" class="collection-item">
							{{a.descricao}}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<table class="table table-striped table-filter-planejamento" *ngIf="activeIntervencao"
		[mfData]="arrayIntervencao | filterData : filter : typeFilter : value" 
			#mf="mfDataTable" [mfRowsOnPage]="40">
	    <thead>
		    <tr>
		        <th style="width: 1%">
		            <mfDefaultSorter by="descricao">Descrição</mfDefaultSorter>
		            <input type="text" name="filter-intervencao-descricao" style="width: 90%" 
							placeholder="filtrar descrição"
							(input)="selectFilter($event, 'filter-intervencao-descricao')">
		        </th>
		    </tr>
	    </thead>
    	<tbody>
		    <tr *ngFor="let item of mf.data" class="tr-filter-descricao" (click)="selectIntervencao(item)">
		        <td style="width: 1%" class="filter-intervencao-descricao">{{item.descricao}}</td>
		    </tr>
	    </tbody>
	</table>

	<div class="modal-footer">
		 <a class="waves-effect waves-green btn-flat"
			(click)="cancelarModalIntervencao()">Cancelar</a>
	</div>

</div>

<!-- Modal Structure -->
<div id="modal" class="modal" materialize="modal"
	[materializeParams]="modalParams"
	[materializeActions]="modalEquipe">

	<h5 class="title-modal title-modal-planejamento">Equipes</h5>
	
	<div class="collection">
		<div *ngFor="let a of arrayEquipe">
			<div class="row row-collection select-planejamento">
				<div class="col s12" (click)="selectEquipe(a)">
					<div class="col s12">
						<a [routerLinkActive]="['active']" class="collection-item">
							{{a.nome}}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		 <a class="waves-effect waves-green btn-flat"
			(click)="cancelarModalEquipe()">Cancelar</a>
	</div>

</div>

<div materialize [materializeParams]="toastParams"
	[materializeActions]="globalActions"></div>