<head>
<meta charset="utf-8">
</head>

<!-- Preload -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<div class="row form-container">
	<form #form="ngForm" class="col s12" (ngSubmit)="save()">

		<div class="row">
			<div class="input-field col s8">
				<label for="codigo">Codigo</label> 
				<input id="codigo" type="text" disabled 
					name="gerencia.codigo" [(ngModel)]="gerencia.codigo">
			</div>

			<div class="input-field col s4">
				<fieldset>
					<legend>Gerência</legend>
					<select class="browser-default" name="gerencia.gerencia" disabled
						[(ngModel)]="gerencia.gerencia.id">
						<option selected value=0>Selecione uma gerência</option>
						<option *ngFor="let gerencia of gerencias" value="{{gerencia.id}}">{{gerencia.codigoCompleto}}</option>
					</select>
				</fieldset>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s4">
				<label for="gerente">Gerente</label> 
				<input type="text" disabled
					name="gerencia.gerente.pessoa.nome"
					[(ngModel)]="gerencia.gerente.pessoa.nome">
			</div>

			<div class="input-field col s4">
				<label for="secretario1">Secretário 1</label> 
				<input type="text" disabled
					name="gerencia.secretario1.pessoa.nome"
					[(ngModel)]="gerencia.secretario1.pessoa.nome">
			</div>

			<div class="input-field col s4">
				<label for="secretario2">Secretário 2</label> 
				<input type="text" disabled
					name="gerencia.secretario2.pessoa.nome"
					[(ngModel)]="gerencia.secretario2.pessoa.nome">
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<label for="descricao">Descrição</label> 
				<input id="descricao" disabled
					type="text" name="gerencia.descricao"
					[(ngModel)]="gerencia.descricao">
			</div>
		</div>

		<div class="mensagem">
			<app-mensagem-form *ngIf="verifyError" [color]="colorError"
				[msg]="msgError"></app-mensagem-form>
		</div>

		<div class='row row-btns'>
			<div class="col s6">
				<a [routerLink]="['/gerencia']"
					class="btn btn-primary btn-listar">Listar</a>
			</div>
		</div>
	</form>
</div>