.title-modal {
	color: #26a69a;
    text-align: center;
    margin-top: 20px;
}

.title-modal-planejamento {
	margin-bottom: 30px;
}

.title-modal-planejamento {
	margin-bottom: 30px;
}

.select-planejamento {
	cursor: pointer;
	margin-bottom: 0px !important;
}

.label-select-planejamento {
	font-size: 1.2rem !important;
    color: #26a69a !important;
    margin-right: 10px !important;
}

.input-filter-planejamento {
	width: 70% !important;
}

.tr-table-modal { 
	display: inline-table;
}

.table-filter-planejamento {
	display: block;
}

.table-filter-planejamento > tbody {
	display: block !important;
	margin-top: 0;
}

.filter-diagnostico-descricao {
	padding-left: 0;
}

.tr-filter-descricao {
	cursor: pointer;
}

.tr-filter-descricao:nth-child(even) {
    background-color: #d9d9d9;
}