<head>
<meta charset="utf-8">
</head>

<!-- Preload -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<div class="row">
	<form class="col s12" (ngSubmit)="save()" #form="ngForm">

		<div class="row">
			<div class="input-field col s12">
				<label for="titulo" data-error="Campo obrigatório.">Titulo</label> <input
					id="titulo" type="text" required name="perfil.titulo"
					[(ngModel)]="perfil.titulo">
			</div>
		</div>

		<input id="id" name="id" type="hidden" name="perfil.id"
			[(ngModel)]="perfil.id"> <input id="version" name="version"
			type="hidden" name="perfil.version" [(ngModel)]="perfil.version">

		<fieldset>
			<legend class="legend-permissoes"> Permissões 
				<a class="btn-floating waves-effect waves-light green btn-add-fieldset"
					(click)="addPermissao()"> 
					<i class="material-icons center-icon">add</i>
				</a>
			</legend>
			<div class="form-group">
				<div *ngFor="let permissao of perfil.permissoes;let i = index">

					<div class="row">

						<div class="input-field col s4">
							<fieldset>
								<legend>Funcionalidade</legend>
								<select class="browser-default" name="permissao.funcionalidade{{i}}"
									[(ngModel)]="permissao.funcionalidade">
									<option disabled selected value>Selecione uma funcionalidade</option>
									<option *ngFor="let funcionalidade of funcionalidades"
										value="{{funcionalidade}}">{{funcionalidade}}</option>
								</select>
							</fieldset>
						</div>

						<div class="col s3 permissao-valor">
							<input name="valor{{i}}" id="valor{{i}}" type="checkbox"
								name="permissao.valor{{i}}" [(ngModel)]="permissao.valor" />
							<label for="valor{{i}}">Valor</label>
						</div>

						<div class="col s2">
							<a
								class="btn-floating waves-effect waves-light red btn-remove"
								(click)="removePermissao(i)"> <i
								class="material-icons center-icon">delete</i>
							</a>
						</div>

					</div>

					<input id="id{{i}}" type="hidden" name="permissao.id{{i}}"
						[(ngModel)]="permissao.id"> 
					<input id="version{{i}}" type="hidden" name="permissao.version{{i}}"
						[(ngModel)]="permissao.version">

				</div>

			</div>

		</fieldset>

		<div class="mensagem">
			<app-mensagem-form *ngIf="verifyError" [color]="colorError"
				[msg]="msgError"></app-mensagem-form>
		</div>

		<div class='row row-btns'>
			<div class="col s6">
				<a [routerLink]="['/perfil']"
					class="btn btn-primary btn-listar">Listar</a>
			</div>
			<div class="col s6">
				<button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
			</div>
		</div>

	</form>
</div>