<head>
<meta charset="utf-8">
</head>

<!-- Preload -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<div class="row">
	<form class="col s12" (ngSubmit)="save()" #form="ngForm">

		<div class="row">
			<div class="input-field col s12">
				<label for="titulo">Titulo</label> <input
					id="titulo" type="text" disabled name="perfil.titulo"
					[(ngModel)]="perfil.titulo">
			</div>
		</div>

		<div class="table-permissoes">
			<table class="striped">
				<thead>
					<tr class="row col s12">
						<th class="col s10">Funcionalidade</th>
						<th class="col s2">Valor</th>
					</tr>
				</thead>
				<div class="container-permissoes">
					<div
						*ngFor="let permissao of perfil.permissoes; let f = index">
						<tbody class="col s12">
							<tr class="col s12">
								<td class="col s10 funcionalidade">{{permissao.funcionalidade}}</td>
								<td class="col s2 checkbox-valor">
									<input type="checkbox" id="valor[{{f}}]" disabled 
									[(ngModel)]="permissao.valor" name="valor[{{f}}]"> 
									<label for="valor[{{f}}]"></label>
								</td>
							</tr>
						</tbody>
					</div>
				</div>
			</table>
		</div>

		<div class="mensagem">
			<app-mensagem-form *ngIf="verifyError" [color]="colorError"
				[msg]="msgError"></app-mensagem-form>
		</div>

		<div class='row row-btns'>
			<div class="col s6">
				<a [routerLink]="['/perfil']"
					class="btn btn-primary btn-listar">Listar</a>
			</div>
		</div>

	</form>
</div>