<head>
<meta charset="utf-8">
</head>

<!-- Preload -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<div class="form-container">
	<form #form="ngForm" class="col s12" (ngSubmit)="save()">

		<div class="container-triagem">
			<div class="table-triagem">
				<table style="width: 100%">
					<div class="container-triagens-acolhimento">
						<div
							*ngFor="let equipe of equipesAbordagemTriagens; let e = index">
							<p style="margin-left: 20px;">
								<b>{{equipe.nome}}</b>
							</p>
							<div
								*ngFor="let triagem of triagensByEquipeAbordagem[equipe.id]; let t = index">
								<fieldset class="fieldset-planejamento-triagem">
									<tr class="row col s12">
										<td class="col s3 label-indicador-acolhimento">Indicador</td>
										<td class="col s9 indicador-acolhimento">{{triagem.indicadorSast.nome}}</td>
									</tr>
									<tr class="row col s12">
										<td class="col s3 label-indice-descricao-acolhimento">Índice
											Descrição</td>
										<td class="col s9 indice-descricao-acolhimento">{{getIndiceDescricao(triagem)}}</td>
									</tr>
									<tr class="row col s12">
										<td class="col s3 label-eixo-clinico-acolhimento">Eixo
											Clínico</td>
										<td class="col s9 eixo-clinico-acolhimento"><input
											type="text" name="eixo-clinico-acolhimento{{e}}{{t}}" disabled
											[(ngModel)]="triagem.diagnostico.eixo.titulo"></td>
									</tr>
									<tr class="row col s12">
										<td class="col s3 label-diagnostico-acolhimento">Diagnóstico</td>
										<td class="col s9 diagnostico-acolhimento"><input
											type="text" name="diagnostico-acolhimento{{e}}{{t}}" disabled
											[(ngModel)]="triagem.diagnostico.descricao"></td>
									</tr>
									<tr class="row col s12">
										<td class="col s3 label-intervencao-acolhimento">Intervenção</td>
										<td class="col s9 intervencao-acolhimento"><input
											type="text" name="intervencao-acolhimento{{e}}{{t}}" disabled
											[(ngModel)]="triagem.intervencao.descricao"></td>
									</tr>
									<tr class="row col s12">
										<td class="col s3 label-equipe-abordagem-acolhimento">Equipe
											de Abordagem</td>
										<td class="col s9 equipe-abordagem-acolhimento"><input
											type="text" name="equipe-abordagem-acolhimento{{e}}{{t}}"
											disabled [(ngModel)]="triagem.equipeAbordagem.nome">
										</td>
									</tr>
									<tr class="row col s12">
										<td class="col s3 label-prazo-inicio-acolhimento">Sugestão
											de prazo de início</td>
										<td class="col s9 prazo-inicio-acolhimento"><input
											type="text" name="prazo-inicio-acolhimento{{e}}{{t}}" disabled
											[(ngModel)]="triagem.prazo"></td>
									</tr>
									<tr class="row col s12">
										<td class="col s3 label-justificativa-acolhimento">Justificativa/Observação</td>
										<td class="col s9 justificativa-acolhimento"><input
											type="text" name="justificativa-acolhimento{{e}}{{t}}" disabled
											[(ngModel)]="triagem.justificativa"></td>
									</tr>
								</fieldset>
							</div>
						</div>
						
						<div class="dados-acolhimento">
							<p style="margin-left: 20px;">
								<b>ACOLHIMENTO</b>
							</p>
							<fieldset class="fieldset-planejamento-triagem">
								<div class="row">
									<tr class="row col s12">
										<td class="col s3 label-equipe-responsavel">Equipe de
											Abordagem</td>
										<td class="col s9 equipe-responsavel"><input type="text"
											name="equipe-responsavel" disabled
											[(ngModel)]="riscoPotencial.equipeResponsavel.nome">
										</td>
									</tr>
								</div>

								<fieldset>
									<legend> Equipes </legend>
									<div class="row row-equipe">

										<div class="input-field col s4">
											<select class="browser-default" #equipe>
												<option disabled selected value=0>Selecione uma equipe</option>
												<option *ngFor="let equipe of flagEquipesAbordagemTriagens"
													value="{{equipe.id}}">{{equipe.nome}}</option>
											</select>
										</div>
										<div class="col s2">
											<a
												class="btn-floating waves-effect waves-light green btn-add"
												(click)="addEquipe( equipe.value )"> <i
												class="material-icons center-icon">add</i>
											</a>
										</div>

									</div>

								</fieldset>

								<div class="row">

									<table class="striped">
										<thead>
											<tr class="row col s12">
												<th class="col s5">Nome</th>
												<th class="col s5">Abreviação</th>
												<th class="col s2">Remover</th>
											</tr>
										</thead>
										<div
											*ngFor="let equipe of riscoPotencial.equipes;let i = index">
											<tbody class="tbody-equipes">
												<tr class="col s12">
													<td class="col s5 risco-potencial-equipe-nome">{{equipe.nome}}</td>
													<td class="col s5 risco-potencial-equipe-abreviacao">{{equipe.abreviacao}}</td>
													<td class="col s2 botao-remover"><a
														class="btn-floating waves-effect waves-light red btn-remove"
														(click)="removeEquipe(i)"> <i
															class="material-icons center-icon">delete</i>
													</a></td>
												</tr>
											</tbody>
										</div>
									</table>
								</div>

								<div class="row">
									<tr class="row col s12">
										<td class="col s3 label-reserva-agendamento">Reserva de
											Agendamento</td>
										<td class="col s4 inicio-agentamento"><my-date-picker
												name="inicioAgendamento" [options]="myDatePickerOptions"
												[(ngModel)]="inicioAgendamento" placeholder="Inicio">
											</my-date-picker></td>
										<td class="col s4 fim-agendamento"><my-date-picker
												name="fimAgendamento" [options]="myDatePickerOptions"
												[(ngModel)]="fimAgendamento" placeholder="Fim">
											</my-date-picker></td>
									</tr>
								</div>

								<div class="row">
									<tr class="row col s12">
										<td class="col s3 label-conduta-percepcao">Conduta/Percepção</td>
										<td class="col s9 conduta-percepcao">
											<textarea style="min-height: 150px;"
												class="materialize-textarea"
												[(ngModel)]="riscoPotencial.condutaPercepcao"
												name="conduta-percepcao">
											</textarea></td>
									</tr>
								</div>

							</fieldset>

						</div>
					</div>
				</table>
			</div>

			<input id="id" name="id" type="hidden"
				[(ngModel)]="riscoPotencial.id"> <input id="version"
				name="version" type="hidden" [(ngModel)]="riscoPotencial.version">

		</div>

		<div class='row row-btns'>
			<div class="col s4">
				<a [routerLink]="['/risco-potencial']" class="btn btn-primary btn-voltar">Voltar</a>
			</div>
			<div class="col s4 center">
				<a (click)="validar()" class="btn btn-primary btn-validar">Validar</a	>
			</div>
			<div class="col s4">
				<button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
			</div>
		</div>
	</form>

	<div class="mensagem">
		<app-mensagem-form *ngIf="verifyError" [color]="colorError"
			[msg]="msgError"></app-mensagem-form>
	</div>
</div>