<head>
<meta charset="utf-8">
</head>

<!-- -->
<app-mensagem-form *ngIf="verifyEmptyPaginas" [msg]="msgEmptyPaginas"
	[color]="colorEmptyPaginas"> </app-mensagem-form>

<!-- Preload  -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<div class="collection">

	<div *ngFor="let a of array">
		<div class="row row-collection">
			<div class="col s9">
				<a [routerLinkActive]="['active']" class="collection-item">{{a.nome}}</a>
			</div>
			<div class="col s1">
				<a [routerLink]="['/ghee/detalhe', a.id]"><i
					class="material-icons">details</i></a>
			</div>
			<div class="col s1">
				<a [routerLink]="['/ghee/editar', a.id]"><i
					class="material-icons">mode_edit</i></a>
			</div>
			<div class="col s1">
				<a [ngStyle]="{'cursor': 'pointer'}" (click)="delete(a.id)"><i
					class="material-icons">delete</i></a>
			</div>
		</div>

	</div>
</div>

<!-- Paginação -->
<ul class="pagination center-align" *ngIf="!verifyEmptyPaginas">

	<li><a [ngStyle]="{'cursor': 'pointer'}" (click)="goToPage(1)">
			<i class="material-icons arrow-pagination">first_page</i>
	</a></li>
	<li><a [ngStyle]="{'cursor': 'pointer'}"
		(click)="goToPage(filter.getPageNumber()-1)"> <i
			class="material-icons arrow-pagination">chevron_left</i>
	</a></li>

	<li [ngClass]="activePage(paginaAtual)" class="waves-effect"
		*ngFor="let paginaAtual of paginasAtuais; let i = index"><a
		(click)="goToPage(paginaAtual)">{{paginaAtual}} </a></li>

	<li><a [ngStyle]="{'cursor': 'pointer'}"
		(click)="goToPage(filter.getPageNumber()+1)"> <i
			class="material-icons arrow-pagination">chevron_right</i>
	</a></li>
	<li><a [ngStyle]="{'cursor': 'pointer'}"
		(click)="goToPage(paginas.length)"> <i
			class="material-icons arrow-pagination">last_page</i>
	</a></li>

</ul>

<a class="waves-effect waves-light btn" (click)="openModal()">Filtro</a>
<a [routerLink]="['/ghee/cadastrar']"
	class="waves-effect waves-light btn button-add">Adicionar</a>

<!-- Modal Structure -->
<div id="modal" class="modal" materialize="modal"
	[materializeParams]="modelParams" [materializeActions]="modalActions">

	<div class="row">

		<div class="input-field col s12">
			<div class="modal-content">
				<label for="nome">Nome</label> <input type="text" id="nome"
					[(ngModel)]="filtro.nome" name="nome">
			</div>
		</div>

		<div class="input-field col s8">
			<div class="modal-content">
				<label for="codigo">Código</label> <input type="text" id="codigo"
					[(ngModel)]="filtro.codigo" name="codigo">
			</div>
		</div>
		
		<div class="row">
			<div class="input-field col s12">
				<div class="input-field col s4">
					<label for="dataCriacaoInicial">Data de Criação Inicial</label>
					<my-date-picker name="dataCriacaoInicio"
						[options]="myDatePickerOptions"
						[(ngModel)]="filtro.dataCriacao.inicio"
						placeholder="Data de Criação Inicial"> </my-date-picker>
				</div>
				<div class="input-field col s4">
					<label for="dataCriacaoFinal">Data de Criação Final</label>
					<my-date-picker name="dataCriacaoFinal"
						[options]="myDatePickerOptions"
						[(ngModel)]="filtro.dataCriacao.fim"
						placeholder="Data de Criação Final"> </my-date-picker>
				</div>

				<div class="input-field col s4">
					<fieldset>
						<legend>Tipo do Filtro</legend>
						<select name="tipo" class="browser-default"
							[(ngModel)]="filtro.dataCriacao.typeFilter">
							<option disabled selected value=0>Selecione um tipo</option>
							<option *ngFor="let item of typeFilters()" value="{{item}}">{{item}}</option>
						</select>
					</fieldset>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<div class="input-field col s4">
					<label for="dataDesativacaoInicial">Data de Desativação
						Inicial</label>
					<my-date-picker name="dataDesativacaoInicio"
						[options]="myDatePickerOptions"
						[(ngModel)]="filtro.dataDesativacao.inicio"
						placeholder="Data de Desativação Inicial"> </my-date-picker>
				</div>
				<div class="input-field col s4">
					<label for="dataCriacaoFinal">Data de Desativação Final</label>
					<my-date-picker name="dataDesativacaoFinal"
						[options]="myDatePickerOptions"
						[(ngModel)]="filtro.dataDesativacao.fim"
						placeholder="Data de Desativação Final"> </my-date-picker>
				</div>

				<div class="input-field col s4">
					<fieldset>
						<legend>Tipo do Filtro</legend>
						<select name="tipo" class="browser-default"
							[(ngModel)]="filtro.dataDesativacao.typeFilter">
							<option disabled selected value=0>Selecione um tipo</option>
							<option *ngFor="let item of typeFilters()" value="{{item}}">{{item}}</option>
						</select>
					</fieldset>
				</div>

			</div>
		</div>
 
		<div class="input-field col s12">
			<div class="modal-content">
				<label for="descricao">Descrição</label>
				<textarea id="descricao" class="materialize-textarea"
					[(ngModel)]="filtro.descricao" name="filtro.descricao"></textarea>
			</div>
		</div>

	</div>

	<div class="modal-footer">
		<a class="waves-effect waves-green btn-flat" (click)="closeModal()">Fechar</a>
		<a class="modal-action modal-close waves-effect waves-green btn-flat"
			(click)="filtrar()">Filtrar</a>
	</div>

</div>

<!-- Modal Structure -->
<div id="modal" class="modal" materialize="modal"
	[materializeParams]="modalParams" [materializeActions]="modalDelete">

	<h5 class="title-modal-delete">Confirmação para remoção</h5>
	<p class="paragraph-modal-delete">Deseja realmente excluir esse
		campo?</p>
	<p class="paragraph-modal-delete">Se desejar excluir, esse campo não
		poderá mais ser resgatado.</p>

	<div class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-green btn-flat"
			(click)="confirmDelete()">Confirmar</a> <a
			class="waves-effect waves-green btn-flat"
			(click)="closeModalDelete()">Cancelar</a>
	</div>

</div>

<div class="mensagem">
	<app-mensagem-form *ngIf="verifyError" [color]="colorError"
		[msg]="msgError"></app-mensagem-form>
</div>