<head>
<meta charset="utf-8">
</head>

<!-- Modal Structure -->
<div id="modal" class="modal" materialize="modal"
	[materializeParams]="[{dismissible: false}]"
	[materializeActions]="modalFilaAtendimentoOcupacional">

	<h5 class="title-modal title-modal-filaAtendimentoOcupacional">Fila
		de Atendimento</h5>
	<div class="row">
		<div class="input-field col s12">
			<fieldset class="select-localizacao">
				<legend>
					Localizacao <a
						class="btn-floating waves-effect waves-light green btn-add-fieldset"
						(click)="getLocalizacoes()"> <i
						class="material-icons center-icon">cached</i>
					</a>
				</legend>
				<select name="localizacao" class="browser-default"
					[ngModel]="filter.localizacao?.id"
					(ngModelChange)="filter.localizacao.id=$event">
					<option disabled selected value=0>Selecione uma localização</option>
					<option *ngFor="let localizacao of localizacoes"
						value="{{localizacao.id}}">{{localizacao.nome}}</option>
				</select>
			</fieldset>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s3"></div>
		<div class="input-field col s3">
			<label for="inicio">Período Inicial</label>
			<my-date-picker name="inicio" [options]="myDatePickerOptions"
				[(ngModel)]="filter.inicio" placeholder="Data Inicio">
			</my-date-picker>
		</div>
		<div class="input-field col s3">
		<label for="inicio">Período Final</label>
			<my-date-picker name="fim" [options]="myDatePickerOptions"
				[(ngModel)]="filter.fim" placeholder="Data Fim"> </my-date-picker>
		</div>
	</div>
		<table class="table table-striped table-filter-planejamento">
			 <thead>
			    <tr>
			        <th style="width: 0.2%">
			           Profissional
			        </th>
			        <th style="width: 1%">
			           Data Início
			        </th>
			        <th style="width: 1%">
			           Data Fim
			        </th>
			        <th style="width: 1%">
			           Status
			        </th>
			    </tr>
		    </thead>
	    	<tbody>
			    <tr *ngFor="let item of arrayFilaAtendimentoOcupacional" class="tr-filter-descricao" (click)="selectFilaAtendimentoOcupacional(item)">
			        <td>{{item.profissional.empregado.pessoa.nome}}</td>
			        <td>{{item.inicio  |transformDate}}</td>
			        <td>{{item.fim  |transformDate}}</td>
			        <td>{{item.status}}</td>			        
			    </tr>
		    </tbody>
		    <div style="width: 50%; margin: 0 auto; text-align: -webkit-center;">
	        <tfoot>
			    <tr>
			        <td colspan="4">
			            <mfBootstrapPaginator></mfBootstrapPaginator>
			        </td>
			    </tr>
		    </tfoot>
	    </div>
		</table>
	<div class="modal-footer">
		<a class="waves-effect waves-green btn-flat"
			(click)="buscarFilaAtendimentosOcupacionais()">Buscar</a>
		<a class="waves-effect waves-green btn-flat"
			(click)="cancelarModalFilaAtendimentoOcupacional()">Cancelar</a>
	</div>

</div>