<head>
<meta charset="utf-8">
</head>

<!-- -->
<app-mensagem-form *ngIf="verifyEmptyPaginas" [msg]="msgEmptyPaginas"
	[color]="colorEmptyPaginas"> </app-mensagem-form>

<!-- Preload  -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<div class="list-container">

	<div class="collection">

		<div *ngFor="let a of array">
			<div class="row row-collection">
				<div class="col s12">
					<div class="col s5">
						<a [routerLinkActive]="['active']" class="collection-item">
							{{a.filaEsperaOcupacional.empregado.pessoa.nome}}
						</a>
					</div>
					<div class="col s5">
						<a [routerLinkActive]="['active']" class="collection-item">
							{{a.tarefa.equipe.abreviacao}} - {{a.tarefa.responsavel.empregado.pessoa.nome}}
						</a>
					</div>
					<div class="col s2">
						<a [routerLinkActive]="['active']" class="collection-item">
							{{a.tarefa.inicio |transformDate}}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Paginação -->
	<app-paginacao [filter]="filter" [paginasAtuais]="paginasAtuais"
		[paginas]="paginas" [listComponent]="listComponent"
		[verifyEmptyPaginas]="verifyEmptyPaginas"></app-paginacao>

	<div class="row">
		<div class="col s12">
			<a [routerLink]="['/atendimento-avulso/cadastrar']"
				class="waves-effect waves-light btn button-add">Adicionar</a>
		</div>
	</div>

</div>