<head>
<meta charset="utf-8">
</head>

<div class="row div-login">
	<form class="col s12" (ngSubmit)="login()">
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">account_circle</i> 
				<label for="chave" data-success="Ok!">Usuário</label> 
				<input id="chave" type="text" name="chave" [(ngModel)]="usuario.chave">
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">vpn_key</i> 
				<label for="senha" data-success="Ok!">Senha</label> 
				<input id="senha" type="password" name="senha" [(ngModel)]="usuario.senha">
			</div>
		</div>
		
		<div class="mensagem">
			<app-mensagem-form *ngIf="verifyError" [color]="colorError" [msg]="msgError"></app-mensagem-form>
		</div>
		
		<div class='row'>
			<button type="submit" class="btn btn-primary">Login</button>
			<a class="btn btn-primary right" (click)="forgotPassword()">Esqueci
				a senha</a>
		</div>
	</form>
</div>

