<head>
<meta charset="utf-8">
</head>

<ul id="slide-out1" class="side-nav">
	<li>
		<a materialize="sideNav"
			[materializeParams]="[{closeOnClick: true}]"
			[materializeActions]="sidenavActions3" data-activates="slide-out3"
			(click)="closeSidenav1()">Cadastro
		</a>
		<a materialize="sideNav"
			[materializeParams]="[{closeOnClick: true}]"
			[materializeActions]="sidenavActionsProcesso" data-activates="slide-out-processo"
			(click)="closeSidenavProcesso()">Processo
		</a>
	</li>
		
</ul>

<ul id="slide-out3" class="side-nav">
	<li>
		<a materialize="sideNav"
			[materializeParams]="sidenavParams"
			[materializeActions]="sidenavActions3" data-activates="slide-out1"
			(click)="closeSidenav3()"><i class="material-icons">chevron_left</i>
		</a>
		<a [routerLink]="['/base']" *ngIf="checkPermissao('*')">Base</a>
		<a [routerLink]="['/cargo']" *ngIf="checkPermissao('*')">Cargo</a>
		<a [routerLink]="['/cidade']" *ngIf="checkPermissao('*')">Cidade</a>
		<a [routerLink]="['/criterio']" *ngIf="checkPermissao('*')">Critério</a>
		<a [routerLink]="['/curso']" *ngIf="checkPermissao('*')">Curso</a>
		<a [routerLink]="['/empregado']" *ngIf="checkPermissao('EMPREGADO_LISTAR')">Empregado</a>
		<a [routerLink]="['/equipe']" *ngIf="checkPermissao('*')">Equipe</a>
		<a [routerLink]="['/exame']" *ngIf="checkPermissao('EXAME_LISTAR')">Exame</a>
		<a [routerLink]="['/funcao']" *ngIf="checkPermissao('*')">Função</a>
		<a [routerLink]="['/fornecedor']" *ngIf="checkPermissao('*')">Fornecedor</a>
		<a [routerLink]="['/gerencia']" *ngIf="checkPermissao('*')">Gerência</a>
		<a [routerLink]="['/ghe']" *ngIf="checkPermissao('*')">GHE</a>
		<a [routerLink]="['/ghee']" *ngIf="checkPermissao('*')">GHEE</a>
		<a [routerLink]="['/grupo-monitoramento']" *ngIf="checkPermissao('*')">Grupo Monitoramento</a>
		<a [routerLink]="['/indicador-risco-acidente']" *ngIf="checkPermissao('*')">Indicador de Risco Acidente</a>
		<a [routerLink]="['/indicador-risco-ambiental']" *ngIf="checkPermissao('*')">Indicador de Risco Ambiental</a>
		<a [routerLink]="['/indicador-risco-ergonomico']" *ngIf="checkPermissao('*')">Indicador de Risco Ergonômico</a>
		<a [routerLink]="['/indicador-risco-sanitario']" *ngIf="checkPermissao('*')">Indicador de Risco Sanitário</a>
		<a [routerLink]="['/indicador-risco-saude-ambiental']" *ngIf="checkPermissao('*')">Indicador de Risco Saúde Ambiental</a>
		<a [routerLink]="['/instalacao']" *ngIf="checkPermissao('*')">Instalação</a>
		<a [routerLink]="['/localizacao']" *ngIf="checkPermissao('*')">Localização</a>
		<a [routerLink]="['/perfil']" *ngIf="checkPermissao('PERFIL_LISTAR')">Perfil</a>
		<a [routerLink]="['/periodicidade']" *ngIf="checkPermissao('*')">Periodicidade</a>
		<a [routerLink]="['/profissiograma']" *ngIf="checkPermissao('*')">Profissiograma</a>
		<a [routerLink]="['/profissional-saude']" *ngIf="checkPermissao('*')">Profissional de Saúde</a>
		<a [routerLink]="['/regime']" *ngIf="checkPermissao('*')">Regime</a>
		<a [routerLink]="['/relatorio-medico']" *ngIf="checkPermissao('*')">Relatorio Médico</a>
		<a [routerLink]="['/resultado-exame']" *ngIf="checkPermissao('*')">Resultado Exame</a>
		<a [routerLink]="['/tipo-grupo-monitoramento']" *ngIf="checkPermissao('*')">Tipo Grupo Monitoramento</a>
		<a [routerLink]="['/usuario']" *ngIf="checkPermissao('USUARIO_LISTAR')">Usuário</a> 
		<a [routerLink]="['/vacina']" *ngIf="checkPermissao('*')">Vacina</a>
		
	</li>
</ul>

<ul id="slide-out-processo" class="side-nav">
	<li>
		<a materialize="sideNav"
			[materializeParams]="sidenavParams"
			[materializeActions]="sidenavActions3" data-activates="slide-out1"
			(click)="closeSidenavProcesso()"><i class="material-icons">chevron_left</i>
		</a>
		<a [routerLink]="['/auditoria-exame']" *ngIf="checkPermissao('EMPREGADO-CONVOCACAO_LISTAR')">Auditoria De Guia de Exame</a>
		<a [routerLink]="['/auditoria-resultado-exame']" *ngIf="checkPermissao('AUDITORIA-RESULTADO-EXAME_LISTAR')">Auditoria De Resultados de Exames</a>
		<a [routerLink]="['/convocacao']" *ngIf="checkPermissao('CONVOCACAO_LISTAR')">Convocação</a>
		<a [routerLink]="['/solicitacao-servico']">Solicitação de Serviço</a>
		<a [routerLink]="['/fila-espera-ocupacional']">Fila de Espera</a>
		<a [routerLink]="['/atendimento']" *ngIf="checkPermissao('ATENDIMENTO_LISTAR')">Atendimento</a>
	</li>
</ul>

<a materialize="sideNav" [materializeParams]="sidenavParams"
	[materializeActions]="sidenavActions1" data-activates="slide-out1"
	class="btn-floating btn-flat waves-effect waves-light transparent"><i class="large material-icons">menu</i></a>
