.btn-add {
    margin-left: 155px;
}

.collection .collection-item:last-child { 
    cursor: pointer;
}

.row-item-collection {
	border-top: solid 1px #a2a2a2;
	line-height: 0;
}

.row-collection {
	margin-bottom: 0px;
}

.select {
	margin-bottom: 20px;
}

.btn-delete {
	margin-top: -5px;
}