<head>
<meta charset="utf-8">
</head>

<!-- Preload  -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<div class="row form-container">
	<form #form="ngForm" class="col s12" (ngSubmit)="save()">

		<div class="row">
			<div class="input-field col s10">
				<label for="nome">Nome</label> <input id="nome" type="text" disabled
					[(ngModel)]="empregadoConvocacao.empregado.pessoa.nome" name="nome">
			</div>
			<div class="input-field col s2 checkbox checkbox-auditado">
				<input type="checkbox" id="auditado" [disabled]="!verifyAuditado()"
					[(ngModel)]="empregadoConvocacao.auditado"
					name="empregadoDetail.auditado"> <label for="auditado">Auditado</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<label for="convocacao">Convocação</label> <input id="convocacao"
					type="text" disabled
					[(ngModel)]="empregadoConvocacao.convocacao.titulo"
					name="convocacao">
			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<fieldset>
					<legend>Exames <a
								class="btn-floating waves-effect waves-light green btn-add-fieldset"
								(click)="getExames()"> <i
								class="material-icons center-icon">cached</i>
							</a></legend>
					<select name="exames" class="browser-default" #exame>
						<option disabled selected value=0>Selecione um exame</option>
						<option *ngFor="let exame of exames" value="{{exame.id}}">{{exame.codigo}} - {{exame.descricao}}</option>
					</select>
				</fieldset>
			</div>
			<div class="col s2">
				<a class="btn-floating waves-effect waves-light green btn-add"
					(click)="addExame(exame.value)"> <i
					class="material-icons center-icon">add</i>
				</a>
			</div>
		</div>

		<input type="checkbox" id="selectAll"
			[(ngModel)]="selecionarTodos"
			(click)="selectAll()"
			name="selectAll"> <label
			for="selectAll">Selecionar/Desselecionar todos</label>

		<div class="row">

			<table class="striped">
				<thead>
					<tr class="row col s12">
						<th class="col s1">Código</th>
						<th class="col s7">Descrição</th>
						<th class="col s2">Recebimento</th>
						<th class="col s1">Conforme</th>
						<th class="col s1">Excluir</th>
					</tr>
				</thead>
				<div class="contaniner-exames">
					<div
						*ngFor="let empregadoConvocacaoExame of empregadoConvocacao.empregadoConvocacaoExames; let eCE = index">
						<tbody class="col s12">
							<tr class="col s12">
								<td class="col s1 codigo">{{empregadoConvocacaoExame.exame.codigo}}</td>
								<td class="col s7 descricao">{{empregadoConvocacaoExame.exame.descricao}}</td>
								<div class="input-field col s2">
									<my-date-picker name="empregadoConvocacaoExame[{{eCE}}].recebimentoCustomDate.appDate"
										[options]="myDatePickerOptions" 
										[(ngModel)]="empregadoConvocacaoExame.recebimentoCustomDate.appDate"
										placeholder="Recebimento"> </my-date-picker>
								</div>
								<td class="col s1 checkbox-conforme">
									<input [disabled]="empregadoConvocacaoExame.pendenteRelatorio"
									type="checkbox" id="empregadoConvocacaoExame[{{eCE}}].conforme"
									[(ngModel)]="empregadoConvocacaoExame.conforme"
									name="empregadoConvocacaoExame[{{eCE}}].conforme"> 
									<label for="empregadoConvocacaoExame[{{eCE}}].conforme"></label>
								</td>
								<td class="col s1 btn-remover"><a
									(click)="removeExame(eCE)" [ngStyle]="{'cursor': 'pointer'}"><i
										class="material-icons">delete</i></a></td>
							</tr>
						</tbody>
					</div>
				</div>
			</table>
		</div>

		<div class='row row-btns'>
			<div class="col s6">
				<a [routerLink]="['/auditoria-exame']"
					class="btn btn-primary btn-listar">Listar</a>
			</div>
			<div class="col s6">
				<button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
			</div>
		</div>

	</form>
</div>