[type="checkbox"]:not(:checked), [type="checkbox"]:checked  {
    position: absolute;
    opacity: 0;
    margin-top: 15px;
    pointer-events: auto;
}

table {
	border: 1px solid #c0c0c0;
    margin-top: 25px;
    width: 105%;
}

thead > tr {
	margin-bottom: 0px;
	border-bottom: 1px solid;
}

td > a > i {
	margin-top: -5px;
}

tbody{
	margin-top: 10px;
	border-bottom: 1px solid #c0c0c0;	
}

.codigo {
	padding-left: 0px;
	margin-left: 0px;
}

.descricao {
	padding-left: 5px;	
}

.resultado {
	padding-left: 1px;	
}

.checkbox-conforme {
	text-align: center;
}

.btn-remover {
	margin-top: 0px;
    padding-left: 27px;
}

.btn-add {
	margin-top: 40px;
}

.checkbox-auditado {
	margin-top: 30px;
}