select{
	display:inline;
}

fieldset {
	padding-bottom: 60px;
}

.input-field > select {
    display: block;
    position: absolute;
    width: 250px;
    pointer-events: all;
    height: 50px;
    top: 0;
    left: 20px;
    opacity: 10;
    margin-top: -8px;
    margin-left: -15px;
}

.center-icon {
	margin-top: 0px;
}

.content-screen {
	width: 100%;
    margin: 0 auto;
}

.row-btns {
}

.btn-avancar { 
    float: right;
}

.btn-salvar {
	float: right;
}

.botao-voltar {
	margin-top: 50px;
    float: left;
}