<head>
<meta charset="utf-8">
</head>

<!-- -->
<app-mensagem-form *ngIf="verifyEmptyPaginas" [msg]="msgEmptyPaginas"
	[color]="colorEmptyPaginas"> </app-mensagem-form>

<!-- Preload  -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<div class="list-container">

	<div class="collection">

		<div *ngFor="let a of array; let i = index">
			<div class="row row-collection">
				<div class="col s2">
					<a [routerLinkActive]="['active']" class="collection-item">{{a.codigo}}</a>
				</div>
				<div class="col s7">
					<a [routerLinkActive]="['active']" class="collection-item" id="descricao{{i}}"></a>
				</div>
				<div class="col s1">
					<a [routerLink]="['/pergunta-ficha-coleta/detalhe', a.id]"><i
						class="material-icons">details</i></a>
				</div>
				<div class="col s1">
					<a [routerLink]="['/pergunta-ficha-coleta/editar', a.id]"><i
						class="material-icons">mode_edit</i></a>
				</div>
				<div class="col s1">
					<a [ngStyle]="{'cursor': 'pointer'}" (click)="delete(a.id)"><i
						class="material-icons">delete</i></a>
				</div>
			</div>
		</div>
	</div>

	<!-- Paginação -->
	<app-paginacao [filter]="filter" [paginasAtuais]="paginasAtuais"
		[paginas]="paginas" [listComponent]="listComponent"
		[verifyEmptyPaginas]="verifyEmptyPaginas"></app-paginacao>

	<a class="waves-effect waves-light btn" (click)="openModal()">Filtro</a>
	<a [routerLink]="['/pergunta-ficha-coleta/cadastrar']"
		class="waves-effect waves-light btn button-add">Adicionar</a>

</div>

<!-- Modal Structure -->
<div id="modal" class="modal" materialize="modal"
	[materializeParams]="modelParams" [materializeActions]="modalActions">

	<div class="row">
		<div class="input-field col s12">
			<div class="modal-content">
				<label for="codigo">Código</label> <input type="text" id="codigo"
					[(ngModel)]="filter.codigo" name="codigo">
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="input-field col s12">
			<div class="modal-content">
				<label for="grupo">Grupo</label> <input type="text" id="grupo"
					[(ngModel)]="filter.grupo" name="grupo">
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<a class="waves-effect waves-green btn-flat" (click)="closeModal()">Fechar</a>
		<a class="modal-action modal-close waves-effect waves-green btn-flat"
			(click)="setFilter()">Filtrar</a>
	</div>

</div>

<app-confirm-delete [service]="service" [idDelete]="tempDelete" (cancelDelete)="closeModalDelete($event)"
	[show]="openModalDelete"></app-confirm-delete>
	
<div class="mensagem">
	<app-mensagem-form *ngIf="verifyError" [color]="colorError"
		[msg]="msgError"></app-mensagem-form>
</div>