<head>
<meta charset="utf-8">
</head>

<!-- Preload  -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<div class="row form-container">
	<form #form="ngForm" class="col s12" (ngSubmit)="save()">

		<div class="row">

			<div class="input-field col s7">
				<label for="nome">Nome</label> 
				<input id="nome" type="text" disabled [(ngModel)]="ghe.nome"
					name="ghe.nome">
			</div>
			
			<div class="input-field col s5">
				<fieldset>
					<legend>
						Risco do GHE <a
							class="waves-effect waves-light green">
						</a>
					</legend>
					<select disabled name="ghe.risco"
						class="browser-default"
						[(ngModel)]="ghe.risco.id">
						<option disabled selected value=0>Selecione um Risco de GHE</option>
						<option
							*ngFor="let risco of riscoGhes"
							value="{{risco.id}}">{{risco.titulo}}</option>
					</select>
				</fieldset>
			</div>

		</div>
		<div class="row">

			<div class="input-field col s8">
				<label for="codigo">Código</label> 
				<input id="codigo" type="text" disabled
					[(ngModel)]="ghe.codigo" name="ghe.codigo">
			</div>

			<div class="input-field col s4">
				<label for="duracaoJornada">Duração da Jornada</label> 
				<input id="duracaoJornada" type="number" disabled 
					[(ngModel)]="ghe.duracaoJornada" name="ghe.duracaoJornada">
			</div>

		</div>

		<div class="row">

			<div class="input-field col s6">
				<label for="dataCriacao">Data de Criação</label>
				<my-date-picker name="dataCriacao" disabled 
					[options]="myDatePickerOptions" [(ngModel)]="ghe.dataCriacaoCustomDate.appDate"
					placeholder="Data de Criação"> </my-date-picker>
			</div>

			<div class="input-field col s6">
				<label for="dataDesativacao">Data de Desativação</label>
				<my-date-picker name="dataDesativacao" disabled
					[options]="myDatePickerOptions" [(ngModel)]="ghe.dataDesativacaoCustomDate.appDate"
					placeholder="Data de Desativação"> </my-date-picker>
			</div>
		</div>
		
		<div class="row">
			<div class="input-field col s12">
				<label for="descricao" maxlength="1024">Descrição</label>
				<textarea id="descricao" class="materialize-textarea" disabled
					[(ngModel)]="ghe.descricao" name="ghe.descricao"></textarea>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<label for="descricaoAmbiente" maxlength="1024">Descrição do
					Ambiente</label>
				<textarea id="descricaoAmbiente" class="materialize-textarea" disabled
					[(ngModel)]="ghe.descricaoAmbiente" name="ghe.descricaoAmbiente"></textarea>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<label for="descricaoTarefas" maxlength="1024">Descrição das
					Tarefas</label>
				<textarea id="descricaoTarefas" class="materialize-textarea" disabled
					[(ngModel)]="ghe.descricaoTarefas" name="ghe.descricaoTarefas"></textarea>
			</div>
		</div>

		<div class="mensagem">
			<app-mensagem-form *ngIf="verifyError" [color]="colorError"
				[msg]="msgError"></app-mensagem-form>
		</div>

		<div class='row row-btns'>
			<div class="col s6">
				<a [routerLink]="['/ghe']" class="btn btn-primary btn-listar">Listar</a>
			</div>
		</div>
	</form>
</div>