<head>
<meta charset="utf-8">
</head>

<!-- -->
<app-mensagem-form *ngIf="verifyEmptyPaginas" [msg]="msgEmptyPaginas"
	[color]="colorEmptyPaginas"> </app-mensagem-form>

<!-- Preload  -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<div class="list-container">

	<div class="collection">

		<div *ngFor="let a of array">
			<div class="row row-collection">
				<div class="col s5">
					<a [routerLinkActive]="['active']" class="collection-item">{{a.empregadoConvocacaoExame.empregado.pessoa.nome}}</a>
				</div>
				<div class="col s4">
					<a [routerLinkActive]="['active']" class="collection-item">{{a.empregadoConvocacaoExame.exame.descricao}}</a>
				</div>
				<div class="col s1">
					<a [routerLink]="['/relatorio-medico/detalhe', a.id]"><i
						class="material-icons">details</i></a>
				</div>
				<div class="col s1">
					<a [routerLink]="['/relatorio-medico/editar', a.id]"><i
						class="material-icons">mode_edit</i></a>
				</div>
				<div class="col s1">
					<a [ngStyle]="{'cursor': 'pointer'}" (click)="delete(a.id)"><i
						class="material-icons">delete</i></a>
				</div>
			</div>
		</div>
	</div>

	<!-- Paginação -->
	<app-paginacao [filter]="filter" [paginasAtuais]="paginasAtuais"
		[paginas]="paginas" [listComponent]="listComponent"
		[verifyEmptyPaginas]="verifyEmptyPaginas"></app-paginacao>

	<a class="waves-effect waves-light btn" (click)="openModal()">Filtro</a>

</div>

<!-- Modal Structure -->
<div id="modal" class="modal" materialize="modal" (keypress)="enterFilter($event)"
	[materializeParams]="modelParams" [materializeActions]="modalActions">

	<div class="row">

		<div class="row">
			<div class="input-field col s9">
				<div class="modal-content">
					<label for="medicoPrestador">Médico Prestador</label> 
					<input id="medicoPrestador" maxlength="256" 
						type="text" name="medicoPrestador"
						[(ngModel)]="filter.medicoPrestador">
				</div>
			</div>

			<div class="input-field col s2 checkbox">
				<input type="checkbox" id="finalizado"
					(click)="finalizado.changeState()" name="finalizado"> <label
					for="finalizado">Finalizado</label>
			</div>
		</div>

		<div class="input-field col s12">
			<div class="modal-content">
				<label for="resumo">Resumo</label>
				<textarea class="materialize-textarea" id="resumo" maxlength="1024"
					[(ngModel)]="filter.resumo" name="resumo"></textarea>
			</div>
		</div>

		<div class="input-field col s12">
			<div class="modal-content">
				<label for="questionamentos">Questionamentos</label>
				<textarea class="materialize-textarea" id="questionamentos" maxlength="1024"
					[(ngModel)]="filter.questionamentos" name="questionamentos"></textarea>
			</div>
		</div>

	</div>

	<div class="modal-footer">
		<a class="waves-effect waves-green btn-flat" (click)="closeModal()">Fechar</a>
		<a class="modal-action modal-close waves-effect waves-green btn-flat"
			(click)="filtrar()">Filtrar</a>
	</div>

</div>

<app-confirm-delete [service]="service" [idDelete]="tempDelete" (cancelDelete)="closeModalDelete($event)"
	[show]="openModalDelete"></app-confirm-delete>

<div class="mensagem">
	<app-mensagem-form *ngIf="verifyError" [color]="colorError"
		[msg]="msgError"></app-mensagem-form>
</div>
