<head>
<meta charset="utf-8">
</head>
<div style="width: 100%; overflow: hidden;">
	<div style="width: 80%; float: left;" *ngIf="!desabilitar"> 
	<input id="{{nome}}" name="{{nome}}"
							[ngModel]="customDate.appTime"
							(ngModelChange)="customDate.appTime=$event"
							[disabled]="desabilitar"
							placeholder="00:00" timeMaskDirective="99:99"
							class="validate" type="text">
	</div>
	<div style="width: 80%; float: left;" *ngIf="desabilitar" >
		<input id="{{nome}}" name="{{nome}}"
			   [ngModel]="customDate.appTime"
			   [disabled]="desabilitar" 
			   type="text"/>
	</div>
	<div style="margin-left: 81%;" >
		<i class="material-icons" style="cursor: pointer; font-size: 28px;margin-top:5px" (click) ="openTimePicker()">access_time</i>
	</div>
</div>	

<input id="horaAux" name="horaAux"
					   materialize="pickatime" [(ngModel)]="horaAux"(ngModelChange)="setarHora()"
					   [materializeActions]="timeActions" 
					   [materializeParams]="[{twelvehour: false}]"
					   type="hidden">