<head>
<meta charset="utf-8">
</head>

<!-- Preload -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave" [goTo]="goTo"></app-confirm-save>  

<div class="row form-container">
	<form #form="ngForm" class="col s12" (ngSubmit)="save()">

		<div class="row">
		
			<div class="row">
				<h6><b>Serviço: {{atestado.tarefa.servico.nome}} - Cliente: {{atestado.tarefa.cliente.pessoa.nome}}</b></h6>
			</div>
			
			<div class="row">

				<div class="input-field col s3 checkbox">
					<input type="checkbox" id="atestado.impossibilidadeLocomocao" disabled
						[(ngModel)]="atestado.impossibilidadeLocomocao"
						name="atestado.impossibilidadeLocomocao"> 
						<label for="atestado.impossibilidadeLocomocao">Impossibilidade de Locomoção</label>
				</div>
				
				<div class="input-field col s3 checkbox">
					<input type="checkbox" id="atestado.lancadoSap" disabled
						[(ngModel)]="atestado.lancadoSap"
						name="atestado.lancadoSap"> 
						<label for="atestado.lancadoSap">Lançado SAP</label>
				</div>
				
				<div class="input-field col s3 checkbox">
					<input type="checkbox" id="atestado.atestadoFisicoRecebido" disabled 
						[(ngModel)]="atestado.atestadoFisicoRecebido"
						name="atestado.atestadoFisicoRecebido"> 
						<label for="atestado.atestadoFisicoRecebido">Atestado Físico Recebido</label>
				</div>
				
				<div class="input-field col s3 checkbox">
					<input type="checkbox" id="atestado.controleLicenca" disabled
						[(ngModel)]="atestado.controleLicenca"
						name="atestado.controleLicenca"> 
						<label for="atestado.controleLicenca">Controle Licença</label>
				</div>
				
			</div>
			
			<div class="row">
				<div class="input-field col s3">
					<label for="cid">CID</label> 
					<input id="cid" type="text" disabled
						name="cid" [(ngModel)]="atestado.cid">
				</div>
				<div class="input-field col s2">
					<label for="numeroDias">Número de Dias</label>
					<input id="numeroDias" type="number" disabled 
						name="numeroDias" [(ngModel)]="atestado.numeroDias">
				</div>
				
				<div class="input-field col s3">
					<label for="dataInicio">Início</label>
					<my-date-picker name="inicio" [options]="myDatePickerOptions" disabled
						[(ngModel)]="atestado.tarefa.inicioCustomDate.appDate" placeholder="Início">
					</my-date-picker>
				</div>
				<div class="input-field col s4">
					<fieldset>
						<legend> Status </legend>
						<select name="status" class="browser-default" disabled
							[(ngModel)]="atestado.status">
							<option disabled selected value="undefined">Selecione um status</option>
							<option *ngFor="let status of statuses" value="{{status}}">{{status}}</option>
						</select>
					</fieldset>
				</div>
				
			</div>
			
			<div class="row">
				<div class="input-field col s3">
					<label for="dataSolicitacao">Data de Solicitação</label>
					<my-date-picker name="dataSolicitacao" [options]="myDatePickerOptions" disabled
						[(ngModel)]="atestado.dataSolicitacaoCustomDate.appDate" placeholder="Data de Solicitação">
					</my-date-picker>
				</div>
				
				<div class="input-field col s3">
					<label for="dataAgendamento">Data de Agendamento</label>
					<my-date-picker name="dataAgendamento" [options]="myDatePickerOptions" disabled
						[(ngModel)]="atestado.dataAgendamentoCustomDate.appDate" placeholder="Data de Agendamento">
					</my-date-picker>
				</div>
				<div class="input-field col s6">
					<label for="numeroCat">Número da CAT</label>
					<input id="cat" type="text"  disabled
						name="cat" [(ngModel)]="atestado.cat.numero">
				</div>
			</div>
			
			<div class="row"> 
				<div class="input-field col s8">
					<label for="profissional">Profissional que Realizou a Visita</label>
					<input id="profissional" type="text"  disabled
						name="profissional" [(ngModel)]="atestado.profissionalRealizouVisita.empregado.pessoa.nome">
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s4">
					<label for="tipoBeneficio">Tipo do Benefício</label>
					<input id="tipoBeneficio" type="text" disabled 
						name="tipoBeneficio" [(ngModel)]="atestado.tipoBeneficio">
				</div>
				
				<div class="input-field col s4">
					<label for="causaAfastamento">Causa do Afastamento</label>
					<input id="causaAfastamento" type="text" disabled
						name="causaAfastamento" [(ngModel)]="atestado.causaAfastamento">
				</div>
				
				<div class="input-field col s4">
					<fieldset>
						<legend> Situação do Empregado </legend>
						<select name="situacaoEmpregado" class="browser-default" disabled
							[(ngModel)]="atestado.situacaoEmpregado">
							<option disabled selected value="undefined">Selecione uma Situação do Empregado</option>
							<option *ngFor="let situacaoEmpregado of situacaoEmpregados" value="{{situacaoEmpregado}}">
								{{situacaoEmpregado}}
							</option>
						</select>
					</fieldset>
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s12">
					<label for="ultimoContato">Último Contato</label>
					<textarea class="materialize-textarea" id="descricao" disabled
						[(ngModel)]="atestado.ultimoContato" name="atestado.ultimoContato"></textarea>
				</div>
			</div>
			
			<div class="row">
				<div class="input-field col s12">
					<label for="proximoContato">Próximo Contato</label>
					<textarea class="materialize-textarea" id="descricao" disabled
						[(ngModel)]="atestado.proximoContato" name="atestado.proximoContato"></textarea>
				</div>
			</div>
			
		</div>

		<input id="id" name="id" type="hidden" [(ngModel)]="atestado.id"> 
		<input id="version" name="version" type="hidden" [(ngModel)]="atestado.version">

		<div class="mensagem">
			<app-mensagem-form *ngIf="verifyError" [color]="colorError" [msg]="msgError"></app-mensagem-form>
		</div>

		<div class='row row-btns'>
			<div class="col s6">
				<a [routerLink]="['/atestado']"
					class="btn btn-primary btn-listar">Listar</a>
			</div>
			<div class="col s6">
				<button type="submit"
				class="btn btn-primary btn-salvar">Salvar</button>
			</div>
		</div>
	</form>
</div>

<div materialize [materializeParams]="toastParams"
	[materializeActions]="globalActions"></div>