<head>
<meta charset="utf-8">
</head>

<!-- Preload -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<div class="row form-container">
	<form #form="ngForm" class="col s12" (ngSubmit)="save()">

		<div class="row">

			<div class="row" *ngIf="edit">
				<h6>
					<b>Serviço: {{atestado.tarefa.servico.nome}} - Cliente:
						{{atestado.tarefa.cliente.pessoa.nome}}</b>
				</h6>
			</div>

			<ul class="tabs" materialize="tabs">
				<li class="tab col s6"><a RouterLinkActive="active"
					href="#dadosGerais">Dados Gerais</a></li>
				<li class="tab col s6"><a RouterLinkActive="active"
					href="#homologacaoAtestado">Homologação do Atestado</a></li>
			</ul>

			<div class="groups">
				<div id="dadosGerais">
					<div class="row" *ngIf="!edit">
						<div class="input-field col s12">
							<label for="empregado">Empregado</label> <input required
								type="text" materialize="autocomplete" autocomplete="off"
								name="atestado.tarefa.cliente.pessoa.nome"
								[(ngModel)]="atestado.tarefa.cliente.pessoa.nome"
								(blur)="autoCompleteEmp.getAutocomplete().getObj($event,atestado.tarefa,'setCliente','getNome')"
								(ngModelChange)="autoCompleteEmp.getAutocomplete().getList(atestado.tarefa.cliente, 'getNome');"
								(keydown.enter)="autoCompleteEmp.getAutocomplete().pressEnter($event,atestado.tarefa,'setCliente','getNome');"
								[materializeParams]="autoCompleteEmp.getAutocomplete().getObjAutoComplete()">
						</div>
					</div>

					<div class="row">
						<div class="input-field col s3 checkbox">
							<input type="checkbox" id="atestado.impossibilidadeLocomocao"
								[(ngModel)]="atestado.impossibilidadeLocomocao"
								name="atestado.impossibilidadeLocomocao"> <label
								for="atestado.impossibilidadeLocomocao">Impossibilidade
								de Locomoção</label>
						</div>

						<div class="input-field col s3 checkbox">
							<input type="checkbox" id="atestado.lancadoSap"
								[(ngModel)]="atestado.lancadoSap" name="atestado.lancadoSap">
							<label for="atestado.lancadoSap">Lançado SAP</label>
						</div>

						<div class="input-field col s3 checkbox">
							<input type="checkbox" id="atestado.atestadoFisicoRecebido"
								[(ngModel)]="atestado.atestadoFisicoRecebido"
								name="atestado.atestadoFisicoRecebido"> <label
								for="atestado.atestadoFisicoRecebido">Atestado Físico
								Recebido</label>
						</div>

						<div class="input-field col s3 checkbox">
							<input type="checkbox" id="atestado.controleLicenca"
								[(ngModel)]="atestado.controleLicenca"
								name="atestado.controleLicenca"> <label
								for="atestado.controleLicenca">Controle Licença</label>
						</div>

					</div>

					<div class="row">

						<div class="input-field col s2">
							<label for="numeroDias">Número de Dias</label> <input
								id="numeroDias" type="number" name="numeroDias"
								[(ngModel)]="atestado.numeroDias">
						</div>

						<div class="input-field col s3">
							<label for="dataInicio">Início</label>
							<app-date-picker [nome]="'inicio'" 
									[customDate]="atestado.tarefa.inicioCustomDate" 
									[obrigatorio]="'false'"
									[legenda]="'Início'"									
									></app-date-picker>
						</div>
						<div class="input-field col s4">
							<fieldset>
								<legend> Status </legend>
								<select name="status" class="browser-default"
									[(ngModel)]="atestado.status">
									<option disabled selected value="undefined">Selecione um status</option>
									<option *ngFor="let status of statuses" value="{{status}}">{{status}}</option>
								</select>
							</fieldset>
						</div>

					</div>

					<div class="row">
						<div class="input-field col s3">
							<label for="dataSolicitacao">Data de Solicitação</label>
							<app-date-picker [nome]="'dataSolicitacao'" 
									[customDate]="atestado.dataSolicitacaoCustomDate" 
									[obrigatorio]="'false'"
									[legenda]="'Data de Solicitação'"									
									></app-date-picker>
						</div>

						<div class="input-field col s3">
							<label for="dataAgendamento">Data de Agendamento</label>
							<app-date-picker [nome]="'dataAgendamento'" 
									[customDate]="atestado.dataAgendamentoCustomDate" 
									[obrigatorio]="'false'"
									[legenda]="'Data de Agendamento'"									
									></app-date-picker>
						</div>

						<div class="input-field col s6">
							<label for="numeroCat">Número da CAT</label> <input type="text"
								materialize="autocomplete" autocomplete="off"
								name="atestado.cat.numero" [(ngModel)]="atestado.cat.numero"
								(blur)="autoCompleteCat.getAutocomplete().getObj($event,atestado,'setCat','getNumero')"
								(ngModelChange)="autoCompleteCat.getAutocomplete().getList(atestado.cat, 'getNumero');"
								(keydown.enter)="autoCompleteCat.getAutocomplete().pressEnter($event,atestado,'setCat','getNumero');"
								[materializeParams]="autoCompleteCat.getAutocomplete().getObjAutoComplete()">
						</div>
					</div>

					<div class="row">
						<div class="input-field col s12">
							<label for="profissional">Profissional que Realizou a
								Visita</label> <input type="text" materialize="autocomplete"
								autocomplete="off" name="atestado.profissional"
								[(ngModel)]="atestado.profissionalRealizouVisita.empregado.pessoa.nome"
								(blur)="autoCompleteProfissional.getAutocomplete().getObj($event,atestado,'setProfissionalRealizouVisita','getNome')"
								(ngModelChange)="autoCompleteProfissional.getAutocomplete().getList(atestado.profissionalRealizouVisita, 'getNome');"
								(keydown.enter)="autoCompleteProfissional.getAutocomplete().pressEnter($event,atestado,'setProfissionalRealizouVisita','getNome');"
								[materializeParams]="autoCompleteProfissional.getAutocomplete().getObjAutoComplete()">
						</div>
					</div>

					<div class="row">
						<div class="input-field col s4">
							<label for="tipoBeneficio">Tipo do Benefício</label> <input
								id="tipoBeneficio" type="text" name="tipoBeneficio"
								[(ngModel)]="atestado.tipoBeneficio">
						</div>

						<div class="input-field col s4">
							<label for="causaAfastamento">Causa do Afastamento</label> <input
								id="causaAfastamento" type="text" name="causaAfastamento"
								[(ngModel)]="atestado.causaAfastamento">
						</div>

						<div class="input-field col s4">
							<fieldset>
								<legend> Situação do Empregado </legend>
								<select name="situacaoEmpregado" class="browser-default"
									[(ngModel)]="atestado.situacaoEmpregado">
									<option disabled selected value="undefined">Selecione uma Situação do Empregado</option>
									<option *ngFor="let situacaoEmpregado of situacaoEmpregados"
										value="{{situacaoEmpregado}}">
								{{situacaoEmpregado}}
							</option>
								</select>
							</fieldset>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s12">
							<label for="ultimoContato">Último Contato</label>
							<textarea class="materialize-textarea" id="descricao"
								[(ngModel)]="atestado.ultimoContato"
								name="atestado.ultimoContato"></textarea>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s12">
							<label for="proximoContato">Próximo Contato</label>
							<textarea class="materialize-textarea" id="descricao"
								[(ngModel)]="atestado.proximoContato"
								name="atestado.proximoContato"></textarea>
						</div>
					</div>

					<div class="row col s12" *ngIf="!edit">
						<div class="input-field col s11">
							<div class="row file-import">
								<div class="file-field input-field col s12">
									<div class="btn">
										<span>Anexo</span> <input id="anexo" type="file" required
											name="anexo" accept=".zip" #anexo>
									</div>
									<div class="file-path-wrapper">
										<input class="file-path validate" type="text">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="homologacaoAtestado">

					<div class="row" center>
						<div class="input-field col s3">
							<label for="dataEntrega">Data da Entrega</label>							
							<app-date-picker [nome]="'dataEntrega'" 
									[customDate]="atestado.homologacaoAtestado.dataEntregaCustomDate" 
									[obrigatorio]="'false'"
									[legenda]="'Data de Entrega'"									
									></app-date-picker>
						</div>

						<div class="input-field col s3">
							<label for="dataHomologacao">Data da Homologação</label>
							<app-date-picker [nome]="'dataHomologacao'" 
									[customDate]="atestado.homologacaoAtestado.dataHomologacaoCustomDate" 
									[obrigatorio]="'false'"
									[legenda]="'Data da Homologacao'"									
									></app-date-picker>
						</div>

					</div>

					<div class="row">
						<div class="input-field col s12">
							<label for="observacao">Observação</label>
							<textarea class="materialize-textarea" id="observacao"
								[(ngModel)]="atestado.homologacaoAtestado.observacao"
								name="atestado.homologacaoAtestado.observacao"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<label for="profissional">Profissional</label> <input type="text"
								materialize="autocomplete" autocomplete="off"
								name="atestado.homologacaoAtestado.profissional"
								[(ngModel)]="atestado.homologacaoAtestado.profissional.empregado.pessoa.nome"
								(blur)="autoCompleteProfissional.getAutocomplete().getObj($event,atestado.homologacaoAtestado,'setProfissional','getNome')"
								(ngModelChange)="autoCompleteProfissional.getAutocomplete().getList(atestado.homologacaoAtestado.profissional, 'getNome');"
								[materializeParams]="autoCompleteProfissional.getAutocomplete().getObjAutoComplete()">
						</div>
					</div>
				</div>
			</div>

			<input id="id" name="id" type="hidden" [(ngModel)]="atestado.id">
			<input id="version" name="version" type="hidden"
				[(ngModel)]="atestado.version">

			<div class="mensagem">
				<app-mensagem-form *ngIf="verifyError" [color]="colorError"
					[msg]="msgError"></app-mensagem-form>
			</div>

			<div class='row row-btns'>
				<div class="col s6">
					<a [routerLink]="['/atestado']" class="btn btn-primary btn-listar">Listar</a>
				</div>
				<div class="col s6">
					<button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
				</div>
			</div>
		</div>
	</form>
</div>

<div materialize [materializeParams]="toastParams"
	[materializeActions]="globalActions"></div>