<head>
<meta charset="utf-8">
</head>

<!-- Preload -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<div class="row form-container">
	<form #form="ngForm" class="col s12" (ngSubmit)="save()">

		<div class="row">

			<ul class="tabs" materialize="tabs">
				<li class="tab col s6"><a RouterLinkActive="active"
					href="#dadosGerais">Dados Gerais</a></li>
				<li class="tab col s6"><a RouterLinkActive="active"
					href="#outrasInformacoes">Outras Informações</a></li>
			</ul>

			<div id="dadosGerais">

				<div class="row">
					<div class="input-field col s5">
						<label for="numero">Número</label> <input id="numero" type="text"
							maxlength="16" name="numero" [(ngModel)]="cat.numero">
					</div>
					
						<div class="input-field col s4">
							<label for="numeroBeneficio">Número do Benefício</label> <input id="numeroBeneficio" type="text"
								maxlength="32" name="numeroBeneficio" [(ngModel)]="cat.numeroBeneficio">
						</div>

					<div class="input-field col s3 checkbox">
						<input type="checkbox" id="contratado" (change)="setContratado()"
							[(ngModel)]="cat.contratado" name="cat.contratado"> <label
							for="contratado">Contratado</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<label for="empregado">Empregado</label> <input
							type="text" [disabled]="!verifyContratado()"
							materialize="autocomplete" autocomplete="off"
							name="autoCompleteEmpregado"
							[(ngModel)]="cat.empregado.pessoa.nome"
							(blur)="autoCompleteEmpregado.getAutocomplete().getObj($event,cat,'setEmpregado','getNome'); setDadosEmpregado()"
							(ngModelChange)="autoCompleteEmpregado.getAutocomplete().getList(cat.empregado, 'getNome');"
							[materializeParams]="autoCompleteEmpregado.getAutocomplete().getObjAutoComplete()">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s8">
						<label for="nome">Nome</label> <input id="nome" type="text" [required]="!verifyContratado()"
							maxlength="256" [disabled]="verifyContratado()" name="nome"
							[(ngModel)]="cat.nome">
					</div>

					<div class="input-field col s4">
						<label for="dataNascimento">Data de Nascimento</label>
						<app-date-picker [nome]="'dataNascimento'"
								    [desabilitar]="verifyContratado()"
									[customDate]="cat.dataNascimentoCustomDate" 
									[obrigatorio]="'!verifyContratado()'"
									[legenda]="'Data de Nascimento'"									
									></app-date-picker>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s4">
						<label for="cargo">Cargo</label> 
						<input id="cargo" type="text" maxlength="128" 
						[disabled]="verifyContratado()" name="cargo"
							[(ngModel)]="cat.cargo">
					</div>

					<div class="input-field col s4">
						<label for="gerencia">Gerência</label> <input [required]="!verifyContratado()"
							type="text" materialize="autocomplete" autocomplete="off" [disabled]="verifyContratado()"
							name="autoCompleteGerencia"
							[(ngModel)]="cat.gerencia.codigoCompleto"
							(blur)="autoCompleteGerencia.getAutocomplete().getObj($event,cat,'setGerencia','getCodigoCompleto')"
							(ngModelChange)="autoCompleteGerencia.getAutocomplete().getList(cat.gerencia, 'getCodigoCompleto');"
							[materializeParams]="autoCompleteGerencia.getAutocomplete().getObjAutoComplete()">
					</div>

					<div class="input-field col s4">
						<label for="regime">Regime</label> <input id="regime" type="text"
							maxlength="32" [disabled]="verifyContratado()" name="regime"
							[(ngModel)]="cat.regime">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s4">
						<label for="cpf">CPF</label> 
						<input id="cpf" type="text" [required]="!verifyContratado()"
							maxlength="14" [disabled]="verifyContratado()" [mask]="'cpf'"
							(ngModelChange)="cat.cpf=$event" maxlength="14"
							[ngModel]="cat.cpf | cpfMask" name="cpf">
					</div>
					
					<div class="input-field col s4">
						<fieldset>
							<legend>Base</legend>
							<select name="base" class="browser-default" [disabled]="verifyContratado()"  
								[required]="!verifyContratado()" [(ngModel)]="cat.base.id">
								<option disabled selected value="undefined">Selecione um base</option>
								<option *ngFor="let base of bases" value="{{base.id}}">{{base.nome}}</option>
							</select>
						</fieldset>
					</div>

					<div class="input-field col s4">
						<fieldset>
							<legend>Sexo</legend>
							<select name="sexo" class="browser-default" [disabled]="verifyContratado()"  
								[required]="!verifyContratado()" [(ngModel)]="cat.sexo">
								<option disabled selected value="undefined">Selecione um sexo</option>
								<option *ngFor="let sexo of sexos" value="{{sexo}}">{{sexo}}</option>
							</select>
						</fieldset>
					</div>
				</div>


			</div>

			<div id="outrasInformacoes">

				<div class="row">
					<div class="input-field col s6">
						<label for="RTA">RTA</label> <input id="RTA" type="text"
							maxlength="64" name="RTA" [(ngModel)]="cat.rta">
					</div>

					<div class="input-field col s6">
						<label for="instalacao">Instalação</label> <input id="instalacao"
							type="text" maxlength="128" name="instalacao"
							[(ngModel)]="cat.instalacao">
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s4">
							<app-date-picker [nome]="'inicioBeneficio'" 
								[customDate]="cat.inicioBeneficioCustomDate" 									
								[legenda]="'Data'"									
								></app-date-picker>
					</div>
					
					<div class="input-field col s4">
							<app-date-picker [nome]="'ultimoDiaTrabalho'" 
									[customDate]="cat.ultimoDiaTrabalhoCustomDate" 									
									[legenda]="'Data'"									
									></app-date-picker>
					</div>
					
					<div class="input-field col s4">
							<app-date-picker [nome]="'retornoTrabalho'" 
								[customDate]="cat.retornoTrabalhoCustomDate" 									
								[legenda]="'Data'"									
								></app-date-picker>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s4">
						<label for="parteCorpoAtingida">Parte do Corpo Atingida</label> <input
							type="text"
							materialize="autocomplete" autocomplete="off"
							name="autoCompleteParteCorpoAtingida"
							[(ngModel)]="cat.parteCorpoAtingida.descricao"
							(blur)="autoCompleteParteCorpoAtingida.getAutocomplete().getObj($event,cat,'setParteCorpoAtingida','getDescricao')"
							(ngModelChange)="autoCompleteParteCorpoAtingida.getAutocomplete().getList(cat.parteCorpoAtingida, 'getDescricao');"
							[materializeParams]="autoCompleteParteCorpoAtingida.getAutocomplete().getObjAutoComplete()">
					</div>
					
					<div class="input-field col s4">
						<label for="agenteCausador">Agente Causador</label> <input
							type="text"
							materialize="autocomplete" autocomplete="off"
							name="autoCompleteAgenteCausador"
							[(ngModel)]="cat.agenteCausador.descricao"
							(blur)="autoCompleteAgenteCausador.getAutocomplete().getObj($event,cat,'setAgenteCausador','getDescricao')"
							(ngModelChange)="autoCompleteAgenteCausador.getAutocomplete().getList(cat.agenteCausador, 'getDescricao');"
							[materializeParams]="autoCompleteAgenteCausador.getAutocomplete().getObjAutoComplete()">
					</div>
					
					<div class="input-field col s4">
						<label for="naturezaLesao">Natureza da Lesão</label> <input
							type="text"
							materialize="autocomplete" autocomplete="off"
							name="autoCompleteNaturezaLesao"
							[(ngModel)]="cat.naturezaLesao.descricao"
							(blur)="autoCompleteNaturezaLesao.getAutocomplete().getObj($event,cat,'setNaturezaLesao','getDescricao')"
							(ngModelChange)="autoCompleteNaturezaLesao.getAutocomplete().getList(cat.naturezaLesao, 'getDescricao');"
							[materializeParams]="autoCompleteNaturezaLesao.getAutocomplete().getObjAutoComplete()">
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s6">
						<fieldset>
							<legend>Partes do Corpo</legend>
							<select name="partesCorpo" class="browser-default"
								[(ngModel)]="cat.partesCorpo">
								<option disabled selected value="undefined">Selecione uma parte do corpo</option>
								<option *ngFor="let parteCorpo of partesCorpo"
									value="{{parteCorpo}}">{{parteCorpo}}</option>
							</select>
						</fieldset>
					</div>
					
					<div class="input-field col s3 checkbox">
						<input type="checkbox" id="afastamento"
							[(ngModel)]="cat.afastamento" name="cat.afastamento"> <label
							for="afastamento">Afastamento</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s3">
						<label for="numeroSISIN">Número SISIN</label> <input
							id="numeroSISIN" type="text" maxlength="128" name="numeroSISIN"
							[(ngModel)]="cat.numeroSisin">
					</div>
					
					<div class="input-field col s3">
						<label for="classificacaoSISIN">Classificação SISIN</label> <input
							id="classificacaoSISIN" type="number" name="classificacaoSISIN"
							[(ngModel)]="cat.classificacaoSisin">
					</div>

					<div class="input-field col s6">
						<label for="diaHoraAcidente">Dia/Hora do Acidente</label>
						<div>
							<div class="input-field col s6">
									<app-date-picker [nome]="'diaHoraAcidente'" 
											[customDate]="cat.diaHoraAcidenteCustomDate" 									
											[legenda]="'Dia/Hora do Acidente'"									
											></app-date-picker>
							</div>
							<div class="input-field col s6">
					            <input id="diaHoraAcidente" name="diaHoraAcidente" 
					            	[(ngModel)]="cat.diaHoraAcidenteCustomDate.appTime"
				                    materialize="pickatime" 
				                    [materializeActions]="timeActions"
				                    [materializeParams]="[{twelvehour: false}]"
				                    placeholder="00:00" class="validate" type="text">
				            </div>
			            </div>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s3">
						<label for="dataEmissaoCat">Data de Emissão da CAT</label>
								<app-date-picker [nome]="'dataEmissaoCat'" 
											[customDate]="cat.dataEmissaoCatCustomDate" 									
											[legenda]="'Data de Emissao da CAT'"									
											></app-date-picker>
					</div>
				
					<div class="input-field col s6">
						<fieldset>
							<legend>Gravidade</legend>
							<select name="gravidade" class="browser-default"
								[(ngModel)]="cat.gravidade">
								<option disabled selected value="undefined">Selecione uma gravidade</option>
								<option *ngFor="let gravidade of gravidades"
									value="{{gravidade}}">{{gravidade}}</option>
							</select>
						</fieldset>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s3">
						<label for="dataAvaliacaoMedica">Data da Avaliação Médica</label>
									<app-date-picker [nome]="'dataAvaliacaoMedica'" 
											[customDate]="cat.dataAvaliacaoMedicaCustomDate" 									
											[legenda]="'Data da Avaliacao Médica'"									
											></app-date-picker>
					</div>

					<div class="input-field col s3 checkbox">
						<input type="checkbox" id="registroSD2000"
							[(ngModel)]="cat.registroSd2000" name="cat.registroSD2000">
						<label for="registroSD2000">Registro SD2000</label>
					</div>

					<div class="input-field col s3 checkbox">
						<input type="checkbox" id="catSD2000" [(ngModel)]="cat.catSd2000"
							name="cat.catSD2000"> 
						<label for="catSD2000">CAT SD2000</label>
					</div>
				</div>

				<div class="row">
					<div class="input-field col s6">
						<fieldset>
							<legend>Tipo de Acidente</legend>
							<select name="tipoAcidente" class="browser-default"
								[(ngModel)]="cat.tipoAcidente">
								<option disabled selected value="undefined">Selecione uma tipo de acidente</option>
								<option *ngFor="let tipoAcidente of tipoAcidentes"
									value="{{tipoAcidente}}">{{tipoAcidente}}</option>
							</select>
						</fieldset>
					</div>

					<div class="input-field col s6">
						<fieldset>
							<legend>Tipo do CAT</legend>
							<select name="tipoCat" class="browser-default"
								[(ngModel)]="cat.tipoCat">
								<option disabled selected value="undefined">Selecione uma tipo do CAT</option>
								<option *ngFor="let tipoCat of tipoCats" value="{{tipoCat}}">{{tipoCat}}</option>
							</select>
						</fieldset>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s12">
						<label for="dataAvaliacaoMedica">Diagnóstico</label>
						<input (click)="openModalDiagnostico()"
							id="cat.diagnostico.descricao" type="text"
							name="cat.diagnostico.descricao"
							[(ngModel)]="cat.diagnostico.descricao">
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s6">
						<label for="codigoCartaSindicato">Código da Carta do Sindicato</label> 
							<input id="codigoCartaSindicato" type="text" maxlength="16" 
								name="codigoCartaSindicato" [(ngModel)]="cat.codigoCartaSindicato">
					</div>
					<div class="input-field col s3 checkbox">
						<input type="checkbox" id="comunicavelSUS" [(ngModel)]="cat.comunicavelSus"
							name="cat.comunicavelSUS"> 
						<label for="comunicavelSUS">Comunicável SUS</label>
					</div>
					<div class="input-field col s3 checkbox">
						<input type="checkbox" id="ferimentoGraveConformeANP" [(ngModel)]="cat.ferimentoGraveConformeAnp"
							name="cat.ferimentoGraveConformeANP"> 
						<label for="ferimentoGraveConformeANP">Ferimento Grave Conforme ANP</label>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s4">
						<label for="dataComunicacaoSindicato">Data de Comunicação do Sindicato</label>
									<app-date-picker [nome]="'dataComunicacaoSindicato'" 
										[customDate]="cat.dataComunicacaoSindicatoCustomDate" 										
										[legenda]="'Data de Comunicação do Sindicato'"									
										></app-date-picker>
					</div>
					<div class="input-field col s3">
						<label for="remuneracao">Remuneração</label> 
							<input id="remuneracao" type="text" 
								name="remuneracao" [(ngModel)]="cat.remuneracao">
					</div>
					
					<div class="input-field col s5">
						<label for="gerencia">Empresa</label> <input
							type="text" materialize="autocomplete" autocomplete="off"
							name="autoCompleteEmpresa"
							[(ngModel)]="cat.empresa.razaoSocial"
							(blur)="autoCompleteEmpresa.getAutocomplete().getObj($event,cat,'setEmpresa','getRazaoSocial')"
							(ngModelChange)="autoCompleteEmpresa.getAutocomplete().getList(cat.empresa, 'getRazaoSocial');"
							[materializeParams]="autoCompleteEmpresa.getAutocomplete().getObjAutoComplete()">
					</div>
					
				</div>

			</div>

		</div>

		<input id="id" name="id" type="hidden" [(ngModel)]="cat.id"> <input
			id="version" name="version" type="hidden" [(ngModel)]="cat.version">

		<div class="mensagem">
			<app-mensagem-form *ngIf="verifyError" [color]="colorError"
				[msg]="msgError"></app-mensagem-form>
		</div>

		<div class='row row-btns'>
			<div class="col s6">
				<a [routerLink]="['/cat']" class="btn btn-primary btn-listar">Listar</a>
			</div>
			<div class="col s6">
				<button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
			</div>
		</div>
	</form>
</div>

<app-modal-diagnostico [service]="catService" 
	(diagnostico)="selectDiagnostico($event)" (cancelModalDiagnostico)="cancelarModalDiagnostico($event)"
	[showModalDiagnostico]="showModalDiagnostico" [idEquipeProfissional]="innerIdEquipe"></app-modal-diagnostico>