<head>
<meta charset="utf-8">
</head>

<!-- Preload -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<div class="btns-aside">
	
	<a (click)="downloadComunicacaoOcorrencia()" *ngIf="!verifyDownloadRelatorio()"><i style="cursor: pointer;" class="small material-icons icon">file_download</i>Relatório</a><br><br>
	<a (click)="downloadArquivoZip()"><i style="cursor: pointer;" class="small material-icons icon">file_download</i>Arquivos</a>
		
</div>

<div class="row form-container">
	<form #form="ngForm" class="col s12" (ngSubmit)="save()">

		<div class="row">
			<ul class="tabs" materialize="tabs" style="overflow-x: auto">
				<li class="tab"><a RouterLinkActive="active"
					href="#identificacaoTrabalhador">IDENTIFICAÇÃO DO TRABALHADOR</a></li>
				<li class="tab"><a RouterLinkActive="active"
					href="#informacoesPreliminares">INFORMAÇÕES PRELIMINARES</a></li>
				<li class="tab"><a RouterLinkActive="active"
					href="#caracterizacao">CARACTERIZAÇÃO</a></li>
				<li class="tab"><a RouterLinkActive="active"
					href="#afastamento">AFASTAMENTO</a></li>
				<li class="tab"><a RouterLinkActive="active"
					href="#informacoesComplementares">INFORMAÇÕES COMPLEMENTARES</a></li>
				<li class="tab"><a RouterLinkActive="active" href="#cat">CAT</a></li>
				<li class="tab"><a RouterLinkActive="active" href="#atos">ATOS</a></li>
			</ul>

			<table class="table-infos" style="margin-top: 30px">
				<tr>
					<th>Nome do Empregado:</th>
					<td><b>{{cat.empregado.pessoa.nome}}</b></td>
				</tr>
			</table>
			<div class="file-field input-field col s12">
				<div class="btn">
					<span>Arquivo Zip</span> 
					<input id="arquivo" type="file" #arquivo name="arquivo" accept=".zip">
				</div>
				<div class="file-path-wrapper">
					<input class="file-path validate" type="text">
				</div>
			</div>

			<div id="identificacaoTrabalhador">

				<div class="row">
					<div class="input-field col s12">
						<label for="empregado">Empregado</label> <input type="text"
							materialize="autocomplete" autocomplete="off"
							name="cat.empregado" [(ngModel)]="cat.empregado.pessoa.nome"
							(blur)="autoCompleteEmpregado.getAutocomplete().getObj($event,cat,'setEmpregado','getNome')"
							(ngModelChange)="autoCompleteEmpregado.getAutocomplete().getList(cat.empregado, 'getNome'); changeEmpregado();"
							(keydown.enter)="autoCompleteEmpregado.getAutocomplete().pressEnter($event,cat,'setEmpregado','getNome');"
							[materializeParams]="autoCompleteEmpregado.getAutocomplete().getObjAutoComplete()">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s6">
						<label for="empresa">Empresa</label> <input type="text"
							materialize="autocomplete" autocomplete="off" name="cat.empresa"
							[(ngModel)]="cat.empresa.nome"
							(blur)="autoCompleteEmpresa.getAutocomplete().getObj($event,cat,'setEmpresa','getNome'); setCnaeFilter()"
							(ngModelChange)="autoCompleteEmpresa.getAutocomplete().getList(cat.empresa, 'getNome');"
							(keydown.enter)="autoCompleteEmpresa.getAutocomplete().pressEnter($event,cat,'setEmpresa','getNome'); setCnaeFilter()"
							[materializeParams]="autoCompleteEmpresa.getAutocomplete().getObjAutoComplete()">
					</div>

					<div class="input-field col s6">
						<label for="gerencia">Gerência</label> <input type="text"
							materialize="autocomplete" autocomplete="off"
							name="gerencia.codigoCompleto"
							[(ngModel)]="cat.gerencia.codigoCompleto"
							(blur)="autoCompleteGerencia.getAutocomplete().getObj($event,cat,'setGerencia','getCodigoCompleto')"
							(ngModelChange)="autoCompleteGerencia.getAutocomplete().getList(cat.gerencia, 'getCodigoCompleto');"
							(keydown.enter)="autoCompleteGerencia.getAutocomplete().pressEnter($event,cat,'setGerencia','getCodigoCompleto');"
							[materializeParams]="autoCompleteGerencia.getAutocomplete().getObjAutoComplete()">
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s4">
						<label for="jornadaTrabalho">Jornada de Trabalho</label> 
						<input id="jornadaTrabalho" type="numer"  integerMaskDirective
							[(ngModel)]="cat.jornadaTrabalho" name="jornadaTrabalho">
					</div>
				</div>

				<fieldset>
					<legend> Empregado </legend>
					<div class="row">
						<a class="btn pulse btn-floating" style="display: -webkit-inline-box; margin-left: 10px;"
							[class.disabled]="cat.empregado.id > 0" (click)="cadastrarContratado()">
							<i class="material-icons center-icon">save</i>
							<p style="width: 200px; margin: 0 auto; margin-left: 5px; color: #4fc3f7;"><b>Cadastrar Contratado</b></p>	
						</a>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<label for="nome">Nome</label> <input id="nome" type="text"
								[disabled]="cat.empregado.id > 0" maxlength="400"
								[(ngModel)]="cat.empregado.pessoa.nome" name="nome">
						</div>
					</div>

					<div class="row">
						<div class="input-field col s3">
							<label for="matricula">Matrícula</label> <input id="matricula"
								type="text" [disabled]="cat.empregado.id > 0" maxlength="32"
								[(ngModel)]="cat.empregado.matricula" name="matricula">
						</div>

						<div class="input-field col s3">
							<label for="chave">Chave</label> <input id="chave" type="text"
								[disabled]="cat.empregado.id > 0" maxlength="16"
								[(ngModel)]="cat.empregado.chave" name="chave">
						</div>

						<div class="input-field col s3">
							<label for="cpf">CPF</label> <input id="cpf" type="text"
								[disabled]="cat.empregado.id > 0"
								(ngModelChange)="cat.empregado.pessoa.cpf=$event" maxlength="14"
								[ngModel]="cat.empregado.pessoa.cpf | cpfMask : 'cpf'"
								name="cpf">
						</div>
						<div class="input-field col s3">
							<label for="pis">PIS</label> 
							<input id="pis" type="text" 
								[disabled]="cat.empregado.id > 0" maxlength="32"
								[(ngModel)]="cat.empregado.pis" name="pis">
						</div>
					</div>

					<div class="row">
						<div class="input-field col s5">
							<label for="gerencia">Gerência</label> <input type="text"
								materialize="autocomplete" autocomplete="off"
								name="gerencia.codigoCompleto" [disabled]="cat.empregado.id > 0"
								[(ngModel)]="cat.empregado.gerencia.codigoCompleto"
								(blur)="autoCompleteGerenciaEmpregado.getAutocomplete().getObj($event,cat.empregado,'setGerencia','getCodigoCompleto')"
								(ngModelChange)="autoCompleteGerenciaEmpregado.getAutocomplete().getList(cat.empregado.gerencia, 'getCodigoCompleto');"
								(keydown.enter)="autoCompleteGerenciaEmpregado.getAutocomplete().pressEnter($event,cat.empregado,'setGerencia','getCodigoCompleto');"
								[materializeParams]="autoCompleteGerenciaEmpregado.getAutocomplete().getObjAutoComplete()">
						</div>

						<div class="input-field col s3">
							<label for="dataNascimento">Data de Nascimento</label>
							<app-date-picker [nome]="'dataNascimento'"
								[desabilitar]="cat.empregado.id > 0"
								[customDate]="cat.empregado.pessoa.dataNascimentoCustomDate"
								[obrigatorio]="'false'" [legenda]="'Data de Nascimento'"></app-date-picker>
						</div>

						<div class="input-field col s1">
							<label for="idade">Idade</label> <input id="idade" type="text"
								disabled [(ngModel)]="cat.empregado.pessoa.idade" name="idade">
						</div>
						
						<div class="input-field col s3">
							<label for="rg">RG</label> 
							<input id="rg" type="text"
								[disabled]="cat.empregado.id > 0" maxlength="32"
								[(ngModel)]="cat.empregado.pessoa.rg" name="rg">
						</div>
					</div>
					
					<div class="row">
						<div class="input-field col s6">
							<fieldset>
								<legend>
									Cargo <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getCargos()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="cargo" class="browser-default"
									[disabled]="cat.empregado.id > 0"
									[(ngModel)]="cat.empregado.cargo.id">
									<option disabled selected value="0">Selecione um Cargo</option>
									<option *ngFor="let cargo of cargos" value="{{cargo.id}}">{{cargo.nome}}</option>
								</select>
							</fieldset>
						</div>
						
						<div class="input-field col s6">
							<fieldset>
								<legend>
									Função <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getFuncoes()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="funcao" class="browser-default"
									[disabled]="cat.empregado.id > 0"
									[(ngModel)]="cat.empregado.funcao.id">
									<option disabled selected value="0">Selecione uma Função</option>
									<option *ngFor="let funcao of funcoes" value="{{funcao.id}}">{{funcao.nome}}</option>
								</select>
							</fieldset>
						</div>
					</div>
					
					<div class="row">
						<div class="input-field col s4">
							<fieldset>
								<legend>
									Escolaridade <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getEscolaridades()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="escolaridade" class="browser-default"
									[disabled]="cat.empregado.id > 0"
									[(ngModel)]="cat.empregado.escolaridade">
									<option disabled selected value="">Selecione uma Escolaridade</option>
									<option *ngFor="let escolaridade of escolaridades"
										value="{{escolaridade}}">{{escolaridade}}</option>
								</select>
							</fieldset>
						</div>

						<div class="input-field col s4">
							<fieldset>
								<legend>
									Estado Civil <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getEstadosCivis()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="estadoCivil" class="browser-default"
									[disabled]="cat.empregado.id > 0"
									[(ngModel)]="cat.empregado.estadoCivil">
									<option disabled selected value="">Selecione uma Estado Civil</option>
									<option *ngFor="let estadoCivil of estadosCivis"
										value="{{estadoCivil}}">{{estadoCivil}}</option>
								</select>
							</fieldset>
						</div>
						
						<div class="input-field col s4">
							<fieldset>
								<legend>
									Sexo <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getSexos()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="sexo" class="browser-default"
									[disabled]="cat.empregado.id > 0"
									[(ngModel)]="cat.empregado.pessoa.sexo">
									<option disabled selected value="">Selecione um Sexo</option>
									<option *ngFor="let sexo of sexos"
										value="{{sexo}}">{{sexo}}</option>
								</select>
							</fieldset>
						</div>

					</div>
				</fieldset>
				
				<div class="row">
					<div class="input-field col s8">
						<label for="gerenteContrato">Gerente do Contrato</label> 
						<input id="gerenteContrato" type="text"
							maxlength="128" [(ngModel)]="cat.gerenteContrato" name="gerenteContrato">
					</div>
					<div class="input-field col s4">
						<label for="telefoneGerente">Telefone</label>
						<input id="telefoneGerente" type="text"
							[ngModel]="cat.telefoneGerente | cellPhone : 'telefoneGerente'"
							(ngModelChange)="cat.telefoneGerente=$event" 
							maxlength="16" name="telefoneGerente">
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s8">
						<label for="fiscalContrato">Fiscal do Contrato</label> 
						<input id="fiscalContrato" type="text"
							maxlength="128" [(ngModel)]="cat.fiscalContrato" name="fiscalContrato">
					</div>
					<div class="input-field col s4">
						<label for="telefoneFiscal">Telefone</label> 
						<input id="telefoneFiscal" type="text"
							[ngModel]="cat.telefoneFiscal | cellPhone : 'telefoneFiscal'"
							(ngModelChange)="cat.telefoneFiscal=$event" 
							maxlength="16" name="telefoneFiscal">
					</div>
				</div>

			</div>

			<div id="informacoesPreliminares">
				<div class="row">
					<div class="input-field col s3">
						<label for="data.dataOcorrencia">Data de Ocorrência</label>
						<app-date-picker [nome]="'data.dataOcorrencia'"
							[customDate]="cat.dataOcorrenciaCustomDate" (change)="changeAto1();"
							[obrigatorio]="'false'" [legenda]="'Data de Ocorrencia'"></app-date-picker>
					</div>
					<div class="input-field col s2">
						<label>Hora da Ocorrência</label>
						<app-time-picker [nome]="'hora-dataOcorrencia'"
							[customDate]="cat.dataOcorrenciaCustomDate"
							></app-time-picker>
					</div>
					<div class="input-field col s4">
						<label for="local">Local</label> 
						<input id="local" type="text"
							maxlength="512" [(ngModel)]="cat.local" name="local">
					</div>
					<div class="input-field col s3 checkbox">
						<input type="checkbox" id="empregadoServicoCompanhia"
							[(ngModel)]="cat.empregadoServicoCompanhia"
							name="cat.empregadoServicoCompanhia"> <label
							for="cat.empregadoServicoCompanhia">Empregado a serviço da companhia?</label>
					</div>
				</div>
			
				<div class="row">
					<div class="input-field col s6 checkbox">
						<input type="checkbox" id="ocorrenciaTrajeto"
							[(ngModel)]="cat.ocorrenciaTrajeto"
							name="cat.ocorrenciaTrajeto"> 
						<label for="cat.ocorrenciaTrajeto">Ocorrência no trajeto trabalho x residência/local de refeição?</label>
					</div>
					<div class="input-field col s4 checkbox">
						<input type="checkbox" id="ocorrenciaAmbienteTrabalho"
							[(ngModel)]="cat.ocorrenciaAmbienteTrabalho"
							name="cat.ocorrenciaAmbienteTrabalho"> <label
							for="cat.ocorrenciaAmbienteTrabalho">Ocorrência no ambiente de trabalho?</label>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s10">
						<label for="municipio">Município</label> 
						<input type="text"
							materialize="autocomplete" autocomplete="off"
							name="cat.municipio.nome" [(ngModel)]="cat.municipio.nome"
							(blur)="autoCompleteCidade.getAutocomplete().getObj($event,cat,'setMunicipio','getNome')"
							(ngModelChange)="autoCompleteCidade.getAutocomplete().getList(cat.municipio, 'getNome');"
							(keydown.enter)="autoCompleteCidade.getAutocomplete().pressEnter($event,cat,'setMunicipio','getNome');"
							[materializeParams]="autoCompleteCidade.getAutocomplete().getObjAutoComplete()">
					</div>
					<div class="input-field col s2">
						<label for="uf">UF</label> 
						<input id="uf" type="text" disabled
							[(ngModel)]="cat.municipio.uf" name="uf">
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s12">
						<label for="descricao">Descrição/Cinemática da Ocorrência</label>
						<textarea class="materialize-textarea" id="descricao" maxlength="4096"  
							[(ngModel)]="cat.descricao" name="cat.descricao"></textarea>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s3">
						<label for="data.dataInformacao">Data</label>
						<app-date-picker [nome]="'data.dataInformacao'" 
							[customDate]="cat.dataInformacaoCustomDate"
							[obrigatorio]="'false'" [legenda]="'Data da Informação'"></app-date-picker>
					</div>
					<div class="input-field col s3">
						<label>Hora</label>
						<app-time-picker [nome]="'hora-dataInformacao'"
							[customDate]="cat.dataInformacaoCustomDate">
							</app-time-picker>						
				</div>
					<div class="input-field col s6">
						<label for="responsavelInformacao">Responsável</label> 
						<input id="responsavelInformacao" type="text"
							maxlength="256" [(ngModel)]="cat.responsavelInformacao" name="responsavelInformacao">
					</div>
				</div>
			</div>

			<div id="caracterizacao">
				
				<div class="row">
					<div class="input-field col s12 checkbox">
						<input type="checkbox" id="lesaoCorporal"
							[(ngModel)]="cat.lesaoCorporal"
							name="cat.lesaoCorporal"> 
							<label for="cat.lesaoCorporal">
									Há lesão corporal / perturbação funcional conforme os termos da Lei 8.213/91?
							</label>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s12 checkbox">
						<div class="input-field col s6">
							<p><b><span>Há nexo causal entre a lesão apresentada e a ocorrência?</span></b></p>
						</div>
						<div class="input-field col s1">
							<p>
								<input class="radio" name="group1" type="radio" id="nexoCausal.sim"
									[ngModel]="getNexoCausal()" (ngModelChange)="setNexoCausal('sim')"
									value="sim"/> 
								<label for="nexoCausal.sim">SIM</label>
							</p>
						</div>
						<div class="input-field col s1">
							<p>
								<input class="radio" name="group1" type="radio" id="nexoCausal.nao"
									[ngModel]="getNexoCausal()" (ngModelChange)="setNexoCausal('nao')"
									value="nao"/> 
								<label for="nexoCausal.nao">NÃO</label>
							</p>
						</div>
						<div class="input-field col s3">
							<p>
								<input class="radio" name="group1" type="radio" id="nexoCausal.naoAplicavel"
									[ngModel]="getNexoCausal()" (ngModelChange)="setNexoCausal('naoAplicavel')"
									value="naoAplicavel"/>
								<label for="nexoCausal.naoAplicavel">NÃO APLICÁVEL</label>
							</p>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s12">
						<label for="caracterizacao">Caracterização</label>
						<textarea class="materialize-textarea" id="caracterizacao" maxlength="4096" (ngModelChange)="changeCaracterizacao()"
							[(ngModel)]="cat.caracterizacao" name="cat.caracterizacao"></textarea>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s6">
						<label for="profissionalCaracterizacao">Profissional</label> <input type="text"
							name="cat.profissionalCaracterizacao.empregado.pessoa.nome" disabled
							[(ngModel)]="cat.profissionalCaracterizacao.empregado.pessoa.nome">
					</div>
					<div class="input-field col s3">
						<label for="data.dataCaracterizacao">Data</label>
						<app-date-picker [nome]="'data.dataCaracterizacao'"
							[desabilitar]="true"
							[customDate]="cat.dataCaracterizacaoCustomDate"
							[obrigatorio]="'false'" [legenda]="'Data da Caracterização'"></app-date-picker>
					</div>
					<div class="input-field col s3">
						<label>Hora</label>
						<app-time-picker [nome]="'hora-dataCaracterizacao'"
							[desabilitar]="'true'"
							[customDate]="cat.dataCaracterizacaoCustomDate">
							</app-time-picker>
					</div>
				</div>
			</div>

			<div id="afastamento">
				<div class="row">
					<p *ngIf="cat.classificacao && cat.classificacao.id > 0 && 
						cat.classificacao.geraAfastamento"><b>Lesão COM afastamento</b></p>
					<p *ngIf="cat.classificacao && cat.classificacao.id > 0 &&
						!cat.classificacao.geraAfastamento"><b>Lesão SEM afastamento</b></p>
				</div>
				
				<div class="row">
					<div class="input-field col s4">
						<label for="cid">CID</label> <input type="text"
							materialize="autocomplete" autocomplete="off"
							name="cat.cid" [(ngModel)]="cat.cid.codigo"
							(blur)="autoCompleteCid.getAutocomplete().getObj($event,cat,'setCid','getCodigo'); changeCid()"
							(ngModelChange)="autoCompleteCid.getAutocomplete().getList(cat.cid, 'getCodigo');"
							(keydown.enter)="autoCompleteCid.getAutocomplete().pressEnter($event,cat,'setCid','getCodigo'); changeCid()"
							[materializeParams]="autoCompleteCid.getAutocomplete().getObjAutoComplete()">
					</div>
					<div class="input-field col s6">
						<fieldset>
							<legend> Classificação do Afastamento 
								<a class="btn-floating waves-effect waves-light green btn-add-fieldset"
									(click)="getClassificacoes()"> 
									<i class="material-icons center-icon">cached</i>
								</a>
							</legend>
							<select name="classificacao" class="browser-default"
								[(ngModel)]="cat.classificacao.id" (ngModelChange)="changeClassificacaoAfastamento()">
								<option disabled selected value="undefined">Selecione uma Classificação</option>
								<option *ngFor="let classificacao of classificacoes" value="{{classificacao.id}}">
									{{classificacao.descricao}}
								</option>
							</select>
						</fieldset>
					</div>
					<div class="input-field col s2">
						<label for="tempoPrevisto">Tempo Previsto</label> 
						<input id="tempoPrevisto" type="number"  integerMaskDirective
							[(ngModel)]="cat.tempoPrevisto" name="tempoPrevisto">
					</div>
				</div>
				
				<div class="row" *ngIf="cat.classificacao && 
										cat.classificacao.id > 0 && 
										!cat.classificacao.afastamento">
					<div class="input-field col s12">
						<label for="justificativa">Justificativa</label>
						<textarea class="materialize-textarea" id="justificativa" maxlength="2048"
							[required]="cat.classificacao && 
										cat.classificacao.id > 0 && 
										!cat.classificacao.afastamento"
							[(ngModel)]="cat.justificativa" name="cat.justificativa"></textarea>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s9 checkbox">
						<input type="checkbox" id="ferimentoGrave"
							[(ngModel)]="cat.ferimentoGrave"
							name="cat.ferimentoGrave"> 
						<label for="cat.ferimentoGrave">Ferimento grave conforme resolução ANP nº 44 de 22/12/2009?</label>
					</div>
				</div>
					
				<div class="row">
					<div class="input-field col s12">
						<label for="recomendacoes">Recomendações</label>
						<textarea class="materialize-textarea" id="recomendacoes" maxlength="4096"  
							[(ngModel)]="cat.recomendacoes" name="cat.recomendacoes"></textarea>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s3 checkbox">
						<input type="checkbox" id="cat.ausenciaExames"
							(click)="setAusenciaExames($event)"
							[disabled]="cat.classificacao == undefined || 
									cat.classificacao.id == 0 || 
									cat.dataEmissaoCustomDate.appDate == undefined ||
									cat.empregado.vinculo == 'CONTRATADO'"
							[(ngModel)]="cat.ausenciaExames"
							name="cat.ausenciaExames"> 
						<label for="cat.ausenciaExames">Ausência de Exames</label>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s6">
						<label for="profissionalClassificacao">Profissional</label> <input type="text"
							name="cat.profissionalClassificacao.empregado.pessoa.nome" disabled 
							[(ngModel)]="cat.profissionalClassificacao.empregado.pessoa.nome">
					</div>
					<div class="input-field col s3">
						<label for="data.dataClassificacao">Data</label>
						<app-date-picker [nome]="'data.dataClassificacao'"
							[desabilitar]="'true'"
							[customDate]="cat.dataClassificacaoCustomDate"
							[obrigatorio]="'false'" [legenda]="'Data da Classificação'"></app-date-picker>
					</div>
					<div class="input-field col s3">
						<label>Hora</label>
						<app-time-picker [nome]="'hora-dataClassificacao'"
							[desabilitar]="'true'"
							[customDate]="cat.dataClassificacaoCustomDate">
						</app-time-picker>
					</div>
				</div>
				
				<div class="row">
					<div class="col s4">
						<button (click)="modalExame.openModalExame()" type='button'
							[disabled]="cat.classificacao == undefined || 
								cat.classificacao.id == 0 || 
								cat.dataEmissaoCustomDate.appDate == undefined || 
								cat.ausenciaExames ||
								cat.empregado.vinculo == 'CONTRATADO'"
							class="btn">Exames para Convocação</button>
					</div>
				</div>
			</div>
			<div id="informacoesComplementares">
			
				<div class="row">
					<div class="input-field col s3">
						<label for="dataAvaliacaoMedica">Data da Avaliação Médica</label>
						<app-date-picker [nome]="'dataAvaliacaoMedica'"
							[customDate]="cat.dataAvaliacaoMedicaCustomDate"
							(change)="changeAto2()"
							[obrigatorio]="'false'" [legenda]="'Data da Avaliação Médica'"></app-date-picker>
					</div>
					<div class="input-field col s3 checkbox">
						<input type="checkbox" id="registroSd2000"
							[(ngModel)]="cat.registroSd2000"
							name="cat.registroSd2000"> <label
							for="cat.registroSd2000">Registro no SD2000</label>
					</div>
					<div class="input-field col s3 checkbox">
						<input type="checkbox" id="catSd2000"
							[(ngModel)]="cat.catSd2000"
							name="cat.catSd2000"> <label
							for="cat.catSd2000">CAT no SD2000</label>
					</div>
					<div class="input-field col s3 checkbox">
						<input type="checkbox" id="catInss"
							[(ngModel)]="cat.catInss"
							name="cat.catInss"> <label
							for="cat.catInss">CAT no INSS</label>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s4">
						<label for="grauRiscoEmpresa">Grau do Risco da Empresa</label> 
						<input id="grauRiscoEmpresa" type="number"  integerMaskDirective
							[(ngModel)]="cat.grauRiscoEmpresa" name="grauRiscoEmpresa">
					</div>
					<div class="input-field col s4">
						<label for="numeroSisin">Número SISIN</label> 
						<input id="numeroSisin" type="text" maxlength="8" 
							[(ngModel)]="cat.numeroSisin" name="numeroSisin">
					</div>
					<div class="input-field col s4">
						<label for="classificacaoSisin">Classificação SISIN</label> 
						<input id="classificacaoSisin" type="number" integerMaskDirective
							[(ngModel)]="cat.classificacaoSisin" name="classificacaoSisin">
					</div>
				</div>
			
				<div class="row">
					<div class="input-field col s6">
						<label for="rta">RTA</label> 
							<input id="rta" type="text" maxlength="64"
							[(ngModel)]="cat.rta"
							name="rta">
					</div>
					<div class="input-field col s6">
						<label for="cnae">CNAE</label> <input type="text"
								materialize="autocomplete" autocomplete="off" name="cnae" 
								[(ngModel)]="cat.cnae.codigo" [disabled]="cat.empresa.id == undefined || cat.empresa.id == 0"
								(blur)="autoCompleteCnae.getAutocomplete().getObj($event,cat,'setCnae','getCodigo')"
								(ngModelChange)="autoCompleteCnae.getAutocomplete().getList(cat.cnae, 'getCodigo');"
								(keydown.enter)="autoCompleteCnae.getAutocomplete().pressEnter($event,cat,'setCnae','getCodigo');"
								[materializeParams]="autoCompleteCnae.getAutocomplete().getObjAutoComplete()">
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s8">
						<label for="instalacao">Instalação</label> <input type="text"
							materialize="autocomplete" autocomplete="off" name="instalacao" 
							[(ngModel)]="cat.instalacao.nome"
							(blur)="autoCompleteInstalacao.getAutocomplete().getObj($event,cat,'setInstalacao','getNome')"
							(ngModelChange)="autoCompleteInstalacao.getAutocomplete().getList(cat.instalacao, 'getNome');"
							(keydown.enter)="autoCompleteInstalacao.getAutocomplete().pressEnter($event,cat,'setInstalacao','getNome');"
							[materializeParams]="autoCompleteInstalacao.getAutocomplete().getObjAutoComplete()">
					</div>
					<div class="input-field col s4">
						<label for="remuneracao">Remuneração</label> 
							<input id="remuneracao" type="text" maxlength="17" numberMaskDirective=""
							[(ngModel)]="cat.remuneracao"
							name="remuneracao">
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s9">
						<label for="classificacaoGravidade">Classificação da Ocorrência</label> <input type="text"
							materialize="autocomplete" autocomplete="off" name="classificacaoGravidade" 
							[(ngModel)]="cat.classificacaoGravidade.titulo"
							(blur)="autoCompleteClassificacaoGravidade.getAutocomplete().getObj($event,cat,'setClassificacaoGravidade','getTitulo')"
							(ngModelChange)="autoCompleteClassificacaoGravidade.getAutocomplete().getList(cat.classificacaoGravidade, 'getTitulo');"
							(keydown.enter)="autoCompleteClassificacaoGravidade.getAutocomplete().pressEnter($event,cat,'setClassificacaoGravidade','getTitulo');"
							[materializeParams]="autoCompleteClassificacaoGravidade.getAutocomplete().getObjAutoComplete()">
					</div>
					<div class="input-field col s3">
						<label for="dataObito">Data de Óbito</label>
						<app-date-picker [nome]="'dataObito'"
							[customDate]="cat.dataObitoCustomDate"
							[obrigatorio]="'false'" [legenda]="'Data de Óbito'"></app-date-picker>
					</div>
				</div>
				
			</div>
			
			<div id="cat">
			
				<div class="row">
					<div class="input-field col s3">
						<label for="codigoCartaSindicato">Código da Carta do Sindicato</label> 
						<input id="codigoCartaSindicato" 
							type="text" maxlength="16"
							[(ngModel)]="cat.codigoCartaSindicato" name="codigoCartaSindicato">
					</div>
					<div class="input-field col s3">
						<label for="numeroCat">Número da CAT</label> 
						<input id="numeroCat" 
							type="text" maxlength="32"
							[(ngModel)]="cat.numeroCat" name="numeroCat">
					</div>
					<div class="input-field col s3">
						<label for="classificacaoAnomalia">Classificação da Anomalia</label> 
						<input id="classificacaoAnomalia" type="number" integerMaskDirective
							[(ngModel)]="cat.classificacaoAnomalia" name="classificacaoAnomalia">
					</div>
					
					<div class="input-field col s3">
						<label for="dataEmissao">Data de Emissão</label>
						<app-date-picker [nome]="'dataEmissao'"
							[customDate]="cat.dataEmissaoCustomDate" (change)="changeAto1(); changeAto3()"
							[obrigatorio]="'false'" [legenda]="'Data de Emissão'"></app-date-picker>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s4">
						<label for="agenteCausador">Agente Causador</label> <input type="text"
							materialize="autocomplete" autocomplete="off" name="agenteCausador" 
							[(ngModel)]="cat.agenteCausador.descricao"
							(blur)="autoCompleteAgenteCausador.getAutocomplete().getObj($event,cat,'setAgenteCausador','getDescricao')"
							(ngModelChange)="autoCompleteAgenteCausador.getAutocomplete().getList(cat.agenteCausador, 'getDescricao');"
							(keydown.enter)="autoCompleteAgenteCausador.getAutocomplete().pressEnter($event,cat,'setAgenteCausador','getDescricao');"
							[materializeParams]="autoCompleteAgenteCausador.getAutocomplete().getObjAutoComplete()">
					</div>
					<div class="input-field col s4">
						<label for="naturezaLesao">Natureza da Lesão</label> <input type="text"
							materialize="autocomplete" autocomplete="off"
							name="cat.naturezaLesao"
							[(ngModel)]="cat.naturezaLesao.descricao"
							(blur)="autoCompleteNaturezaLesao.getAutocomplete().getObj($event,cat,'setNaturezaLesao','getDescricao')"
							(ngModelChange)="autoCompleteNaturezaLesao.getAutocomplete().getList(cat.naturezaLesao, 'getDescricao');"
							(keydown.enter)="autoCompleteNaturezaLesao.getAutocomplete().pressEnter($event,cat,'setNaturezaLesao','getDescricao');"
							[materializeParams]="autoCompleteNaturezaLesao.getAutocomplete().getObjAutoComplete()">
					</div>
					<div class="input-field col s4">
						<label for="parteCorpoAtingida">Parte do Corpo Atingida</label> <input type="text"
							materialize="autocomplete" autocomplete="off"
							name="cat.parteCorpoAtingida"
							[(ngModel)]="cat.parteCorpoAtingida.descricao"
							(blur)="autoCompleteParteCorpoAtingida.getAutocomplete().getObj($event,cat,'setParteCorpoAtingida','getDescricao')"
							(ngModelChange)="autoCompleteParteCorpoAtingida.getAutocomplete().getList(cat.parteCorpoAtingida, 'getDescricao');"
							(keydown.enter)="autoCompleteParteCorpoAtingida.getAutocomplete().pressEnter($event,cat,'setParteCorpoAtingida','getDescricao');"
							[materializeParams]="autoCompleteParteCorpoAtingida.getAutocomplete().getObjAutoComplete()">
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s6">
						<label for="diagnosticoProvavel">Diagnóstico Provável</label> <input type="text"
							materialize="autocomplete" autocomplete="off"
							name="cat.diagnosticoProvavel" [(ngModel)]="cat.diagnosticoProvavel.codigo"
							(blur)="autoCompleteDiagnosticoProvavel.getAutocomplete().getObj($event,cat,'setDiagnosticoProvavel','getCodigo');"
							(ngModelChange)="autoCompleteDiagnosticoProvavel.getAutocomplete().getList(cat.diagnosticoProvavel, 'getCodigo');"
							(keydown.enter)="autoCompleteDiagnosticoProvavel.getAutocomplete().pressEnter($event,cat,'setDiagnosticoProvavel','getCodigo');"
							[materializeParams]="autoCompleteDiagnosticoProvavel.getAutocomplete().getObjAutoComplete()">
					</div>
					<div class="input-field col s3 checkbox">
						<input type="checkbox" id="pendenciaCorrecao"
							[(ngModel)]="cat.pendenciaCorrecao"
							name="cat.pendenciaCorrecao"> <label
							for="cat.pendenciaCorrecao">Pendência de Correção</label>
					</div>
					<div class="input-field col s3 checkbox">
						<input type="checkbox" id="comunicavelSus"
							[(ngModel)]="cat.comunicavelSus"
							name="cat.comunicavelSus"> <label
							for="cat.comunicávelSus">Comunicável ao SUS</label>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s6">
						<fieldset>
							<legend>
								Tipo de Acidente <a
									class="btn-floating waves-effect waves-light green btn-add-fieldset"
									(click)="getTipoAcidentes()"> <i
									class="material-icons center-icon">cached</i>
								</a>
							</legend>
							<select name="tipoAcidente" class="browser-default"
								[(ngModel)]="cat.tipoAcidente">
								<option disabled selected value="">Selecione um Tipo de Acidente</option>
								<option *ngFor="let tipoAcidente of tipoAcidentes"
									value="{{tipoAcidente}}">{{tipoAcidente}}</option>
							</select>
						</fieldset>
					</div>
					
					<div class="input-field col s6">
						<fieldset>
							<legend>
								Tipo da CAT<a
									class="btn-floating waves-effect waves-light green btn-add-fieldset"
									(click)="getTipoCat()"> <i
									class="material-icons center-icon">cached</i>
								</a>
							</legend>
							<select name="tipoCat" class="browser-default"
								[(ngModel)]="cat.tipoCat">
								<option disabled selected value="">Selecione um Tipo de CAT</option>
								<option *ngFor="let tipoCat of tipoCats"
									value="{{tipoCat}}">{{tipoCat}}</option>
							</select>
						</fieldset>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s8">
						<label for="numeroCartaMulta">Número da Carta da Multa</label> 
						<input id="numeroCartaMulta" 
							type="text" maxlength="64" [(ngModel)]="cat.numeroCartaMulta" name="numeroCartaMulta">
					</div>
					<div class="input-field col s4">
						<label for="dataComunicacaoSindicato">Data da Comunicação do Sindicato</label>
						<app-date-picker [nome]="'dataComunicacaoSindicato'"
							[customDate]="cat.dataComunicacaoSindicatoCustomDate"
							(change)="changeAto3()"
							[obrigatorio]="'false'" [legenda]="'Data da Comunicacao do Sindicato'"></app-date-picker>
					</div>
				</div>
				
				<div class="row">
	    			<div class="input-field col s12">
						<label for="justificativaAtrasoEmissaoCarta">Justificativa para o Atraso da Emissão da Carta</label>
						<textarea class="materialize-textarea" id="justificativaAtrasoEmissaoCat" maxlength="1024"  
							[(ngModel)]="cat.justificativaAtrasoEmissaoCarta" name="cat.justificativaAtrasoEmissaoCarta"></textarea>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s12">
						<label for="justificativaAtrasoEmissaoCat">Justificativa para o Atraso na Emissão da CAT</label>
						<textarea class="materialize-textarea" id="justificativaAtrasoEmissaoCat" maxlength="1024"  
							[(ngModel)]="cat.justificativaAtrasoEmissaoCat" name="cat.justificativaAtrasoEmissaoCat"></textarea>
					</div>
				</div>
    
			</div>
			
			<div id="atos">
				<div class="row">
					<div class="input-field col s12">
						<label for="ato1">Ato 1</label>
						<textarea class="materialize-textarea"
							[disabled]="profissional.equipe.abreviacao != 'COR'" 
							id="ato1" maxlength="512"  
							[(ngModel)]="cat.ato1" name="cat.ato1"></textarea>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s12">
						<label for="ato2">Ato 2</label>
						<textarea class="materialize-textarea"
							[disabled]="profissional.equipe.abreviacao != 'COR'" 
							id="ato2" maxlength="512"  
							[(ngModel)]="cat.ato2" name="cat.ato2"></textarea>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s12">
						<label for="ato3">Ato 3</label>
						<textarea class="materialize-textarea"
							[disabled]="profissional.equipe.abreviacao != 'COR'" 
							id="ato3" maxlength="512"  
							[(ngModel)]="cat.ato3" name="cat.ato3"></textarea>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s12">
						<label for="ato4">Ato 4</label>
						<textarea class="materialize-textarea"
							[disabled]="profissional.equipe.abreviacao != 'COR'" 
							id="ato4" maxlength="512"  
							[(ngModel)]="cat.ato4" name="cat.ato4"></textarea>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s12">
						<label for="ato5">Ato 5</label>
						<textarea class="materialize-textarea"
							[disabled]="profissional.equipe.abreviacao != 'COR'" 
							id="ato5" maxlength="512"
							[(ngModel)]="cat.ato5" name="cat.ato5"></textarea>
					</div>
				</div>
			
			</div>

		</div>

		<input id="id" name="id" type="hidden" [(ngModel)]="cat.id"> <input
			id="version" name="version" type="hidden" [(ngModel)]="cat.version">

		<div class="mensagem">
			<app-mensagem-form *ngIf="verifyError" [color]="colorError"
				[msg]="msgError"></app-mensagem-form>
		</div>

		<div class='row row-btns'>
			<div class="col s6">
				<a [routerLink]="['/cat']" class="btn btn-primary btn-listar">Listar</a>
			</div>
			<div class="col s6">
				<button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
			</div>
		</div>
	</form>
</div>

<div materialize [materializeParams]="toastParams"
	[materializeActions]="globalActions"></div>
	
<app-modal-exame [examesConvocacao]="cat.examesConvocacao" (exame)="addExame($event)"></app-modal-exame>
<app-modal-confirm (value)="functionModalConfirm($event)"></app-modal-confirm>