[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    margin-top: 15px;
    pointer-events: auto;
}

.checkbox {
	margin-top: 30px;
}

.radio {
	pointer-events: auto;
}