<head>
<meta charset="utf-8">
</head>

<!-- Preload -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<div class="row form-container">
	<form #form="ngForm" class="col s12" (ngSubmit)="save()">

		<div class="row">
			<ul class="tabs" materialize="tabs">
				<li class="tab col s2"><a RouterLinkActive="active"
					href="#identificacaoTrabalhador">IDENTIFICAÇÃO DO TRABALHADOR</a></li>
				<li class="tab col s2"><a RouterLinkActive="active"
					href="#informacoesPreliminares">INFORMAÇÕES PRELIMINARES</a></li>
				<li class="tab col s2"><a RouterLinkActive="active"
					href="#caracterizacao">CARACTERIZAÇÃO</a></li>
				<li class="tab col s2"><a RouterLinkActive="active"
					href="#afastamento">AFASTAMENTO</a></li>
				<li class="tab col s2"><a RouterLinkActive="active" href="#cat">CAT</a></li>
				<li class="tab col s2"><a RouterLinkActive="active"
					href="#informacoesComplementares">INFORMAÇÕES COMPLEMENTARES</a></li>
			</ul>

			<table class="table-infos" style="margin-top: 30px">
				<tr>
					<th>Nome do Empregado:</th>
					<td><b>{{cat.empregado.pessoa.nome}}</b></td>
				</tr>
			</table>

			<div id="identificacaoTrabalhador">

				<div class="row">
					<div class="input-field col s12">
						<label for="empregado">Empregado</label> <input type="text"
							materialize="autocomplete" autocomplete="off"
							name="cat.empregado" [(ngModel)]="cat.empregado.pessoa.nome"
							(blur)="autoCompleteEmpregado.getAutocomplete().getObj($event,cat,'setEmpregado','getNome')"
							(ngModelChange)="autoCompleteEmpregado.getAutocomplete().getList(cat.empregado, 'getNome'); changeEmpregado();"
							(keydown.enter)="autoCompleteEmpregado.getAutocomplete().pressEnter($event,cat,'setEmpregado','getNome');"
							[materializeParams]="autoCompleteEmpregado.getAutocomplete().getObjAutoComplete()">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s6">
						<label for="empresa">Empresa</label> <input type="text"
							materialize="autocomplete" autocomplete="off" name="cat.empresa"
							[(ngModel)]="cat.empresa.nome"
							(blur)="autoCompleteEmpresa.getAutocomplete().getObj($event,cat,'setEmpresa','getNome')"
							(ngModelChange)="autoCompleteEmpresa.getAutocomplete().getList(cat.empresa, 'getNome');"
							(keydown.enter)="autoCompleteEmpresa.getAutocomplete().pressEnter($event,cat,'setEmpresa','getNome');"
							[materializeParams]="autoCompleteEmpresa.getAutocomplete().getObjAutoComplete()">
					</div>

					<div class="input-field col s6">
						<label for="gerencia">Gerência</label> <input type="text"
							materialize="autocomplete" autocomplete="off"
							name="gerencia.codigoCompleto"
							[(ngModel)]="cat.gerencia.codigoCompleto"
							(blur)="autoCompleteGerencia.getAutocomplete().getObj($event,cat,'setGerencia','getCodigoCompleto')"
							(ngModelChange)="autoCompleteGerencia.getAutocomplete().getList(cat.gerencia, 'getCodigoCompleto');"
							(keydown.enter)="autoCompleteGerencia.getAutocomplete().pressEnter($event,cat,'setGerencia','getCodigoCompleto');"
							[materializeParams]="autoCompleteGerencia.getAutocomplete().getObjAutoComplete()">
					</div>
				</div>

				<fieldset>
					<legend>Empregado</legend>
					<div class="row">
						<div class="input-field col s12">
							<label for="nome">Nome</label> <input id="nome" type="text"
								[disabled]="cat.empregado.id > 0" maxlength="400"
								[(ngModel)]="cat.empregado.pessoa.nome" name="nome">
						</div>
					</div>

					<div class="row">
						<div class="input-field col s4">
							<label for="matricula">Matricula</label> <input id="matricula"
								type="text" [disabled]="cat.empregado.id > 0" maxlength="32"
								[(ngModel)]="cat.empregado.matricula" name="matricula">
						</div>

						<div class="input-field col s4">
							<label for="chave">Chave</label> <input id="chave" type="text"
								[disabled]="cat.empregado.id > 0" maxlength="16"
								[(ngModel)]="cat.empregado.chave" name="chave">
						</div>

						<div class="input-field col s4">
							<label for="cpf">CPF</label> <input id="cpf" type="text"
								[disabled]="cat.empregado.id > 0"
								(ngModelChange)="cat.empregado.pessoa.cpf=$event" maxlength="14"
								[ngModel]="cat.empregado.pessoa.cpf | cpfMask : 'cpf'"
								name="cpf">
						</div>

					</div>

					<div class="row">
						<div class="input-field col s6">
							<label for="gerencia">Gerência</label> <input type="text"
								materialize="autocomplete" autocomplete="off"
								name="gerencia.codigoCompleto" [disabled]="cat.empregado.id > 0"
								[(ngModel)]="cat.empregado.gerencia.codigoCompleto"
								(blur)="autoCompleteGerenciaEmpregado.getAutocomplete().getObj($event,cat.empregado,'setGerencia','getCodigoCompleto')"
								(ngModelChange)="autoCompleteGerenciaEmpregado.getAutocomplete().getList(cat.empregado.gerencia, 'getCodigoCompleto');"
								(keydown.enter)="autoCompleteGerenciaEmpregado.getAutocomplete().pressEnter($event,cat.empregado,'setGerencia','getCodigoCompleto');"
								[materializeParams]="autoCompleteGerenciaEmpregado.getAutocomplete().getObjAutoComplete()">
						</div>

						<div class="input-field col s3">
							<label for="dataNascimento">Data de Nascimento</label>
							<app-date-picker [nome]="'dataNascimento'"
								[desabilitar]="cat.empregado.id > 0"
								[customDate]="cat.empregado.pessoa.dataNascimentoCustomDate"
								[obrigatorio]="'false'" [legenda]="'Data de Nascimento'"></app-date-picker>
						</div>

						<div class="input-field col s3">
							<label for="idade">Idade</label> <input id="idade" type="text"
								disabled [(ngModel)]="cat.empregado.pessoa.idade" name="idade">
						</div>
					</div>

					<div class="row">
						<div class="input-field col s6">
							<fieldset>
								<legend>
									Cargo <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getCargos()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="cargo" class="browser-default"
									[disabled]="cat.empregado.id > 0"
									[(ngModel)]="cat.empregado.cargo.id">
									<option disabled selected value="0">Selecione um Cargo</option>
									<option *ngFor="let cargo of cargos" value="{{cargo.id}}">{{cargo.nome}}</option>
								</select>
							</fieldset>
						</div>

						<div class="input-field col s6">
							<fieldset>
								<legend>
									Escolaridade <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getEscolaridades()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="vinculo" class="browser-default"
									[disabled]="cat.empregado.id > 0"
									[(ngModel)]="cat.empregado.escolaridade">
									<option disabled selected value="">Selecione uma Escolaridade</option>
									<option *ngFor="let escolaridade of escolaridades"
										value="{{escolaridade}}">{{escolaridade}}</option>
								</select>
							</fieldset>
						</div>
					</div>
					
					<div class="row">
						<div class="input-field col s6">
							<fieldset>
								<legend>
									Função <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getFuncoes()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="funcao" class="browser-default"
									[disabled]="cat.empregado.id > 0"
									[(ngModel)]="cat.empregado.funcao.id">
									<option disabled selected value="0">Selecione uma Função</option>
									<option *ngFor="let funcao of funcoes" value="{{funcao.id}}">{{funcao.nome}}</option>
								</select>
							</fieldset>
						</div>

						<div class="input-field col s6">
							<fieldset>
								<legend>
									Estado Civíl <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getEstadosCivis()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="vinculo" class="browser-default"
									[disabled]="cat.empregado.id > 0"
									[(ngModel)]="cat.empregado.estadoCivil">
									<option disabled selected value="">Selecione uma Estado Civil</option>
									<option *ngFor="let estadoCivil of estadosCivis"
										value="{{estadoCivil}}">{{estadoCivil}}</option>
								</select>
							</fieldset>
						</div>

					</div>
				</fieldset>
				
				<div class="row">
					<div class="input-field col s8">
						<label for="gerenteContrato">Gerente do Contrato</label> 
						<input id="gerenteContrato" type="text"
							maxlength="128" [(ngModel)]="cat.gerenteContrato" name="gerenteContrato">
					</div>
					<div class="input-field col s4">
						<label for="telefoneGerente">Telefone</label>
						<input id="telefoneGerente" type="text"
							[ngModel]="cat.telefoneGerente | cellPhone : 'telefoneGerente'"
							(ngModelChange)="cat.telefoneGerente=$event" 
							maxlength="16" name="telefoneGerente">
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s8">
						<label for="fiscalContrato">Fiscal do Contrato</label> 
						<input id="fiscalContrato" type="text"
							maxlength="128" [(ngModel)]="cat.fiscalContrato" name="fiscalContrato">
					</div>
					<div class="input-field col s4">
						<label for="telefoneFiscal">Telefone</label> 
						<input id="telefoneFiscal" type="text"
							[ngModel]="cat.telefoneFiscal | cellPhone : 'telefoneFiscal'"
							(ngModelChange)="cat.telefoneFiscal=$event" 
							maxlength="16" name="telefoneFiscal">
					</div>
				</div>

				<div class="row">
					<button type="button" style="float: right; margin-top: 20px;" class="btn btn-primary"
						[disabled]="cat.empregado.id > 0" (click)="cadastrarContratado()">Cadastrar Contratado</button>
				</div>

			</div>

			<div id="informacoesPreliminares">
				<div class="row">
					<div class="input-field col s3">
						<label for="data.dataOcorrencia">Data de Ocorrência</label>
						<app-date-picker [nome]="'data.dataOcorrencia'"
							[customDate]="cat.dataOcorrenciaCustomDate"
							[obrigatorio]="'false'" [legenda]="'Data de Ocorrencia'"></app-date-picker>
					</div>
					<div class="input-field col s3">
						<label>Hora da Ocorrência</label>
						<input id="hora-dataOcorrencia" name="hora-dataOcorrencia"
							[(ngModel)]="cat.dataOcorrenciaCustomDate.appTime"
							materialize="pickatime" 
							[materializeActions]="timeActions" 
							[materializeParams]="[{twelvehour: false}]" placeholder="00:00"
							class="validate" type="text">
					</div>
					<div class="input-field col s3">
						<label for="local">Local</label> 
						<input id="local" type="text"
							maxlength="512" [(ngModel)]="cat.local" name="local">
					</div>
					<div class="input-field col s3 checkbox">
						<input type="checkbox" id="empregadoServicoCompanhia"
							[(ngModel)]="cat.empregadoServicoCompanhia"
							name="cat.empregadoServicoCompanhia"> <label
							for="cat.empregadoServicoCompanhia">Empregado a serviço da companhia?</label>
					</div>
				</div>
			
				<div class="row">
					<div class="input-field col s3">
						<label for="data.dataInformacao">Data da Informação</label>
						<app-date-picker [nome]="'data.dataInformacao'"
							[customDate]="cat.dataInformacaoCustomDate"
							[obrigatorio]="'false'" [legenda]="'Data da Informação'"></app-date-picker>
					</div>
					<div class="input-field col s3">
						<label>Hora da Informação</label>
						<input id="hora-dataInformacao" name="hora-dataInformacao"
							[(ngModel)]="cat.dataInformacaoCustomDate.appTime"
							materialize="pickatime" 
							[materializeActions]="timeActions" 
							[materializeParams]="[{twelvehour: false}]" placeholder="00:00"
							class="validate" type="text">
					</div>
					<div class="input-field col s4 checkbox">
						<input type="checkbox" id="ocorrenciaAmbienteTrabalho"
							[(ngModel)]="cat.ocorrenciaAmbienteTrabalho"
							name="cat.ocorrenciaAmbienteTrabalho"> <label
							for="cat.ocorrenciaAmbienteTrabalho">Ocorrência no ambiente de trabalho?</label>
					</div>
				</div>
			
				<div class="row">
					<div class="input-field col s6 checkbox">
						<input type="checkbox" id="ocorrenciaTrajeto"
							[(ngModel)]="cat.ocorrenciaTrajeto"
							name="cat.ocorrenciaTrajeto"> 
						<label for="cat.ocorrenciaTrajeto">Ocorrência no trajeto trabalho x residência/local de refeição?</label>
					</div>
					<div class="input-field col s6">
						<label for="responsavelInformacao">Responsável pela Informação</label> 
						<input id="responsavelInformacao" type="text"
							maxlength="256" [(ngModel)]="cat.responsavelInformacao" name="responsavelInformacao">
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s12">
						<label for="descricao">Descrição/Cinemática da Ocorrência</label>
						<textarea class="materialize-textarea" id="descricao" maxlength="4096"  
							[(ngModel)]="cat.descricao" name="cat.descricao"></textarea>
					</div>
				</div>
			</div>

			<div id="caracterizacao">
				
				<div class="row">
					<div class="input-field col s12 checkbox">
						<input type="checkbox" id="lesaoCorporal"
							[(ngModel)]="cat.lesaoCorporal"
							name="cat.lesaoCorporal"> 
							<label for="cat.lesaoCorporal">
									Há lesão corporal / perturbação funcional conforme os termos da Lei 8.213/91?
							</label>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s3">
						<label for="data.dataCaracterizacao">Data da Caracterização</label>
						<app-date-picker [nome]="'data.dataCaracterizacao'"
							[customDate]="cat.dataCaracterizacaoCustomDate"
							[obrigatorio]="'false'" [legenda]="'Data da Caracterização'"></app-date-picker>
					</div>
					<div class="input-field col s3">
						<label>Hora da Informação</label>
						<input id="hora-dataCaracterizacao" name="hora-dataCaracterizacao"
							[(ngModel)]="cat.dataCaracterizacaoCustomDate.appTime"
							materialize="pickatime" 
							[materializeActions]="timeActions" 
							[materializeParams]="[{twelvehour: false}]" placeholder="00:00"
							class="validate" type="text">
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s12 checkbox">
						<div class="input-field col s6">
							<p><b><span>Há nexo causal entre a lesão apresentada e a ocorrência?</span></b></p>
						</div>
						<div class="input-field col s1">
							<p>
								<input class="radio" name="group1" type="radio" id="nexoCausal.sim"
									[ngModel]="getNexoCausal()" (ngModelChange)="setNexoCausal('sim')"
									value="sim"/> 
								<label for="nexoCausal.sim">SIM</label>
							</p>
						</div>
						<div class="input-field col s1">
							<p>
								<input class="radio" name="group1" type="radio" id="nexoCausal.nao"
									[ngModel]="getNexoCausal()" (ngModelChange)="setNexoCausal('nao')"
									value="nao"/> 
								<label for="nexoCausal.nao">NÃO</label>
							</p>
						</div>
						<div class="input-field col s3">
							<p>
								<input class="radio" name="group1" type="radio" id="nexoCausal.naoAplicavel"
									[ngModel]="getNexoCausal()" (ngModelChange)="setNexoCausal('naoAplicavel')"
									value="naoAplicavel"/>
								<label for="nexoCausal.naoAplicavel">NÃO APLICÁVEL</label>
							</p>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s12">
						<label for="profissionalCaracterizacao">Profissional Caracterização</label> <input type="text"
							materialize="autocomplete" autocomplete="off"
							name="cat.profissionalCaracterizacao.empregado.pessoa.nome" [(ngModel)]="cat.profissionalCaracterizacao.empregado.pessoa.nome"
							(blur)="autoCompleteProfissionalCaracterizacao.getAutocomplete().getObj($event,cat,'setProfissionalCaracterizacao','getNome')"
							(ngModelChange)="autoCompleteProfissionalCaracterizacao.getAutocomplete().getList(cat.profissionalCaracterizacao, 'getNome');"
							(keydown.enter)="autoCompleteProfissionalCaracterizacao.getAutocomplete().pressEnter($event,cat,'setProfissionalCaracterizacao','getNome');"
							[materializeParams]="autoCompleteProfissionalCaracterizacao.getAutocomplete().getObjAutoComplete()">
					</div>
				</div>
			
				<div class="row">
					<div class="input-field col s12">
						<label for="caracterizacao">Caracterização</label>
						<textarea class="materialize-textarea" id="caracterizacao" maxlength="4096"  
							[(ngModel)]="cat.caracterizacao" name="cat.caracterizacao"></textarea>
					</div>
				</div>
			</div>

			<div id="afastamento">
				<div class="row">
					<p *ngIf="cat.classificacao && cat.classificacao.id > 0 && 
						cat.classificacao.afastamento"><b>Lesão COM afastamento</b></p>
					<p *ngIf="cat.classificacao && cat.classificacao.id > 0 &&
						!cat.classificacao.afastamento"><b>Lesão SEM afastamento</b></p>
				</div>
				
				<div class="row">
					<div class="input-field col s6">
						<label for="cid">CID</label> <input type="text"
							materialize="autocomplete" autocomplete="off"
							name="cat.cid" [(ngModel)]="cat.cid.codigo"
							(blur)="autoCompleteCid.getAutocomplete().getObj($event,cat,'setCid','getCodigo')"
							(ngModelChange)="autoCompleteCid.getAutocomplete().getList(cat.cid, 'getCodigo');"
							(keydown.enter)="autoCompleteCid.getAutocomplete().pressEnter($event,cat,'setCid','getCodigo');"
							[materializeParams]="autoCompleteCid.getAutocomplete().getObjAutoComplete()">
					</div>
					<div class="input-field col s6">
						<fieldset>
							<legend> Classificação do Afastamento 
								<a class="btn-floating waves-effect waves-light green btn-add-fieldset"
									(click)="getCLassificacoes()"> 
									<i class="material-icons center-icon">cached</i>
								</a>
							</legend>
							<select name="classificacao" class="browser-default"
								[(ngModel)]="cat.classificacao.id">
								<option disabled selected value="undefined">Selecione uma Classificação</option>
								<option *ngFor="let classificacao of classificacoes" value="{{classificacao.id}}">
									{{classificacao.descricao}}
								</option>
							</select>
						</fieldset>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s2">
						<label for="tempoPrevisto">Tempo Previsto</label> 
						<input id="tempoPrevisto" type="number" 
							[(ngModel)]="cat.tempoPrevisto" name="tempoPrevisto">
					</div>
					<div class="input-field col s10 checkbox">
						<input type="checkbox" id="ferimentoGrave"
							[(ngModel)]="cat.ferimentoGrave"
							name="cat.ferimentoGrave"> 
							<label for="cat.ferimentoGrave">
									Ferimento grave conforme resolução ANP nº 44 de 22/12/2009?
							</label>
					</div>
				</div>
				
				<div class="row">
					<div class="input-field col s6">
						<label for="profissionalClassificacao">Profissional Classificação</label> <input type="text"
							materialize="autocomplete" autocomplete="off"
							name="cat.profissionalClassificacao.empregado.pessoa.nome" [(ngModel)]="cat.profissionalClassificacao.empregado.pessoa.nome"
							(blur)="autoCompleteProfissionalClassificacao.getAutocomplete().getObj($event,cat,'setProfissionalClassificacao','getNome')"
							(ngModelChange)="autoCompleteProfissionalClassificacao.getAutocomplete().getList(cat.profissionalClassificacao, 'getNome');"
							(keydown.enter)="autoCompleteProfissionalClassificacao.getAutocomplete().pressEnter($event,cat,'setProfissionalClassificacao','getNome');"
							[materializeParams]="autoCompleteProfissionalClassificacao.getAutocomplete().getObjAutoComplete()">
					</div>
					<div class="input-field col s3">
						<label for="data.dataClassificacao">Data da Classificação</label>
						<app-date-picker [nome]="'data.dataClassificacao'"
							[customDate]="cat.dataClassificacaoCustomDate"
							[obrigatorio]="'false'" [legenda]="'Data da Classificação'"></app-date-picker>
					</div>
					<div class="input-field col s3">
						<label>Hora da Classificacao</label>
						<input id="hora-dataClassificacao" name="hora-dataClassificacao"
							[(ngModel)]="cat.dataClassificacaoCustomDate.appTime"
							materialize="pickatime" 
							[materializeActions]="timeActions" 
							[materializeParams]="[{twelvehour: false}]" placeholder="00:00"
							class="validate" type="text">
					</div>
				</div>
			
			</div>

			<div id="cat"></div>

			<div id="informacoesComplementares"></div>

		</div>

		<input id="id" name="id" type="hidden" [(ngModel)]="cat.id"> <input
			id="version" name="version" type="hidden" [(ngModel)]="cat.version">

		<div class="mensagem">
			<app-mensagem-form *ngIf="verifyError" [color]="colorError"
				[msg]="msgError"></app-mensagem-form>
		</div>

		<div class='row row-btns'>
			<div class="col s6">
				<a [routerLink]="['/cat']" class="btn btn-primary btn-listar">Listar</a>
			</div>
			<div class="col s6">
				<button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
			</div>
		</div>
	</form>
</div>

<div materialize [materializeParams]="toastParams"
	[materializeActions]="globalActions"></div>