.center-icon {
	margin-top: 0px;
}

.material-icons {
    margin-top: 0.5rem;
}

.row {
	margin-bottom: 0px;
}

.arrow-pagination{
	margin-top: -0.1px;	
}

.row-collection {
	border-bottom: solid 1px #e0e0e0;
}

.button-add {
	float: right;
}

.preload {
	margin-top: 15px;
}