.fieldset-informacoes {
	margin-bottom: 30px;
}

select{
	display:inline;
}

.fldst {
	padding-bottom: 45px;
}

.input-field > select {
    display: block;
    position: absolute;
    width: 250px;
    pointer-events: all;
    height: 50px;
    top: 0;
    left: 20px;
    opacity: 10;
    margin-top: -8px;
    margin-left: -15px;
}

.btn-buscar {
	margin-top: 26px;
}

.dataTarefas {
	margin-top: 30px;
}

table {
	border: 1px solid #c0c0c0;
    margin-top: 25px;
}

thead > tr {
	margin-bottom: 0px;
	border-bottom: 1px solid;
}

.btn-floating i {
	font-size: 1.3rem;
}

td > a > i {
	margin-top: -5px;
}

tbody{
	margin-top: 10px;
	border-bottom: 1px solid #c0c0c0;	
}

.content-tarefas {
	padding-bottom: 100px;
}