<head>
<meta charset="utf-8">
</head>

<!-- Preload -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<div class="row form-container">
	<form #form="ngForm" class="col s12" (ngSubmit)="save()">


		<div class="row">
			<ul class="tabs" materialize="tabs" class="tabs"
				style="overflow-x: auto;">
				<li class="tab"><a RouterLinkActive="active"
					href="#dadosGerais">Dados Gerais</a></li>
				<li class="tab"><a RouterLinkActive="active"
					href="#informacoesEmpregado">Informações do Empregado</a></li>
				<li class="tab" [class.disabled]="!atendimentoCarregado"><a
					RouterLinkActive="active" href="#aso">Aso</a></li>
				<li class="tab" [class.disabled]="!atendimentoCarregado">
					<a href="#ho">Higiene Ocupacional</a></li>
				<li class="tab" [class.disabled]="!atendimentoCarregado">
					<a href="#educacaoFisica">Educação Física</a></li>
				<li class="tab" [class.disabled]="!atendimentoCarregado"><a
					RouterLinkActive="active" href="#fichaColeta">Ficha de Coleta</a></li>
				<li class="tab" [class.disabled]="!atendimentoCarregado"><a
					RouterLinkActive="active" href="#triagem">Triagem</a></li>
				<li class="tab" [class.disabled]="!atendimentoCarregado"><a
					RouterLinkActive="active" href="#planejamento">Planejamento</a></li>
			</ul>
			<div id="dadosGerais">
				<div class="row">

					<div class="input-field col s5">
						<label
							for="filaAtendimentoOcupacional.profissional.empregado.pessoa.nome"
							data-error="Campo obrigatório.">Profissional</label> <input
							(click)="modalFilaAtendimento.openModalFilaAtendimentoOcupacional()"
							id="filaAtendimentoOcupacional.profissional.empregado.pessoa.nome"
							type="text" [disabled]="atendimentoCarregado"
							name="filaAtendimentoOcupacional.profissional.empregado.pessoa.nome"
							[(ngModel)]="atendimento.filaAtendimentoOcupacional.profissional.empregado.pessoa.nome">
					</div>
					<div class="input-field col s3">
						<label
							for="atendimento.filaAtendimentoOcupacional.localizacao.nome">Localização</label>
						<input
							name="atendimento.filaAtendimentoOcupacional.localizacao.nome"
							[(ngModel)]="atendimento.filaAtendimentoOcupacional.localizacao.nome"
							disabled type="text" />
					</div>
					<div class="input-field col s4">
						<label for="atendimento.filaAtendimentoOcupacional.inicio">Data</label>
						<input name="atendimento.filaAtendimentoOcupacional.inicio"
							[(ngModel)]="atendimento.filaAtendimentoOcupacional.inicioCustomDate.appDate"
							disabled type="text" />
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<label for="filaEsperaOcupacional.empregado.pessoa.nome"
							data-error="Campo obrigatório.">Empregado</label> <input
							[disabled]="atendimento.filaAtendimentoOcupacional.id == undefined || atendimentoCarregado"
							(click)="modalFilaEspera.openModalFilaEsperaOcupacional()"
							id="filaEsperaOcupacional.empregado.pessoa.nome" type="text"
							name="filaEsperaOcupacional.empregado.pessoa.nome"
							[(ngModel)]="atendimento.filaEsperaOcupacional.empregado.pessoa.nome">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<label for="atendimento.tarefa.inicio">Agendamento</label> <input
							name="atendimento.tarefa.inicio"
							[disabled]="(atendimento.filaEsperaOcupacional.id == undefined || atendimentoCarregado)"
							[(ngModel)]="atendimento.tarefa.inicioCustomDate.appDate"
							(click)="atendimento.filaEsperaOcupacional.id > 0 ? modalTarefa.openModalTarefa() : false "
							type="text" />
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12	">
						<div>

							<div class="input-field col s3">
								<label>Dia</label>
								<app-date-picker [nome]="'atendimento.tarefa.inicio'"
									[customDate]="atendimento.tarefa.inicioCustomDate"
									[desabilitar]="'true'" [legenda]="'Data'"></app-date-picker>

							</div>
							<div class="input-field col s2">
								<label>Hora Inicio</label>
								<app-time-picker [nome]="'diaHoraTarefa'"
									[desabilitar]="atendimentoCarregado || atendimento.tarefa.id == undefined"
									[customDate]="atendimento.tarefa.inicioCustomDate">
								</app-time-picker>
							</div>
							<div class="input-field col s2">
								<label>Hora Fim</label>
								<app-time-picker [nome]="'diaHoraFimTarefa'"
									[desabilitar]="atendimentoCarregado || atendimento.tarefa.id == undefined"
									[customDate]="atendimento.tarefa.fimCustomDate">
								</app-time-picker>
							</div>
							<div class="input-field col s5">
								<a class="btn-floating btn-large pulse"
									[class.disabled]="atendimento.tarefa.id == 0 || atendimento.tarefa.id == undefined"
									(click)="carregarComplementoAtendimento()"> <i
									class="material-icons center-icon">cloud_download</i></a> <label>CARREGAR
									ATENDIMENTO</label>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div id="informacoesEmpregado">
				<app-atendimento-informacoes-empregado [atendimento]="atendimento"></app-atendimento-informacoes-empregado>
			</div>
			<div id="aso">
				<div>
					<app-informacao-aso [service]="atendimentoService"
						[atendimento]="atendimento"></app-informacao-aso>
				</div>
			</div>
			<div id="ho">
				<div *ngIf="profissional.equipe.abreviacao == 'HIG' && atendimentoCarregado"> 
					<app-informacao-avaliacao-higiene-ocupacional [service]="atendimentoService"
						[atendimento]="atendimento"></app-informacao-avaliacao-higiene-ocupacional>
				</div>
			</div>
			<div id="educacaoFisica">
				<div *ngIf="profissional.equipe.abreviacao == 'EDF' && atendimentoCarregado">
					<app-atendimento-proaf [service]="atendimentoService"
						[atendimento]="atendimento"
						(nivelAtividadeFisica)="setNivelAtividadeFisica($event)"></app-atendimento-proaf>
				</div>
			</div>
			<div id="fichaColeta" disabled>
			<app-ficha-coleta [fichaColeta]="atendimento.filaEsperaOcupacional.fichaColeta" 
				[statusFila]="atendimento?.filaAtendimentoOcupacional.status"
				[service]="atendimentoService" [idEquipeProfissional]="profissional.equipe.id"
				[nivelAtividadeFisica]="nivelAtividadeFisica"
				(dor)="triagemUtil.selectDor(atendimento,$event)"></app-ficha-coleta>
			</div>
			<div id="triagem">
				<app-triagem [triagens]="atendimento.triagens"></app-triagem>
			</div>
			<div id="planejamento">
				<app-planejamento [idEquipe]="profissional.equipe.id"
					[triagens]="atendimento.triagens" [service]="atendimentoService"></app-planejamento>
			</div>
			<div class="mensagem">
				<app-mensagem-form *ngIf="verifyError" [color]="colorError"
					[msg]="msgError"></app-mensagem-form>
			</div>

			<div class='row row-btns'>
				<div class="col s6">
					<a [routerLink]="['/atendimento-avulso']"
						class="btn btn-primary btn-listar">Listar</a>
				</div>
				<div class="col s6">
					<button type="submit" class="btn btn-primary btn-salvar"
						[class.disabled]="!atendimentoCarregado">Salvar</button>
				</div>
			</div>
		</div>
	</form>
</div>

<div materialize [materializeParams]="toastParams"
	[materializeActions]="globalActions"></div>

<app-modal-fila-atendimento-ocupacional [service]="atendimentoService"
	[model]="atendimento" [(profissional)]="profissional"
	[showModalFilaAtendimentoOcupacional]="modalFilaAtendimento.showModalFilaAtendimentoOcupacional"
	(setTarefaFilter)="setTarefaFilter($event)">
</app-modal-fila-atendimento-ocupacional>


<app-modal-fila-espera-ocupacional [service]="atendimentoService"
	[model]="atendimento"
	[periodo]="atendimento.filaAtendimentoOcupacional.inicio"
	[localizacaoFilter]="modalFilaAtendimento.filter.localizacao"
	[showModalFilaEsperaOcupacional]="modalFilaEspera.showModalFilaEsperaOcupacional">
</app-modal-fila-espera-ocupacional>

<app-modal-tarefa [service]="atendimentoService" [model]="atendimento"
	[servicoId]="atendimento.filaEsperaOcupacional.servico.id"
	[empregadoId]="atendimento.filaEsperaOcupacional.empregado.id"
	[equipeId]="profissional.equipe.id"
	[showModalTarefa]="modalTarefa.showModalTarefa"
	(setTarefa)="setTarefa($event)"> </app-modal-tarefa>