<head>
<meta charset="utf-8">
</head>

<!-- Preload  -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<div class="row form-container">

	<form #form="ngForm" class="col s12" (ngSubmit)="save()">

		<div class="row">

			<ul class="tabs" materialize="tabs">
				<li class="tab col s2"><a RouterLinkActive="active"
					href="#dadosGerais">Dados Gerais</a></li>
				<li class="tab col s3"><a RouterLinkActive="active"
					href="#grupoMonitoramento">Grupo Monitoramento</a></li>
				<li class="tab col s2"><a RouterLinkActive="active"
					href="#historico">Histórico</a></li>
				<li class="tab col s2"><a RouterLinkActive="active"
					href="#endereco">Endereço</a></li>
				<li class="tab col s3"><a RouterLinkActive="active"
					href="#outrasInformacoes">Outras Informações</a></li>
			</ul>

			<div class="groups">
				<div id="dadosGerais">
					<div class="row">
						<div class="input-field col s8">
							<label data-error="Campo obrigatório." for="nome">Nome</label> <input
								id="nome" type="text" required maxlength="400"
								[(ngModel)]="empregado.pessoa.nome" name="nome">
						</div>
						<div class="input-field col s4">
							<fieldset>
								<legend>
									Vínculo <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getVinculos()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="vinculo" class="browser-default"
									[(ngModel)]="empregado.vinculo">
									<option disabled selected value="">Selecione um vínculo</option>
									<option *ngFor="let vinculo of vinculos" value="{{vinculo}}">{{vinculo}}</option>
								</select>
							</fieldset>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s6">
							<label for="cpf">CPF</label> <input id="cpf" type="text"
								[mask]="'cpf'" (ngModelChange)="empregado.pessoa.cpf=$event"
								maxlength="14" [ngModel]="empregado.pessoa.cpf | cpfMask"
								name="cpf">
						</div>

						<div class="input-field col s4">
							<label for="dataNascimento">Data de Nascimento</label>
							<my-date-picker name="dataNascimento"
								[options]="myDatePickerOptions" [(ngModel)]="dataNascimento"
								placeholder="Data de Nascimento"> </my-date-picker>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s6">
							<label for="chave">Chave</label> <input id="chave" type="text"
								maxlength="16" [(ngModel)]="empregado.chave" name="chave">
						</div>

						<div class="input-field col s6">
							<label for="matricula">Matrícula</label> <input id="matricula"
								type="text" maxlength="32" [(ngModel)]="empregado.matricula"
								name="matricula">
						</div>
					</div>

					<div class="row">
						<div class="input-field col s6">
							<label for="rg">RG</label> <input id="rg" type="text"
								maxlength="32" [(ngModel)]="empregado.pessoa.rg" name="rg">
						</div>

						<div class="input-field col s6">
							<label for="ramal">Ramal</label> <input id="ramal" type="text"
								maxlength="16" [(ngModel)]="empregado.ramal" name="ramal">
						</div>

					</div>

					<div class="row">
						<div class="input-field col s4">
							<fieldset>
								<legend>
									Sexo <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getSexos()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="sexo" class="browser-default"
									[(ngModel)]="empregado.pessoa.sexo">
									<option disabled selected value="">Selecione um sexo</option>
									<option *ngFor="let sexo of sexos" value="{{sexo}}">{{sexo}}</option>
								</select>
							</fieldset>
						</div>

						<div class="input-field col s4">
							<fieldset>
								<legend>
									Status <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getStatuses()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="status" class="browser-default"
									[(ngModel)]="empregado.status">
									<option disabled selected value="">Selecione um status</option>
									<option *ngFor="let status of statuses" value="{{status}}">{{status}}</option>
								</select>
							</fieldset>
						</div>

						<div class="input-field col s4">
							<fieldset>
								<legend>
									Estado Civil <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getEstadosCivies()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="estadoCivil" class="browser-default"
									[(ngModel)]="empregado.estadoCivil">
									<option disabled selected value="">Selecione um estado civil</option>
									<option *ngFor="let estadoCivil of estadosCivies"
										value="{{estadoCivil}}">{{estadoCivil}}</option>
								</select>
							</fieldset>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s6">
							<fieldset>
								<legend>
									Escolaridade <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getEscolaridades()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="escolaridade" class="browser-default"
									[(ngModel)]="empregado.escolaridade">
									<option disabled selected value="">Selecione uma escolaridade</option>
									<option *ngFor="let escolaridade of escolaridades"
										value="{{escolaridade}}">{{escolaridade}}</option>
								</select>
							</fieldset>
						</div>
						
						<div class="input-field col s6">
							<label for="email">Email</label> 
							<input id="email" type="email"
								[(ngModel)]="empregado.pessoa.email" name="email">
						</div>

					</div>

					<div class="row">

						<div class="input-field col s6">
							<fieldset>
								<legend>
									Cargo <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getCargos()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="cargo" class="browser-default"
									[(ngModel)]="empregado.cargo.id">
									<option disabled selected value=0>Selecione um cargo</option>
									<option *ngFor="let cargo of cargos" value="{{cargo.id}}">{{cargo.nome}}</option>
								</select>
							</fieldset>
						</div>

						<div class="input-field col s6">
							<fieldset>
								<legend>
									Função <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getFuncoes()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="funcao" class="browser-default"
									[(ngModel)]="empregado.funcao.id">
									<option disabled selected value=0>Selecione uma função</option>
									<option *ngFor="let funcao of funcoes" value="{{funcao.id}}">{{funcao.nome}}</option>
								</select>
							</fieldset>
						</div>

					</div>

					<div class="row">

						<div class="input-field col s6">
							<fieldset>
								<legend>
									Regime <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getRegimes()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="regime" class="browser-default"
									[(ngModel)]="empregado.regime.id">
									<option disabled selected value=0>Selecione um regime</option>
									<option *ngFor="let regime of regimes" value="{{regime.id}}">{{regime.nome}}</option>
								</select>
							</fieldset>
						</div>

						<div class="input-field col s6">
							<fieldset>
								<legend>
									Gerência <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getGerencias()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="gerencia" class="browser-default"
									[(ngModel)]="empregado.gerencia.id">
									<option disabled selected value=0>Selecione uma gerencia</option>
									<option *ngFor="let gerencia of gerencias"
										value="{{gerencia.id}}">{{gerencia.codigoCompleto}}</option>
								</select>
							</fieldset>
						</div>

					</div>

					<div class="row">

						<div class="input-field col s4">
							<fieldset>
								<legend>
									Base <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getBases()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="base" class="browser-default"
									[(ngModel)]="empregado.base.id">
									<option disabled selected value=0>Selecione uma base</option>
									<option *ngFor="let base of bases" value="{{base.id}}">{{base.nome}}</option>
								</select>
							</fieldset>
						</div>

						<div class="input-field col s4">
							<fieldset>
								<legend>
									GHE <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getGhes()"> <i class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="ghe" class="browser-default" #ghe
									(mouseover)="showToastGhe(ghe.value)" (mouseleave)="closeTooltip()"
									[(ngModel)]="empregado.ghe.id">
									<option disabled selected value=0>Selecione um ghe</option>
									<option *ngFor="let ghe of ghes" value="{{ghe.id}}">{{ghe.nome}}</option>
								</select>
							</fieldset>
						</div>

						<div class="input-field col s4">
							<fieldset>
								<legend>
									GHEE <a
										class="btn-floating waves-effect waves-light green btn-add-fieldset"
										(click)="getGhees()"> <i
										class="material-icons center-icon">cached</i>
									</a>
								</legend>
								<select name="ghee" class="browser-default" #ghee 
									(mouseover)="showToastGhee(ghee.value)" (mouseleave)="closeTooltip()"
									[(ngModel)]="empregado.ghee.id">
									<option disabled selected value=0>Selecione um ghee</option>
									<option *ngFor="let ghee of ghees" value="{{ghee.id}}">{{ghee.nome}}</option>
								</select>
							</fieldset>
						</div>

					</div>

					<div class="row file-import">
						<div class="file-field input-field col s12">
							<div class="btn">
								<span>Foto</span> <input id="foto" type="file" name="foto"
									accept=".png" #foto>
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s12">
							<img id="fotoPreview" src="{{fotoSrc}}" [ngStyle]="fotoSrcStyle" />
						</div>
					</div>

					<div class="row file-import">
						<div class="file-field input-field col s12">
							<div class="btn">
								<span>Assinatura</span> <input id="assinatura" type="file"
									name="assinatura" accept=".png" #assinatura>
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s12">
							<img id="assinaturaPreview" src="{{assinaturaSrc}}"
								[ngStyle]="assinaturaSrcStyle" />
						</div>
					</div>

					<input [(ngModel)]="empregado.pessoa.id" id="empregado.pessoa.id"
						name="empregado.pessoa.id" type="hidden"> <input
						[(ngModel)]="empregado.pessoa.version"
						id="empregado.pessoa.version" name="empregado.pessoa.version"
						type="hidden">

				</div>

				<div id="grupoMonitoramento">

					<fieldset>
						<legend>
							Grupos Monitoramento <a
								class="btn-floating waves-effect waves-light green btn-add-fieldset"
								(click)="getGruposMonitoramento()"> <i
								class="material-icons center-icon">cached</i>
							</a>
						</legend>
						<div class="row row-curso">

							<div class="input-field col s4">
								<select class="browser-default" #grupoMonitoramento>
									<option disabled selected value=0>Selecione um grupo monitoramento</option>
									<option *ngFor="let grupoMonitoramento of gruposMonitoramento"
										value="{{grupoMonitoramento.id}}">{{grupoMonitoramento.nome}}</option>
								</select>
							</div>

							<div class="col s2">
								<a class="btn-floating waves-effect waves-light green btn-add"
									(click)="addGrupoMonitoramento(grupoMonitoramento.value)">
									<i class="material-icons center-icon">add</i>
								</a>
							</div>
						</div>

						<div class="row">

							<table class="striped">
								<thead>
									<tr class="row col s12">
										<th class="col s10">Nome</th>
										<th class="col s2">Remoção</th>
									</tr>
								</thead>
								<div
									*ngFor="let grupoMonitoramento of empregado.grupoMonitoramentos;let i = index">
									<tbody class="col s12">
										<tr class="col s12">
											<input type="hidden"
												[(ngModel)]="empregado.grupoMonitoramentos[i].nome"
												value="{{grupoMonitoramento.nome}}"
												name="grupoMonitoramento[{{i}}].nome">
											<input type="hidden"
												[(ngModel)]="empregado.grupoMonitoramentos[i].id"
												value="{{grupoMonitoramento.id}}"
												name="grupoMonitoramento[{{i}}].id">
											<td class="col s10 grupo-monitoramento-nome">{{grupoMonitoramento.nome}}</td>
											<td class="col s2 botao-remover"><a
												class="btn-floating waves-effect waves-light red btn-remove"
												(click)="removeGrupoMonitoramento(i)"> <i
													class="material-icons center-icon">delete</i>
											</a></td>
										</tr>
									</tbody>
								</div>

							</table>

						</div>

					</fieldset>

				</div>

				<div id="historico">

					<table class="striped">
						<thead>
							<tr class="row col s12">
								<th class="col s8">Grupo Monitoramento</th>
								<th class="col s4">Data Remoção</th>
							</tr>
						</thead>
						<div
							*ngFor="let grupoMonitoramento of empregado.historicoGrupoMonitoramentos;let i = index">
							<tbody class="col s12">
								<tr class="col s12">
									<td class="col s8 grupo-monitoramento-nome">{{empregado.historicoGrupoMonitoramentos[i].grupoMonitoramento.nome}}</td>
									<td class="col s4 data-remocao-historico">{{dataRemocaoHistoricos[i]}}</td>
								</tr>
							</tbody>
						</div>

					</table>

				</div>

				<div id="endereco">

					<fieldset>

						<legend class="legend"> Endereço </legend>
						<div class="form-group">
							<div>

								<div class="row">
									<div class="input-field col s12">
										<label for="logradouro" maxlength="200">Logradouro</label> <input
											[(ngModel)]="empregado.pessoa.endereco.logradouro"
											id="logradouro" type="text" name="endereco.logradouro">
									</div>
								</div>

								<div class="row">
									<div class="input-field col s8">
										<label for="bairro" maxlength="100">Bairro</label> <input
											[(ngModel)]="empregado.pessoa.endereco.bairro" id="bairro"
											type="text" name="endereco.bairro">
									</div>

									<div class="input-field col s4">
										<label for="numero" maxlength="12">Numero</label> <input
											[(ngModel)]="empregado.pessoa.endereco.numero" id="numero"
											type="text" name="endereco.numero">
									</div>
								</div>

								<div class="row">
									<div class="input-field col s8">
										<label for="complemento" maxlength="200">Complemento</label> <input
											[(ngModel)]="empregado.pessoa.endereco.complemento"
											id="complemento" name="endereco.complemento" type="text">
									</div>

									<div class="input-field col s4">
										<label for="cep" maxlength="9">CEP</label> <input id="cep"
											type="text" [(ngModel)]="empregado.pessoa.endereco.cep"
											name="endereco.cep">

									</div>
								</div>

								<div class="row">
									<div class="input-field col s6">
										<fieldset>
											<legend>
												Cidade <a
													class="btn-floating waves-effect waves-light green btn-add-fieldset"
													(click)="getCidades()"> <i
													class="material-icons center-icon">cached</i>
												</a>
											</legend>
											<select class="browser-default" name="cidade"
												[(ngModel)]="empregado.pessoa.endereco.cidade.id">
												<option selected value=0>Selecione uma cidade</option>
												<option *ngFor="let cidade of cidades" value="{{cidade.id}}">{{cidade.nome}}</option>
											</select>
										</fieldset>
									</div>
								</div>

								<input [(ngModel)]="empregado.pessoa.endereco.id"
									id="empregado.pessoa.endereco.id"
									name="empregado.pessoa.endereco.id" type="hidden"> <input
									[(ngModel)]="empregado.pessoa.endereco.version"
									id="empregado.pessoa.endereco.version"
									name="empregado.pessoa.endereco.version" type="hidden">

							</div>

						</div>

					</fieldset>

				</div>

				<div id="outrasInformacoes">

					<div class="input-field col s12">

						<fieldset>
							<legend class="legend">
								Vacinas <a
									class="btn-floating waves-effect waves-light green btn-add-fieldset"
									(click)="addEmpregadoVacina()"> <i
									class="material-icons center-icon">add</i>
								</a>
							</legend>

							<div
								*ngFor="let empregadoVacina of empregado.empregadoVacinas;let i = index">

								<fieldset>
									<legend class="legend">
										Empregado Vacina <a
											class="btn-floating waves-effect waves-light red btn-add-fieldset"
											(click)="removeEmpregadoVacina(i)"> <i
											class="material-icons center-icon">delete</i>
										</a>
									</legend>

									<div class="row">
										<div class="input-field col s8">
											<fieldset>
												<legend>
													Vacina <a
														class="btn-floating waves-effect waves-light green btn-add-fieldset"
														(click)="getVacinas()"> <i
														class="material-icons center-icon">cached</i>
													</a>
												</legend>
												<select name="empregado.empregadoVacinas[{{i}}].vacina.id"
													class="browser-default"
													[(ngModel)]="empregado.empregadoVacinas[i].vacina.id">
													<option disabled selected value=0>Selecione uma vacina</option>
													<option *ngFor="let vacina of vacinas"
														value="{{vacina.id}}">{{vacina.descricao}}</option>
												</select>
											</fieldset>
										</div>

										<div class="input-field col s4">
											<label for="data">Data</label>
											<my-date-picker name="empregadoVacinas.data"
												[options]="myDatePickerOptions"
												name="empregado.empregadoVacinas[i].data"
												[(ngModel)]="dataVacinas[i]" placeholder="Data">
											</my-date-picker>
										</div>

									</div>

									<div class="row">
										<div class="input-field col s8">
											<label for="lote" maxlength="32">Lote</label> <input
												id="lote" type="text"
												name="empregado.empregadoVacinas[{{i}}].lote"
												[(ngModel)]="empregado.empregadoVacinas[i].lote">
										</div>

										<div class="input-field col s4">
											<label for="laboratorio" min="1">Dose</label> <input
												id="dose" type="number"
												name="empregado.empregadoVacinas[{{i}}].dose"
												[(ngModel)]="empregado.empregadoVacinas[i].dose">
										</div>

									</div>

									<div class="row">
										<div class="input-field col s8">
											<label for="laboratorio" maxlength="128">Laboratório</label>
											<input id="laboratorio" type="text"
												name="empregado.empregadoVacinas[{{i}}].laboratorio"
												[(ngModel)]="empregado.empregadoVacinas[i].laboratorio">
										</div>

										<div class="input-field col s4">
											<label for="proximaDose" maxlength="128">Próxima Dose</label>
											<my-date-picker name="proximaDose"
												[options]="myDatePickerOptions"
												name="empregado.empregadoVacinas[{{i}}].proximaDose"
												[(ngModel)]="proximaDoseVacinas[i]"
												placeholder="Próxima dose"> </my-date-picker>
										</div>
									</div>

									<input id="id" name="empregado.empregadoVacinas[{{i}}].id"
										type="hidden" [(ngModel)]="empregado.empregadoVacinas[i].id">
									<input id="version"
										name="empregado.empregadoVacinas[{{i}}].version" type="hidden"
										[(ngModel)]="empregado.empregadoVacinas[i].version">

								</fieldset>
							</div>
						</fieldset>
					</div>

					<div class="input-field col s12">

						<fieldset>
							<legend class="legend">
								Telefones <a
									class="btn-floating waves-effect waves-light green btn-add-fieldset"
									(click)="addTelefone()"> <i
									class="material-icons center-icon">add</i>
								</a>
							</legend>

							<div
								*ngFor="let telefone of empregado.pessoa.telefones;let i = index">

								<div class="row">
									<div class="input-field col s10">
										<label for="numero" maxlength="16">Numero</label> <input
											id="numero" name="numero{{i}}" type="text"
											[(ngModel)]="empregado.pessoa.telefones[i].numero">
									</div>

									<div class="col s2">
										<a
											class="btn-floating waves-effect waves-light red btn-remove-item"
											(click)="removeTelefone(i)"> <i
											class="material-icons center-icon">delete</i>
										</a>
									</div>

								</div>

								<input [(ngModel)]="telefone.id" id="telefone.id{{i}}"
									name="telefone.id{{i}}" type="hidden"> <input
									[(ngModel)]="telefone.version" id="telefone.version{{i}}"
									name="telefone.version{{i}}" type="hidden">

							</div>

						</fieldset>

					</div>

					<div class="input-field col s12 instalacoes">

						<fieldset>
							<legend>
								Instalações <a
									class="btn-floating waves-effect waves-light green btn-add-fieldset"
									(click)="getInstalacoes()"> <i
									class="material-icons center-icon">cached</i>
								</a>
							</legend>

							<div class="row row-curso">

								<div class="input-field col s4">
									<select class="browser-default" #instalacao>
										<option disabled selected value=0>Selecione uma instalação</option>
										<option *ngFor="let instalacao of instalacoes"
											value="{{instalacao.id}}">{{instalacao.nome}}</option>

									</select>
								</div>

								<div class="col s2">
									<a class="btn-floating waves-effect waves-light green btn-add"
										(click)="addInstalacao(instalacao.value)"> <i
										class="material-icons center-icon">add</i>
									</a>
								</div>

							</div>

							<div class="row">

								<table class="striped">
									<thead>
										<tr class="row col s12">
											<th class="col s3">Nome</th>
											<th class="col s3">Latitude</th>
											<th class="col s3">Longitude</th>
											<th class="col s3">Remover</th>
										</tr>
									</thead>

									<div
										*ngFor="let instalacao of empregado.instalacoes;let i = index">
										<tbody class="col s12">
											<tr class="col s12">
												<input type="hidden" [(ngModel)]="instalacao.nome"
													value="{{instalacao.nome}}" name="instalacao[{{i}}].nome">
												<input type="hidden" [(ngModel)]="instalacao.latitude"
													value="{{instalacao.latitude}}"
													name="instalacao[{{i}}].latitude">
												<input type="hidden" [(ngModel)]="instalacao.longitude"
													value="{{instalacao.longitude}}"
													name="instalacao[{{i}}].longitude">
												<input type="hidden" [(ngModel)]="instalacao.id"
													value="{{instalacao.id}}" name="instalacao[{{i}}].id">
												<td class="col s3 instalacao-nome">{{instalacao.nome}}</td>
												<td class="col s3 instalacao-lat">{{instalacao.latitude}}</td>
												<td class="col s3 instalacao-long">{{instalacao.longitude}}</td>
												<td class="col s3 botao-remover"><a
													class="btn-floating waves-effect waves-light red btn-remove"
													(click)="removeInstalacao(i)"> <i
														class="material-icons center-icon">delete</i>
												</a></td>
											</tr>
										</tbody>

									</div>

								</table>

							</div>

						</fieldset>

					</div>

				</div>

			</div>

			<input id="id" name="id" type="hidden"> <input id="version"
				name="version" type="hidden">

			<div class="mensagem">
				<app-mensagem-form *ngIf="verifyError" [color]="colorError"
					[msg]="msgError"></app-mensagem-form>
			</div>

			<div class='row row-btns'>
				<div class="col s6">
					<a [routerLink]="['/empregado']" class="btn btn-primary btn-listar">Listar</a>
				</div>
				<div class="col s6">
					<button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
				</div>
			</div>

		</div>

	</form>
</div>

<div materialize [materializeParams]="toastParams" 
	[materializeActions]="globalActions"></div>