table {
	border: 1px solid #c0c0c0;
    margin-top: 25px;
}

thead > tr {
	margin-bottom: 0px;
	border-bottom: 1px solid;
}

td > a > i {
	margin-top: -5px;
}

tbody{
	margin-top: 10px;
	border-bottom: 1px solid #c0c0c0;	
}

.btn-remove {
	margin-top: -5px;
    margin-bottom: 3px;
	width: 30px;
    height: 30px;
}

.btn-remove-item {
	margin-top: 39px;
}

.grupo-monitoramento-nome {
	padding-left: 0px;
}

.botao-remover {
	margin-top: -20px;
	padding-left: 35px;
}

.data-remocao-historico {
	padding-left: 25px;
}

.instalacao-nome {
	padding-left: 0px;
}

.instalacao-lat {
	padding-left: 25px;
}

.instalacao-long {
	padding-left: 40px;
}

.instalacoes { 
	margin-bottom: 40px;
}

#grupoMonitoramento {
	margin-top: 20px;
}
div h6 {
	padding-left: 10px;
	color: #26a69a;
}
