.row-select {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked  {
    position: absolute;
    opacity: 0;
    margin-top: 15px;
    pointer-events: auto;
}

.checkbox {
	margin-top: 0px;
	padding-left: 35px;
}

table {
	width: 200% !important;
}

.list-container {
	overflow: auto;
	max-width: 95%;
    max-height: 60%;
    margin-bottom: 10%;
    position: absolute;
}

td, th {
	padding: 0px !important;
}

td {
	border-bottom: 1px solid #c0c0c0;
}

.div-icon {
    display: initial;
}

.div-icon > i {
	
}

.mleft {
    margin-left: 5%;
}

.icon {
	cursor: pointer;
}

.dropdown-conteudo {
	display: none;
	margin-top: -1%;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: auto;
    max-height: 200px;
}

.show {
	display: table-cell;
}
