<head>
<meta charset="utf-8">
</head>

<div class="conteiner-ficha-coleta">
	
	<div *ngFor="let grupo of gruposPerguntaFichaColeta">
		<fieldset>
			<legend>{{grupo}}</legend>
			
			<div *ngFor="let resposta of getRespostasByGrupo(grupo)" class="pergunta col s12" >
				<p><b>{{resposta.pergunta.descricao}}</b></p>
				
				<div class="resposta-select col s12" *ngIf="isEnumOrSimNao(resposta)">
				
					<div class="div-resposta-select col s4">
						<select name="resposta-conteudo" [disabled]="isDisabledResposta(resposta)" (change)="autoAddItem(resposta)"
							class="browser-default" [(ngModel)]="resposta.conteudo">
							<option disabled selected value="">Selecione uma resposta</option>
							<option *ngFor="let value of getConteudoEnumOrSimNao(resposta)" value="{{value}}">{{value}}</option>
						</select>
					</div>
					
					<div class="add-item col s2" *ngIf="isPossibleAddItem(resposta)">
						<a class="btn-floating waves-effect waves-light green btn-add"
							(click)="addItemResposta(resposta)"> 
							<i class="material-icons center-icon">add</i>
						</a>
					</div>
					
					<div class="resposta-itens col s12" *ngIf="existItem(resposta)">
					
						<div *ngFor="let item of resposta.pergunta.itens" 
							[class]="getClassItensResposta(resposta)" class="pergunta-label-item">
							<p><b>{{item.label}}</b></p>
						</div>
						
						<div *ngFor="let item of resposta.itens; let i = index" class="resposta-item col s12">
						
							<div *ngFor="let itemDoItem of getItensDoItem(item); let ii = index" [class]="getClassItensResposta(resposta)">
							
								<div *ngIf="!itemHasPath(resposta, i, ii)">
									<textarea
										[(ngModel)]="itemDoItem.conteudo" [disabled]="isDisabledResposta(resposta)"></textarea>
								</div>
								
								<div *ngIf="itemHasPath(resposta, i, ii)">
									<select name="resposta-conteudo" [disabled]="isDisabledResposta(resposta)"
										class="browser-default" [(ngModel)]="itemDoItem.conteudo">
										<option disabled selected value="">Selecione uma resposta</option>
										<option *ngFor="let value of getItensResposta(resposta,ii)" value="{{value}}">{{value}}</option>
									</select>
								</div>
								
							</div>
							
							<a class="btn-floating waves-effect waves-light red btn-remove" *ngIf="!isDisabledResposta(resposta)" 
								(click)="removeItemResposta(resposta,i)"> 
								<i class="material-icons center-icon">delete</i>
							</a>
								
						</div>
						
					</div>
					
				</div>
				
				<div class="resposta" *ngIf="!isEnumOrSimNao(resposta)">
					<textarea [disabled]="isDisabledResposta(resposta)"
						[(ngModel)]="resposta.conteudo">
					</textarea>
				</div>
				
			</div>
		</fieldset>
	</div>	
</div>

<!-- Modal Structure -->
<div id="modal" class="modal" materialize="modal" 
	[materializeParams]="[{dismissible: false}]"
	[materializeActions]="modalConteudo">

	<div class="modal-content">
		<h5 class="title-modal">Conteúdo</h5>
		
		<div class="div-conteudo col s12 center">
			<textarea id="conteudo-resposta" type="text" [(ngModel)]="conteudo"
				class="materialize-textarea conteudo" name="conteudo"></textarea>
		</div>
		
		<div class="error-pattern" *ngIf="pattern != ''">
			<p><b>{{errorPattern}}</b></p>
		</div>
	</div>
 
	<div class="modal-footer">
		<a class="waves-effect waves-green btn-flat btn"
			(click)="cancelarModalConteudo()">Cancelar</a>
		<a class="waves-effect waves-green btn-flat btn"
			(click)="confirmarModalConteudo()">Confirmar</a>
	</div>

</div>
