table {
	border: 1px solid #c0c0c0;
    display: inline-table;
	margin-top: 40px;
	margin-bottom: 50px;
}

thead > tr {
	margin-bottom: 0px;
	border-bottom: 1px solid;
}

th {
	margin-bottom: 0px;
}

.btn-floating i {
	font-size: 1.3rem;
}

td > a > i {
	margin-top: -5px;
}

tbody{
	margin-top: 10px;
	border-bottom: 1px solid #c0c0c0;	
	display: flex !important;
	padding: 0;
}

.select-sim-nao {
	margin-bottom: 40px;
	padding-bottom: 20px;
}

.conteiner-ficha-coleta {
	max-height: 400px;
    overflow-y: scroll;
    width: 100%;
}

.pergunta-descricao {
	margin-left: 10px;
    margin-bottom: 0px;
}

input.resposta-pergunta {
	margin-left: 10px;
}

.resposta {
	border-bottom: 1px solid #d2d2d2;
}

.btn-add {
	margin-top: 17px;
    margin-left: -30px;
}

input[type="text"]:disabled {
	background: #D2D2D2 !important;
}

select {
	display: inline;
}

.input-field>select {
	display: block;
	position: absolute;
	width: 250px;
	pointer-events: all;
	height: 50px;
	top: 0;
	left: 20px;
	opacity: 10;
}

.center-icon {
	margin-top: 0px;
}