<head>
<meta charset="utf-8">
</head>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<div class="row form-container">
	<form class="col s12" (ngSubmit)="salvar()">
		<div class="row">
			<ul class="tabs" materialize="tabs">
				<li class="tab col s2"><a RouterLinkActive="active"
					href="#dadosGerais">Dados Gerais</a></li>
				<li class="tab col s3"><a RouterLinkActive="active"
					href="#tarefas">Tarefas</a></li>
			</ul>
			<div class="groups">
				<div id="dadosGerais">
				<div class="row col s12">
				<div class="input-field col s6">
						<fieldset>
							<label for="cargo">Cargo</label> <input
								type="text" materialize="autocomplete" autocomplete="off"
								name="mudancaFuncao.cargo.nome"
								[(ngModel)]="mudancaFuncao.cargo.nome"
								(blur)="autoCompleteCargo.getAutocomplete().getObj($event,mudancaFuncao,'setCargo','getNome')"
								(ngModelChange)="autoCompleteCargo.getAutocomplete().getList(mudancaFuncao.cargo, 'getNome');"
								[materializeParams]="autoCompleteCargo.getAutocomplete().getObjAutoComplete()">
								</fieldset>
			    </div>
			    <div class="input-field col s6">
						<fieldset>
							<label for="funcao">Função</label> <input
								type="text" materialize="autocomplete" autocomplete="off"
								name="mudancaFuncao.funcao.nome"
								[(ngModel)]="mudancaFuncao.funcao.nome"
								(blur)="autoCompleteFuncao.getAutocomplete().getObj($event,mudancaFuncao,'setFuncao','getNome')"
								(ngModelChange)="autoCompleteFuncao.getAutocomplete().getList(mudancaFuncao.funcao, 'getNome');"
								[materializeParams]="autoCompleteFuncao.getAutocomplete().getObjAutoComplete()">
								</fieldset>
			    </div>
				</div>
				<div class="row col s12">
				<div class="input-field col s6">
							<fieldset>
								<label for="mudancaFuncao.ghe" >GHE</label> 						
								<input type="text" materialize="autocomplete" autocomplete="off"
								name="mudancaFuncao.ghe.nome"
								[(ngModel)]="mudancaFuncao.ghe.nome"
								(blur)="autoCompleteGhe.getAutocomplete().getObj($event,mudancaFuncao,'setGhe','getNome')"
								(ngModelChange)="autoCompleteGhe.getAutocomplete().getList(mudancaFuncao.ghe, 'getNome');"
								[materializeParams]="autoCompleteGhe.getAutocomplete().getObjAutoComplete()">
							</fieldset>
				</div>
				<div class="input-field col s6">
						<fieldset>
							<label for="ghee">GHEE</label> <input
								type="text" materialize="autocomplete" autocomplete="off"
								name="mudancaFuncao.ghee.nome"
								[(ngModel)]="mudancaFuncao.ghee.nome"
								(blur)="autoCompleteGhee.getAutocomplete().getObj($event,mudancaFuncao,'setGhee','getNome')"
								(ngModelChange)="autoCompleteGhee.getAutocomplete().getList(mudancaFuncao.ghee, 'getNome');"
								[materializeParams]="autoCompleteGhee.getAutocomplete().getObjAutoComplete()">
								</fieldset>
			    </div>	
				</div>
				<div class="row col s12">
					<div class="input-field col s4">
						<fieldset>
							<label for="gerencia">Código da Gerência</label> <input
								type="text" materialize="autocomplete" autocomplete="off"
								name="mudancaFuncao.gerencia.codigoCompleto"
								[(ngModel)]="mudancaFuncao.gerencia.codigoCompleto"
								(blur)="autoCompleteGerencia.getAutocomplete().getObj($event,mudancaFuncao,'setGerencia','getCodigoCompleto')"
								(ngModelChange)="autoCompleteGerencia.getAutocomplete().getList(mudancaFuncao.gerencia, 'getCodigoCompleto');"
								[materializeParams]="autoCompleteGerencia.getAutocomplete().getObjAutoComplete()">
								</fieldset>
			       </div>
				   <div class="input-field col s4">
						<fieldset>
							<label for="base">Base</label> <input
								type="text" materialize="autocomplete" autocomplete="off"
								name="mudancaFuncao.base.nome"
								[(ngModel)]="mudancaFuncao.base.nome"
								(blur)="autoCompleteBase.getAutocomplete().getObj($event,mudancaFuncao,'setBase','getNome')"
								(ngModelChange)="autoCompleteBase.getAutocomplete().getList(mudancaFuncao.base, 'getNome');"
								[materializeParams]="autoCompleteBase.getAutocomplete().getObjAutoComplete()">
								</fieldset>
			    </div>
			     <div class="input-field col s4">
						<fieldset>
							<label for="base">Regime</label>
		    						<select name="regime" class="browser-default"
									[(ngModel)]="mudancaFuncao.regime.id">
									<option disabled selected value=0>Selecione um regime</option>
									<option *ngFor="let regime of regimes" value="{{regime.id}}">{{regime.nome}}</option>
									</select>
						</fieldset>
				</div>
			    </div>
			</div>
		</div>

		<div class="mensagem">
			<app-mensagem-form *ngIf="verifyError" [color]="colorError"
				[msg]="msgError"></app-mensagem-form>
		</div>


		<div class='row row-btns'>
		
			<div class="col s6 botao-voltar">
				<a [routerLink]="['/mudanca-funcao']" class="btn btn-primary btn-listar">Listar</a>
			</div>
			
			<div class="col s6 btn-avancar">
				<button type="submit" class="btn btn-primary btn-salvar right">salvar</button>
			</div>
			
		</div>
	</div>

	</form>
</div>

<div materialize [materializeParams]="toastParams"
	[materializeActions]="globalActions"></div>