<head>
<meta charset="utf-8">
</head>

<!-- Preload -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<p style="color: #26a69a;"><b>Nome do Empregado: {{riscoPotencial.empregado.pessoa.nome}}</b></p>

<div class="form-container">
	<form #form="ngForm" class="col s12" (ngSubmit)="save()">

		<div class="container-triagem">
			<div class="table-triagem">
				<table style="width: 100%">
					<div class="container-triagens-acolhimento">
						<div
							*ngFor="let equipe of equipesAbordagemTriagens; let e = index">
							<p style="margin-left: 20px;">
								<b>{{equipe.nome}}</b>
							</p>
							<div
								*ngFor="let triagem of triagensByEquipeAbordagem[equipe.id]; let t = index">
								<fieldset class="fieldset-planejamento-triagem">
									<tr class="row col s12">
										<td class="col s3 label-indicador-acolhimento">Indicador</td>
										<td class="col s9 indicador-acolhimento">{{triagem.indicadorSast.nome}}</td>
									</tr>
									<tr class="row col s12">
										<td class="col s3 label-indice-descricao-acolhimento">Índice
											Descrição</td>
										<td class="col s9 indice-descricao-acolhimento">{{getIndiceDescricao(triagem)}}</td>
									</tr>
									<tr class="row col s12">
										<td class="col s3 label-eixo-clinico-acolhimento">Eixo
											Clínico</td>
										<td class="col s9 eixo-clinico-acolhimento"><input
											type="text" name="eixo-clinico-acolhimento{{e}}{{t}}"
											disabled [(ngModel)]="triagem.diagnostico.eixo.titulo"></td>
									</tr>
									<tr class="row col s12">
										<td class="col s3 label-diagnostico-acolhimento">Diagnóstico</td>
										<td class="col s9 diagnostico-acolhimento"><input
											type="text" name="diagnostico-acolhimento{{e}}{{t}}" disabled
											[(ngModel)]="triagem.diagnostico.descricao"></td>
									</tr>
									<tr class="row col s12">
										<td class="col s3 label-intervencao-acolhimento">Intervenção</td>
										<td class="col s9 intervencao-acolhimento"><input
											type="text" name="intervencao-acolhimento{{e}}{{t}}" disabled
											[(ngModel)]="triagem.intervencao.descricao"></td>
									</tr>
									<tr class="row col s12">
										<td class="col s3 label-equipe-abordagem-acolhimento">Equipe
											de Abordagem</td>
										<td class="col s9 equipe-abordagem-acolhimento"><input
											type="text" name="equipe-abordagem-acolhimento{{e}}{{t}}"
											disabled [(ngModel)]="triagem.equipeAbordagem.nome">
										</td>
									</tr>
									<tr class="row col s12">
										<td class="col s3 label-prazo-inicio-acolhimento">Sugestão
											de prazo de início</td>
										<td class="col s9 prazo-inicio-acolhimento"><input
											type="text" name="prazo-inicio-acolhimento{{e}}{{t}}"
											disabled [(ngModel)]="triagem.prazo"></td>
									</tr>
									<tr class="row col s12">
										<td class="col s3 label-justificativa-acolhimento">Justificativa/Observação</td>
										<td class="col s9 justificativa-acolhimento"><input
											type="text" name="justificativa-acolhimento{{e}}{{t}}"
											disabled [(ngModel)]="triagem.justificativa"></td>
									</tr>
									<tr class="row col s12">
										<td class="col s3 label-ignorar-acoes">Ignorar Ações</td>
										<td class="col s9 ignorar-acoes"><input type="checkbox"
											id="triagem.ignorarAcoes{{e}}{{t}}"
											[(ngModel)]="triagem.ignorarAcoes"
											name="triagem.ignorarAcoes{{e}}{{t}}">
											<label for="triagem.ignorarAcoes{{e}}{{t}}"></label>
										</td>
									</tr>
									<tr class="row col s12">
										<td class="col s3 label-acoes">Acões <a
											(click)="addAcao(equipe.id, t)" 
											class="btn-floating waves-effect waves-light btn-add-acao">
												<i class="material-icons icon-btn-add-acao">add</i>
										</a>
										</td>
										<td class="col s9">
											<div *ngFor="let acao of triagem.acoes; let a = index">
											<fieldset (mouseenter)="showActions(a)"
													  (mouseleave)="hiddenActions(a)">
												<legend>Ação</legend>
												<div class="row btn-action{{a}} btn-action-div" hidden>
													<a class="btn-floating waves-effect waves-light blue btn-edit"
														(click)="editAcao(equipe.id, t, triagem.id, a)">
														<i class="material-icons center-icon">mode_edit</i></a>
													<a class="btn-floating waves-effect waves-light red btn-remove"
														(click)="removeAcao(equipe.id, t, triagem.id, a)"> 
														<i class="material-icons center-icon">delete</i>
													</a>
												</div>
												<div class="row">
													<div class="col s6">
														<label for="tipo{{a}}">Tipo</label> 
														<input type="text" disabled
															name="tipo{{a}}" value={{acao.tipo}}>
													</div>
													<div class="col s6">
														<label for="status{{a}}">Status</label> 
														<input type="text" disabled
															name="status{{a}}" value={{acao.status}}>
													</div>
												</div>
												<div class="row">
													<div class="col s6">
														<label for="tipoContato">Tipo de Contato</label> 
														<input type="text" disabled
															name="tipoContato{{a}}" value={{acao.tipoContato}}>
													</div>
													<div class="col s6">
														<label for="dataAcao">Data</label>
														<p>{{dataAcoes[triagem.id][a].formatted}}</p>
														<!-- <my-date-picker name="dataAcoes{{a}}" disabled 
															[options]="myDatePickerOptions" placeholder="Data"
															[(ngModel)]="dataAcoes[triagem.id][a]"> </my-date-picker>
															 -->
													</div>
												</div>
												<div class="row">
													<div class="col s12">
														<label for="detalhe">Detalhe</label> 
														<textarea class="materialize-textarea" disabled
															name="detalhe{{a}}" value={{acao.detalhe}}></textarea>
													</div>
												</div>
												<div class="row center" *ngIf="verifyReopenAcao(acao)">
													<a (click)="reopenAcao(acao)" 
														class="btn btn-primary btn-reabrir">Reabrir</a>
												</div>
											</fieldset>
											</div>
										</td>
									</tr>
								</fieldset>
							</div>
						</div>

					</div>
				</table>
			</div>

			<input id="id" name="id" type="hidden"
				[(ngModel)]="riscoPotencial.id"> <input id="version"
				name="version" type="hidden" [(ngModel)]="riscoPotencial.version">

		</div>

		<div class='row row-btns'>
			<div class="col s6">
				<a [routerLink]="['/risco-potencial']"
					class="btn btn-primary btn-voltar">Voltar</a>
			</div>
			<div class="col s6">
				<button type="submit" class="btn btn-primary btn-salvar" right>Salvar</button>
			</div>
		</div>
	</form>

	<div class="mensagem">
		<app-mensagem-form *ngIf="verifyError" [color]="colorError"
			[msg]="msgError"></app-mensagem-form>
	</div>
</div>

<!-- Modal Structure -->
<div id="modal" class="modal" materialize="modal"
	[materializeParams]="modelParams" [materializeActions]="modalAcao">

	<div class="row row-modal-acao">

		<div class="row">
			<div class="input-field col s12">
				<fieldset>
					<legend>Tipo de Contato</legend>
					<select name="tipoContato" class="browser-default"
						[(ngModel)]="acao.tipoContato">
						<option disabled selected value="">Selecione um tipo de contato</option>
						<option *ngFor="let tipoContato of tipoContatoAcoes"
							value="{{tipoContato}}">{{tipoContato}}</option>
					</select>
				</fieldset>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s6">
				<fieldset>
					<legend>Tipo</legend>
					<select name="tipo" class="browser-default" [(ngModel)]="acao.tipo">
						<option disabled selected value="">Selecione um tipo</option>
						<option *ngFor="let tipo of tipoAcoes" value="{{tipo}}">{{tipo}}</option>
					</select>
				</fieldset>
			</div>
			
			<div class="input-field col s6">
				<label for="dataTarefaAcao">Data</label>
				<my-date-picker name="dataTarefaAcao" [options]="myDatePickerOptions"
					[(ngModel)]="dataTarefaAcao" placeholder="Data"> </my-date-picker>
			</div>
		</div>

		<div class="input-field col s12">
			<label for="acao.detalhe">Detalhe</label>
			<textarea class="materialize-textarea" [(ngModel)]="acao.detalhe"
				name="acao.detalhe"></textarea>
		</div>

	</div>

	<div class="modal-footer">
		<a class="waves-effect waves-green btn-flat" (click)="closeModal()">Fechar</a>
		<a class="modal-action modal-close waves-effect waves-green btn-flat"
			(click)="confirmAddAcao()">Confirmar</a>
	</div>

</div>

<div materialize [materializeParams]="toastParams"
	[materializeActions]="globalActions"></div>