<head>
<meta charset="utf-8">
</head>

<!-- Preload -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave" [goTo]="goTo"></app-confirm-save>  

<div class="row form-container">
	<form #form="ngForm" class="col s12" (ngSubmit)="save()">

		<div class="row">

			<div class="input-field col s9">
				<label for="empresa">Empresa</label>
				<input id="empresa" type="text" 
				name="empresa" [(ngModel)]="aprho.empresa">
			</div>		
				<div class="input-field col s3">
							<label for="data">Data</label>
							<my-date-picker name="data"
								[options]="myDatePickerOptions" [(ngModel)]="data"
								placeholder="Data"> </my-date-picker>
						</div>
		</div>
			<div class="row">
		<tr class="row col s12">
			<td class="col s3 label-intervencao">Intervenção</td>
			<td class="col s9 intervencao">
				<input (click)="openModalGhe(ghe)" 
		 			id="nome" type="text"
					name="nome"
					[(ngModel)]="ghe.nome">
			</td>
		</tr>
	</div>

		<input id="id" name="id" type="hidden" [(ngModel)]="aprho.id"> 
		<input id="version" name="version" type="hidden" [(ngModel)]="aprho.version">

		<div class="mensagem">
			<app-mensagem-form *ngIf="verifyError" [color]="colorError" [msg]="msgError"></app-mensagem-form>
		</div>

		<div class='row row-btns'>
			<div class="col s6">
				<a [routerLink]="['/aprho']"
					class="btn btn-primary btn-listar">Listar</a>
			</div>
			<div class="col s6">
				<button type="submit"
				class="btn btn-primary btn-salvar">Salvar</button>
			</div>
		</div>
	</form>
</div>

<div id="modal" class="modal" materialize="modal"
	[materializeParams]="modalParams"
	[materializeActions]="modalGhe">

	<h5 class="title-modal title-modal-ghe">Ghe</h5>
	
	<table class="table table-striped table-filter-ghe" 
		[mfData]="arrayGhe | filterData : filter : typeFilter : value" 
			#mf="mfDataTable" [mfRowsOnPage]="40">
	    <thead>
		    <tr>
		        <th style="width: 1%">
		            <mfDefaultSorter by="nome">Nome</mfDefaultSorter>
		            <input type="text" name="filter-ghe-nome" style="width: 90%" 
							placeholder="filtrar nome"
							(input)="selectFilter($event, 'filter-ghe-nome')">
		        </th>
		    </tr>
	    </thead>
    	<tbody>
		    <tr *ngFor="let item of mf.data" class="tr-filter-ghe-nome" (click)="selectGhe(item)">
		        <td style="width: 1%" class="filter-ghe-nome">{{item.nome}}</td>
		    </tr>
	    </tbody>
	</table>

	<div class="modal-footer">
		 <a class="waves-effect waves-green btn-flat"
			(click)="cancelarModalGhe()">Cancelar</a>
	</div>

</div>