<head>
<meta charset="utf-8">
</head>

<!-- Preload -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave"
	[goTo]="goTo"></app-confirm-save>

<div class="row form-container">
	<form #form="ngForm" class="col s12" (ngSubmit)="save()">
		<div class="row">

			<div class="col s12">
				<ul class="tabs" materialize="tabs">
					<li class="tab col s6"><a RouterLinkActive="active"
						href="#dadosGerais">Dados Gerais</a></li>
					<li class="tab col s6"><a RouterLinkActive="active"
						href="#vacinas">Vacinas</a></li>
				</ul>
			</div>

			<div id="dadosGerais">
				<div class="row">

					<div class="input-field col s12">
						<label for="nome">Nome</label> <input id="nome" type="text"
							name="nome" [(ngModel)]="funcao.nome">
					</div>

				</div>
			</div>
			
			<div id="vacinas">

				<fieldset>
					<legend>Vacinas</legend>
					<div class="row row-curso">

						<div class="input-field col s4">
							<select class="browser-default" #vacina>
								<option disabled selected value=0>Selecione uma vacina</option>
								<option *ngFor="let vacina of vacinas" value="{{vacina.id}}">{{vacina.descricao}}</option>

							</select>
						</div>

						<div class="col s2">
							<a
								class="btn-floating waves-effect waves-light green btn-remove-permission"
								(click)="addVacina(vacina.value)"> <i
								class="material-icons center-icon">add</i>
							</a>
						</div>

					</div>
				</fieldset>

					<div class="row">

						<table class="striped">
							<thead>
								<tr class="row col s12">
									<th class="col s3">Descrição</th>
									<th class="col s3">Doses</th>
									<th class="col s3">Reforço</th>
									<th class="col s3">Remover</th>
								</tr>
							</thead>

							<div *ngFor="let vacina of funcao.vacinas;let i = index">
								<tbody class="col s12">
									<tr class="col s12">
										<input type="hidden" [(ngModel)]="vacina.descricao"
											value="{{vacina.descricao}}" name="vacina[{{i}}].descricao">
										<input type="hidden" [(ngModel)]="vacina.doses"
											value="{{vacina.doses}}" name="vacina[{{i}}].doses">
										<input type="hidden" [(ngModel)]="vacina.reforco"
											value="{{vacina.reforco}}" name="vacina[{{i}}].reforco">
										<input type="hidden" [(ngModel)]="vacina.id"
											value="{{vacina.id}}" name="vacina[{{i}}].id">
										<td class="col s3 vacina-descricao">{{vacina.descricao}}</td>
										<td class="col s3 vacina-doses">{{vacina.doses}}</td>
										<td class="col s3 vacina-reforco">{{vacina.reforco}}</td>
										<td class="col s3 botao-remover"><a
											class="btn-floating waves-effect waves-light red btn-remove"
											(click)="removeVacina(i)"> <i
												class="material-icons center-icon">delete</i>
										</a></td>
									</tr>
								</tbody>

							</div>

						</table>

					</div>

			</div>

		</div>
		
		<input id="id" name="id" type="hidden" [(ngModel)]="funcao.id">
		<input id="version" name="version" type="hidden"
			[(ngModel)]="funcao.version">

		<div class="mensagem">
			<app-mensagem-form *ngIf="verifyError" [color]="colorError"
				[msg]="msgError"></app-mensagem-form>
		</div>

		<div class='row row-btns'>
			<div class="col s6">
				<button type="submit" class="btn btn-primary">Salvar</button>
			</div>
			<div class="col s6">
				<a [routerLink]="['/funcao']"
					class="btn btn-primary btn-listar-perfis">Listar</a>
			</div>
		</div>
	</form>
</div>