<head>
<meta charset="utf-8">
</head>

<!-- Preload -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload> 

<!-- Confirm Save -->
<app-confirm-save [show]="showConfirmSave" [msg]="msgConfirmSave" [goTo]="goTo"></app-confirm-save>  

<div class="row form-container">
	<form class="col s12" (ngSubmit)="save()">

		<div class="row">

			<div class="input-field col s10">
				<label for="nome">Nome</label>
				<input id="nome" type="text" 
				[(ngModel)]="indicadorRiscoSanitario.nome" name="indicadorRiscoSanitario.nome">
			</div>
			
			<div class="input-field col s2">
				<input type="checkbox" id="critico" 
					[(ngModel)]="indicadorRiscoSanitario.critico" name="indicadorRiscoSanitario.critico">
                <label for="critico">Crítico</label>
			</div>
	
		</div>
		
		<div class="row">
			
			<div class="input-field col s6">
				<fieldset>
					<legend>Periodicidade</legend>
					<select name="indicadorRiscoSanitario.periodicidade" class="browser-default"
						[(ngModel)]="indicadorRiscoSanitario.periodicidade.id">
						<option disabled selected value=0>Selecione uma periodicidade</option>
						<option *ngFor="let periodicidade of periodicidades"
							value="{{periodicidade.id}}">{{periodicidade.descricao}}</option>
					</select>
				</fieldset>
			</div>
			
			<div class="input-field col s6">
				<fieldset>
					<legend>Requisito</legend>
					<select name="indicadorRiscoSanitario.requisito" class="browser-default"
						[(ngModel)]="indicadorRiscoSanitario.requisito">
						<option disabled selected value="">Selecione um requisito</option>
						<option *ngFor="let requisito of requisitos"
							value="{{requisito}}">{{requisito}}</option>
					</select>
				</fieldset>
			</div>
			
		</div>
		
		<div class="row">
		
			<div class="input-field col s12">
				<label for="indice0">Indice 0</label>
				<textarea class="materialize-textarea" id="indice0" 
					[(ngModel)]="indicadorRiscoSanitario.indice0" name="indicadorRiscoSanitario.indice0"></textarea>
			</div>

		</div>
		
		<div class="row">
		
			<div class="input-field col s12">
				<label for="indice1">Indice 1</label>
				<textarea class="materialize-textarea" id="indice1" 
					[(ngModel)]="indicadorRiscoSanitario.indice1" name="indicadorRiscoSanitario.indice1"></textarea>
			</div>

		</div>
		
		<div class="row">
		
			<div class="input-field col s12">
				<label for="indice2">Indice 2</label>
				<textarea class="materialize-textarea" id="indice2" 
					[(ngModel)]="indicadorRiscoSanitario.indice2" name="indicadorRiscoSanitario.indice2"></textarea>
			</div>

		</div>
		
		<div class="row">
		
			<div class="input-field col s12">
				<label for="indice3">Indice 3</label>
				<textarea class="materialize-textarea" id="indice3" 
					[(ngModel)]="indicadorRiscoSanitario.indice3" name="indicadorRiscoSanitario.indice3"></textarea>
			</div>

		</div>
		
		<div class="row">
		
			<div class="input-field col s12">
				<label for="indice4">Indice 4</label>
				<textarea class="materialize-textarea" id="indice4" 
					[(ngModel)]="indicadorRiscoSanitario.indice4" name="indicadorRiscoSanitario.indice4"></textarea>
			</div>

		</div>
		
		<div class="row">
		
			<div class="input-field col s12">
				<label for="indice5">Indice 5</label>
				<textarea class="materialize-textarea" id="indice5" 
					[(ngModel)]="indicadorRiscoSanitario.indice5" name="indicadorRiscoSanitario.indice5"></textarea>
			</div>

		</div>
		
		<input id="id" name="id" type="hidden" [(ngModel)]="indicadorRiscoSanitario.id"> 
		<input id="version" name="version" type="hidden" [(ngModel)]="indicadorRiscoSanitario.version">

		<div class="mensagem">
			<app-mensagem-form *ngIf="verifyError" [color]="colorError" [msg]="msgError"></app-mensagem-form>
		</div>

		<div class='row row-btns'>
			<div class="col s6">
				<button type="submit" class="btn btn-primary">Salvar</button>
			</div>
			<div class="col s6">
				<a [routerLink]="['/indicador-risco-sanitario']"
					class="btn btn-primary btn-listar-perfis">Listar</a>
			</div>
		</div>
	</form>
</div>