<head>
<meta charset="utf-8">
</head>

<!-- -->
<app-mensagem-form *ngIf="verifyEmptyPaginas" [msg]="msgEmptyPaginas"
	[color]="colorEmptyPaginas"> </app-mensagem-form>

<!-- Preload  -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<div class="list-container" *ngIf="showPaginator">

	<div class="collection">

		<div *ngFor="let a of array">
			<div class="row row-collection">
				<div class="col s11">
					<a [routerLinkActive]="['active']" class="collection-item">{{a.descricao}}</a>
				</div>
				<div class="col s1">
					<a [ngStyle]="{'cursor': 'pointer'}" (click)="delete(a.id)"><i
						class="material-icons">delete</i></a>
				</div>
			</div>
		</div>

	</div>

	<!-- Paginação -->
	<app-paginacao [filter]="filter" [paginasAtuais]="paginasAtuais"
		[paginas]="paginas" [listComponent]="listComponent"
		[verifyEmptyPaginas]="verifyEmptyPaginas"></app-paginacao>

</div>

<app-confirm-delete [service]="service" [idDelete]="tempDelete"
	[show]="openModalDelete"></app-confirm-delete>

<div class="mensagem">
	<app-mensagem-form *ngIf="verifyError" [color]="colorError"
		[msg]="msgError"></app-mensagem-form>
</div>