<head>
<meta charset="utf-8">
</head>

<!-- -->
<app-mensagem-form *ngIf="verifyEmptyPaginas" [msg]="msgEmptyPaginas"
	[color]="colorEmptyPaginas"> </app-mensagem-form>

<!-- Preload  -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<div class="row div-select">
	<fieldset class="col s8 fieldset-select">
		<legend> Base - UF </legend>
		<select name="uf" class="browser-default" [(ngModel)]="uf">
			<option disabled selected value=''>Selecione um uf</option>
			<option *ngFor="let uf of ufs" value="{{uf}}">{{uf}}</option>
		</select>
		<button center class="btn btn-primary btn-filtrar"
			(click)="selectUf()">Filtrar</button>
	</fieldset>
</div>

<a style="display: inherit;" 
	(click)="exportFile()"> 
	<i class="small material-icons icon" (mouseover)="showTextToast('Exportar', 4000)" 
		(mouseleave)="closeTooltip()">file_download</i>
</a>
<div class="list-container">
	<table class="table table-striped" [mfData]="riscoPotenciais | filterData : filter : tipoFiltro : value" #mf="mfDataTable">
		<thead>
			<tr>
				<th style="width: 1%">
					<mfDefaultSorter by="ranking">Ranking</mfDefaultSorter>
					<input type="text" name="ranking" style="width: 90%" 
							placeholder="filtrar ranking"
							(input)="selectFilter($event, 'ranking')">
				</th>
				<th style="width: 1%">
					<mfDefaultSorter by="statusRPSat">StatusRPSat</mfDefaultSorter>
					<input type="text" name="statusRPSat" style="width: 90%" 
							placeholder="filtrar statusRPSat"
							(input)="selectFilter($event, 'statusRPSat')">
				</th>
				<th style="width: 1%">
					<mfDefaultSorter by="equipeResponsavelNome">Gestão</mfDefaultSorter>
					<div class="div-icon" id="equipeResponsavelNome">
							<i class="small material-icons icon" 
								(click)="dropdown($event, 'equipeResponsavelNome')">arrow_drop_down</i>
						</div>
				</th>
				<th style="width: 1.5%">
					<div class="row">
						<mfDefaultSorter class="mleft" by="empregadoNome">Empregado</mfDefaultSorter>
						<input type="text" name="empregadoNome" style="width: 90%" 
							placeholder="filtrar empregado"
							(input)="selectFilter($event, 'empregadoNome')">
					</div>
				</th>
				<th style="width: 1%">
					<div class="row">
						<mfDefaultSorter class="mleft" by="data">Data</mfDefaultSorter>
						<input type="text" name="data" style="width: 90%" 
							placeholder="filtrar data"
							(input)="selectFilter($event, 'data')">
					</div>
				</th>
				<th style="width: 1%">
					<mfDefaultSorter by="status">Status</mfDefaultSorter>
					<div class="div-icon" id="status">
							<i class="small material-icons icon" 
								(click)="dropdown($event, 'status')">arrow_drop_down</i>
						</div>
				</th>
			</tr>
		</thead>
		<tbody class="col s12 row-risco row-risco{{i}}">
			<tr *ngFor="let item of mf.data" (click)="toggleButtons(i)" [ngStyle]="changeColorStatusRPSat(item.statusRPSat)">
				<td class="item-ranking">{{item.ranking}}</td>
				<td>{{item.statusRPSat}}</td>
				<td>{{item.equipeResponsavelNome}}</td>
				<td>{{item.empregadoNome}}</td>
				<td>{{item.data}}</td>
				<td>{{item.status}}</td>
			</tr>
		</tbody>
	</table>

	<ul id='dropdown' class='dropdown-conteudo'></ul>
</div>

<div class="mensagem">
	<app-mensagem-form *ngIf="verifyError" [color]="colorError"
		[msg]="msgError"></app-mensagem-form>
</div>

<div materialize [materializeParams]="toastParams"
	[materializeActions]="globalActions"></div>