table {
	border: 1px solid #c0c0c0;
    margin-top: 25px;
}

thead > tr {
	margin-bottom: 0px;
	border-bottom: 1px solid;
}

td > a > i {
	margin-top: -5px;
}

tbody{
	margin-top: 10px;
	border-bottom: 1px solid #c0c0c0;	
}

.ranking {
	padding-top: 10px;
}

.col {
	margin: 0 auto;
}

.list-container {
	max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.div-select {
	width: 50%;
    margin: 0 auto;
}

.fieldset-select {
	padding-bottom: 2%;
}

.btn-filtrar {
	margin-top: 4.5%;
    margin-left: 2%;
}

.empregado {
	padding-left: 10px;
}

.gestao {
	padding-left: 7px;
}

.rpsat {
	padding-left: 2px;
}

.ranking {
	padding-left: 20px;
    padding-top: 7px;
}

.row-risco { 
	cursor: pointer;
	padding-top: 10px;
}

.row-btns {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-ranking {
	background: #2d286f;
	margin-left: 10px;
}

.div-btns-risco {
	margin-top: 5px;
}