<head>
	<meta charset="utf-8">
</head>

<!-- -->
<app-mensagem-form *ngIf="verifyEmptyPaginas" [msg]="msgEmptyPaginas"
	[color]="colorEmptyPaginas"> </app-mensagem-form>

<!-- Preload  -->
<app-preload [msg]="msgPreload" [show]="showPreload"></app-preload>

<div class="row div-select">
	<fieldset class="col s8 fieldset-select">
		<legend> Base - UF </legend>
		<select name="uf" class="browser-default" [(ngModel)]="uf">
			<option disabled selected value=''>Selecione um uf</option>
			<option *ngFor="let uf of ufs" value="{{uf}}">{{uf}}</option>
		</select>
		<button center class="btn btn-primary btn-filtrar" (click)="selectUf()">Filtrar</button>
	</fieldset>
</div>

<div class="filtro center">
	<div class="row">
		<div class="row div-filter" style="width: 10%" >
			<label>Filtrar por Data</label>
			<input type="text" name="data" [disabled]="verifyFiltro('data')" 
				placeholder="filtrar data" (input)="selectFilterData($event)">
		</div>
		<div class="row div-filter" style="width: 15%">
			<label>Filtrar por RPSat</label>
			<select name="statusRPSat" class="browser-default" [disabled]="verifyFiltro('statusRPSat')"
				(change)="selectFilterRPSat($event)">
				<option selected value="">Selecione um rpsat</option>
				<option *ngFor="let rpsat of rpsats" value="{{rpsat}}">{{rpsat}}</option>
			</select>
		</div>
		<div class="row div-filter" style="width: 25%">
			<label>Filtrar por Gestão</label>
			<select name="gestao" class="browser-default" [disabled]="verifyFiltro('equipeResponsavel')"
				(change)="selectFilterEquipe($event)">
				<option selected value="">Selecione um equipe</option>
				<option *ngFor="let equipe of equipes" value="{{equipe.nome}}">{{equipe.nome}}</option>
			</select>
		</div>
		<div class="row div-filter" style="width: 35%">
			<label>Filtrar por Empregado</label>
			<input type="text" name="empregado" [disabled]="verifyFiltro('empregado')" 
				placeholder="filtrar empregado" (input)="selectFilterEmpregado($event)">
		</div>
		<div class="row div-filter" style="width: 15%">
			<label>Filtrar por Status</label>
			<select name="status" class="browser-default" [disabled]="verifyFiltro('status')"
				(change)="selectFilterStatus($event)">
				<option selected value="">Selecione um status</option>
				<option *ngFor="let status of statuses" value="{{status}}">{{status}}</option>
			</select>
		</div>
	</div>
</div>

<div class="list-container">

	<div class="row">

		<table class="striped">
			<thead>
				<tr class="row col s12">
					<th class="col s1">Ranking</th>
					<th class="col s2">RPSat</th>
					<th class="col s2">Gestão</th>
					<th class="col s3">Empregado</th>
					<th class="col s2">Data</th>
					<th class="col s2">Status</th>
				</tr>
			</thead>
			<div *ngFor="let riscoPotencial of flagRiscoPotenciais;let i = index">
				<tbody class="col s12 row-risco row-risco{{i}}" 
					[ngStyle]="changeColorStatusRPSat(riscoPotencial.statusRPSat)">
					<tr class="col s12" (click)="toggleButtons(i)">
						<td class="col s1 ranking">{{riscoPotencial.ranking}}</td>
						<td class="col s2 rpsat">{{riscoPotencial.statusRPSat}}</td>
						<td class="col s2 gestao">{{riscoPotencial.equipeResponsavel.nome}}</td>
						<td class="col s3 empregado">{{riscoPotencial.empregado.pessoa.nome}}</td>
						<td class="col s2 data">{{riscoPotencial.data | transformDate}}</td>
						<td class="col s2 status">{{riscoPotencial.status}}</td>
					</tr>
					<tr class="col s12 row-btns row-btns-risco{{i}}" hidden>
						<div class="row div-btns-risco">
							<div style="display: inline;">
								<a
									[routerLink]="['/risco-potencial/ficha-coleta/', riscoPotencial.id]"
									class="btn btn-primary btn-ranking">Ficha Coleta</a>
							</div>
							<div style="display: inline;">
								<a
									[routerLink]="['/risco-potencial/triagem/', riscoPotencial.id]"
									class="btn btn-primary btn-ranking">Triagem</a>
							</div>
							<div style="display: inline;" *ngIf="verifyPlanejamento(i)">
								<a
									[routerLink]="['/risco-potencial/planejamento/', riscoPotencial.id, riscoPotencial.empregado.pessoa.nome]"
									class="btn btn-primary btn-ranking">Planejamento</a>
							</div>
							<div style="display: inline;">
								<a
									[routerLink]="['/risco-potencial/graficos/', riscoPotencial.id]"
									class="btn btn-primary btn-ranking">Gráficos</a>
							</div>
						</div>
						<div class="row div-btns-risco">
							<div style="display: inline;" *ngIf="verifyStatusCriarPlano(i)">
								<a
									[routerLink]="['/risco-potencial/criar-plano/', riscoPotencial.id]"
									class="btn btn-primary btn-ranking">Criar Plano</a>
							</div>
							<div style="display: inline;" *ngIf="verifyStatusAcao(i)">
								<a [routerLink]="['/risco-potencial/acoes/', riscoPotencial.id]"
									class="btn btn-primary btn-ranking">Ações</a>
							</div>
							<div style="display: inline;"
								*ngIf="verifyStatusPlanoIntervencao(i)">
								<a
									[routerLink]="['/risco-potencial/plano-intervencao/', riscoPotencial.id]"
									class="btn btn-primary btn-ranking">Plano de Intervenção</a>
							</div>
							<div style="display: inline;"
								*ngIf="verifyStatusAcompanhamento(i)">
								<a
									[routerLink]="['/risco-potencial/acompanhamento/', riscoPotencial.id]"
									class="btn btn-primary btn-ranking">Acompanhamento</a>
							</div>
						</div>
					</tr>
				</tbody>
			</div>

		</table>

	</div>

	<!-- Paginação
	<app-paginacao [filter]="filter" [paginasAtuais]="paginasAtuais"
		[paginas]="paginas" [listComponent]="listComponent"
		[verifyEmptyPaginas]="verifyEmptyPaginas"></app-paginacao>

	<div class="row bts">
		<div class="col s8">
			<a class="waves-effect waves-light btn" (click)="openModal()">Filtro</a>
		</div>
		<div class="col s4">
			<a [routerLink]="['/risco-ghe/cadastrar']"
				class="waves-effect waves-light btn button-add">Adicionar</a>
		</div>
	</div>
 -->
</div>

<!-- Modal Structure 
<div id="modal" class="modal" materialize="modal"
	[materializeParams]="modelParams" [materializeActions]="modalActions">

	<div class="row">

		<div class="input-field col s12">
			<div class="modal-content">
				<label for="nome">Título</label> <input type="text" id="titulo"
					[(ngModel)]="filter.titulo" name="titulo">
			</div>
		</div>

	</div>

	<div class="modal-footer">
		<a class="waves-effect waves-green btn-flat" (click)="closeModal()">Fechar</a>
		<a class="modal-action modal-close waves-effect waves-green btn-flat"
			(click)="setFilter()">Filtrar</a>
	</div>

</div>
-->
<!-- 
<app-confirm-delete [service]="service" [idDelete]="tempDelete" 
	[show]="openModalDelete"></app-confirm-delete>
 -->
<div class="mensagem">
	<app-mensagem-form *ngIf="verifyError" [color]="colorError"
		[msg]="msgError"></app-mensagem-form>
</div>

<div materialize [materializeParams]="toastParams"
	[materializeActions]="globalActions"></div>