select {
	display: inline;
}

.input-field>select {
	display: block;
	position: absolute;
	width: 250px;
	pointer-events: all;
	height: 50px;
	top: 0;
	left: 20px;
	opacity: 10;
}

table {
	border: 1px solid #c0c0c0;
    display: inline-table;
	margin-top: 40px;
	margin-bottom: 0px;
}

thead > tr {
	margin-bottom: 0px;
	border-bottom: 1px solid;
}

th {
	margin-bottom: 0px;
}

td > a > i {
	margin-top: -5px;
}

tbody{
	border-bottom: 1px solid #c0c0c0;	
}

.btn-floating i {
	font-size: 1.3rem;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: auto;
}

.checkbox {
	margin-top: 30px;
}

.checkboxtable{
	margin-top: 0px;
}

tbody{
	margin-top: 0px;
	border-bottom: 1px solid #c0c0c0;	
	display: flex !important;
	padding: 0;
}

.container-triagem {
	padding-top: 20px;
	width: 100%;
    margin-bottom: 30px;
}

.table-triagem {
	margin-top: -40px;
	display: inline;
}

.fieldset-planejamento-triagem {
	background: #e6fdff;
	margin: 20px;
}

.center-icon {
	margin-top: 0px;
}

input {
	margin-bottom: 0 !important;
}

.btn-add {
	margin-top: 17px;
    margin-left: -30px;
}

.btn-remove {
	margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
	width: 30px;
    height: 30px;
}

td, th {
  	padding: 15px 5px;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
 	display: table-cell;
	text-align: left;
 	vertical-align: middle;
 	border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}