<head>
<meta charset="utf-8">
</head>

<!-- Modal Structure -->
<div id="modal" class="modal" materialize="modal"
	[materializeParams]="[{dismissible: false}]"
	[materializeActions]="modalFilaEsperaOcupacional">

	<h5 class="title-modal title-modal-filaEsperaOcupacional">Fila de
		Espera</h5>
	<div class="row">
		<div class="input-field col s12">
			<div class="col s12">
				<fieldset class="select">
					<legend>
						Serviço <a
							class="btn-floating waves-effect waves-light green btn-add-fieldset"
							(click)="getServicos()"> <i
							class="material-icons center-icon">cached</i>
						</a>
					</legend>
					<select class="browser-default" [ngModel]="filter.servico?.id"
						(ngModelChange)="filter.servico.id=$event">
						<option disabled selected value=0>Selecione um servico</option>
						<option *ngFor="let servico of servicos" value="{{servico.id}}">{{servico.nome}}</option>
					</select>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<fieldset>
					<label for="profissional.empregado">Empregado</label> <input
						type="text" materialize="autocomplete" autocomplete="off"
						name="profissional.empregado.pessoa.nome" required
						[(ngModel)]="profissional.empregado.pessoa.nome"
						(blur)="autoCompleteEmpregado.getAutocomplete().getObj($event,profissional,'setEmpregado','getNome')"
						(ngModelChange)="autoCompleteEmpregado.getAutocomplete().getList(profissional.empregado, 'getNome');"
						[materializeParams]="autoCompleteEmpregado.getAutocomplete().getObjAutoComplete()">
				</fieldset>
			</div>
		</div>
	</div>
			<table class="table table-striped table-filter-planejamento"
					[mfData]="arrayFilaEsperaOcupacional " 
					#mf="mfDataTable" [mfRowsOnPage]=10>
				 <thead>
				    <tr>
				        <th>
				           <mfDefaultSorter by="empregado">Empregado</mfDefaultSorter>
				        </th>
				        <th>
				           <mfDefaultSorter by="dataChekin">Horário Checkin</mfDefaultSorter>
				        </th>
				    </tr>
			    </thead>
		    	<tbody>
				    <tr *ngFor="let item of arrayFilaEsperaOcupacional" class="tr-filter-descricao" (click)="selectFilaEsperaOcupacional(item)">
				        <td>{{item.empregado.pessoa.nome}}</td>
				        <td>{{item.horarioCheckin  |transformDate}}</td>
				    </tr>
			    </tbody>
			</table>
	<div class="modal-footer">
		<a class="waves-effect waves-green btn-flat"
			(click)="buscarFilaEsperasOcupacionais()">Buscar</a> <a
			class="waves-effect waves-green btn-flat"
			(click)="cancelarModalFilaEsperaOcupacional()">Cancelar</a>
	</div>

</div>