<head>
<meta charset="utf-8">
</head>

<div class="container-triagem">
	<div class="table-triagem">
		<table style="width: 100%">
			<div class="container-triagens-planejamento">
				<div *ngFor="let triagem of triagens; let t = index">
					<div *ngIf="verifyIndiceTriagem(triagem)">
						<fieldset [ngClass]="planejamentoBackground(triagem)"
							class="fieldset-planejamento-triagem">
							<div class="row">
								<tr class="row col s12">
									<td class="col s3 label-indicador">Indicador</td>
									<td class="col s9 indicador">{{triagem.indicadorSast.nome}}</td>
								</tr>
							</div>
							<div class="row">
								<tr class="row col s12">
									<td class="col s3 label-indice-descricao">Índice Descrição</td>
									<td class="col s9 indice-descricao">{{getIndiceDescricao(triagem)}}</td>
								</tr>
							</div>
							<div class="row">
								<tr class="row col s12">
									<td class="col s3 label-eixo-clinico">Eixo Clínico</td>
									<td class="col s9 eixo-clinico"><input type="text"
										name="eixo-clinico{{t}}" disabled
										[(ngModel)]="triagem.diagnostico.eixo.titulo"></td>
								</tr>
							</div>
							<div class="row">
								<tr class="row col s12">
									<td class="col s3 label-diagnostico">Diagnóstico</td>
									<td class="col s9 diagnostico"><input
										(click)="openModalDiagnostico(triagem)"
										id="triagem{{t}}.diagnostico.descricao" type="text"
										name="triagem{{t}}.diagnostico.descricao"
										[(ngModel)]="triagem.diagnostico.descricao"></td>
								</tr>
							</div>
							<div class="row">
								<tr class="row col s12">
									<td class="col s3 label-intervencao">Intervenção</td>
									<td class="col s9 intervencao"><input
										(click)="openModalIntervencao(triagem)"
										id="triagem{{t}}.intervencao.descricao" type="text"
										name="triagem{{t}}.intervencao.descricao"
										[(ngModel)]="triagem.intervencao.descricao"></td>
								</tr>
							</div>
							<div class="row">
								<tr class="row col s12">
									<td class="col s3 label-equipe-abordagem">Equipe de
										Abordagem</td>
									<td class="col s9 equipe-abordagem"><input
										(click)="openModalEquipe(triagem)"
										id="triagem{{t}}.equipeAbordagem.nome" type="text"
										name="triagem{{t}}.equipeAbordagem.nome"
										[(ngModel)]="triagem.equipeAbordagem.nome">
								</tr>
							</div>
							<div class="row">
								<tr class="row col s12">
									<td class="col s3 label-prazo-inicio">Sugestão de prazo de
										início</td>
									<td class="col s9 prazo-inicio"><select name="prazo{{t}}"
										class="resposta-conteudo" class="browser-default"
										[(ngModel)]="triagem.prazo">
											<option disabled selected value="">Selecione um prazo</option>
											<option *ngFor="let prazo of prazos" value="{{prazo}}">{{prazo}}</option>
									</select></td>
								</tr>
							</div>
							<div class="row">
								<tr class="row col s12">
									<td class="col s3 label-justificativa">Justificativa/Observação</td>
									<td class="col s9 justificativa"><input type="text"
										name="justificativa{{t}}" class="resposta-conteudo"
										[(ngModel)]="triagem.justificativa"></td>
								</tr>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</table>
	</div>

</div>

<app-modal-diagnostico *ngIf="activeDiagnostico" [service]="innerService" 
	(diagnostico)="selectDiagnostico($event)" (cancelModalDiagnostico)="cancelarModalDiagnostico($event)"
	[showModalDiagnostico]="showModalDiagnostico" [idEquipeProfissional]="innerIdEquipe"></app-modal-diagnostico>

<app-modal-intervencao *ngIf="activeIntervencao" [service]="innerService"
	(intervencao)="selectIntervencao($event)" (cancelModalIntervencao)="cancelarModalIntervencao($event)"
	[showModalIntervencao]="showModalIntervencao" [idEquipeProfissional]="innerIdEquipe"></app-modal-intervencao>

<app-modal-equipe (equipe)="selectEquipe($event)" [service]="innerService" 
	(cancelModalEquipe)="cancelarModalEquipe($event)" [showModalEquipe]="showModalEquipe"></app-modal-equipe>